<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>好聽音樂 | CiMi交友論壇</title>

    <link rel="stylesheet" href="assets/css/article_all.css">
</head>

<body>

    @@include('layout/header.html')

    <section class="content_area">
        @@include('layout/sidebar.html')
        <main class="main_area">
            @@include('article_lightbox.html')
            <!-- 文章分類Banner -->
            <div class="article_sort_banner">
                <img src="https://picsum.photos/600/200/?random=10">
            </div>
            <section class="article_sort">
                <!-- 文章分類大標 -->
                <div class="article_sort_box">
                    <div class="article_sort_item">
                        <div class="article_sort_icon">
                            <img src="assets/images/icon/shop_3C.png">
                        </div>
                        <div class="article_sort_txt">好聽音樂</div>
                    </div>
                    <div class="follow_btn">
                        <input class="btn-secondary" type="button" value="追蹤">
                    </div>
                </div>
                <!-- 文章篩選功能切換 -->
                <div id="tabs" class="container">
                    <div class="tabs">
                        <a v-on:click="activetab='1'" v-bind:class="[ activetab === '1' ? 'active' : '' ]">最新</a>
                        <a v-on:click="activetab='2'" v-bind:class="[ activetab === '2' ? 'active' : '' ]">熱門</a>
                        <a v-on:click="activetab='3'" v-bind:class="[ activetab === '3' ? 'active' : '' ]">規則</a>
                    </div>

                    <div class="content">
                        <div v-if="activetab ==='1'" class="tabcontent">
                            <div class="charts_box">
                                <!-- 單篇文章 -->

                                <div class="article_box" id="demo_article_box">
                                    <!-- 發文者 -->
                                    <div class="article_mem_info">
                                        <div class="article_mem_icon">
                                            <img src="https://fakeimg.pl/12x12/200">
                                        </div>
                                        <div class="article_mem_name">穿搭小天才</div>
                                    </div>
                                    <!-- 文章標題 -->
                                    <div class="article_container">
                                        <!-- 文章內容 -->
                                        <div class="article_txt_box">
                                            <div class="article_txt_item">
                                                <!-- 文章標題 -->
                                                <div class="article_title">穿搭精華區上線啦！！</div>
                                                <!-- 文章摘要 -->
                                                <div class="article_summary">
                                                    嗨嗨穿搭板的卡友們！<br>
                                                    我是穿搭穿搭板的穿搭板的小梨子🍐
                                                </div>
                                            </div>
                                            <!-- 文章反應 -->
                                            <div class="article_react">
                                                <!-- 喜歡數 -->
                                                <div class="article_like_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/like.png" alt="">
                                                    </div>
                                                    <div class="article_like_amount">144</div>
                                                </div>
                                                <!-- 留言數 -->
                                                <div class="article_comment_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/comment.png" alt="">
                                                    </div>
                                                    <div class="article_comment_amount">24</div>
                                                </div>
                                                <!-- 收藏 -->
                                                <div class="article_collect_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/save_hov.png" alt="">
                                                    </div>
                                                    <div class="article_collect_amount">收藏</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 文章圖片 -->
                                        <div class="article_pic_box">
                                            <img src="https://picsum.photos/150/150/?random=110">
                                        </div>
                                    </div>
                                </div>
                                <!-- 單篇文章 -->
                                <div class="article_box">
                                    <!-- 發文者 -->
                                    <div class="article_mem_info">
                                        <div class="article_mem_icon">
                                            <img src="https://fakeimg.pl/12x12/200">
                                        </div>
                                        <div class="article_mem_name">音樂隨筆</div>
                                    </div>
                                    <!-- 文章標題 -->
                                    <div class="article_container">
                                        <!-- 文章內容 -->
                                        <div class="article_txt_box">
                                            <div class="article_txt_item">
                                                <!-- 文章標題 -->
                                                <div class="article_title">【音樂月報#5】2022年2月號</div>
                                                <!-- 文章摘要 -->
                                                <div class="article_summary">
                                                    音樂月報主題會以每個月一次的形式，把該月聽到的好音樂分享出來！
                                                </div>
                                            </div>

                                            <!-- 文章反應 -->
                                            <div class="article_react">
                                                <!-- 喜歡數 -->
                                                <div class="article_like_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/like.png" alt="">
                                                    </div>
                                                    <div class="article_like_amount">144</div>
                                                </div>
                                                <!-- 留言數 -->
                                                <div class="article_comment_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/comment.png" alt="">
                                                    </div>
                                                    <div class="article_comment_amount">24</div>
                                                </div>
                                                <!-- 收藏 -->
                                                <div class="article_collect_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/save_hov.png" alt="">
                                                    </div>
                                                    <div class="article_collect_amount">收藏</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 文章圖片 -->
                                        <div class="article_pic_box">
                                            <img src="https://picsum.photos/150/150/?random=10">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- 熱門文章區塊 -->

                        <div v-if="activetab ==='2'" class="tabcontent">
                            <div class="charts_box">
                                <div class="article_box">
                                    <!-- 發文者 -->
                                    <div class="article_mem_info">
                                        <div class="article_mem_icon">
                                            <img src="https://fakeimg.pl/12x12/200">
                                        </div>
                                        <div class="article_mem_name">MAAZA</div>
                                    </div>
                                    <!-- 文章標題 -->
                                    <div class="article_container">
                                        <!-- 文章內容 -->
                                        <div class="article_txt_box">
                                            <div class="article_txt_item">
                                                <!-- 文章標題 -->
                                                <div class="article_title">#售票 落日飛車 3/7夕陽無限好聽</div>
                                                <!-- 文章摘要 -->
                                                <div class="article_summary">
                                                    原價售3/7落日飛車專場1樓 Q排38號的票
                                                    已經付款了
                                                    匯款後自行去全家取票喲~
                                                </div>
                                            </div>

                                            <!-- 文章反應 -->
                                            <div class="article_react">
                                                <!-- 喜歡數 -->
                                                <div class="article_like_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/like.png" alt="">
                                                    </div>
                                                    <div class="article_like_amount">144</div>
                                                </div>
                                                <!-- 留言數 -->
                                                <div class="article_comment_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/comment.png" alt="">
                                                    </div>
                                                    <div class="article_comment_amount">24</div>
                                                </div>
                                                <!-- 收藏 -->
                                                <div class="article_collect_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/save_hov.png" alt="">
                                                    </div>
                                                    <div class="article_collect_amount">收藏</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 文章圖片 -->
                                        <div class="article_pic_box">
                                            <img src="https://picsum.photos/150/150/?random=10">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="activetab ==='3'" class="tabcontent">
                            <div class="charts_box">
                                <p class="billboard_title">看版規範</p>
                                <p class="billboard_rule">
                                    一、避免不當言論
                                    1. 在社團發文屬公開性質，請斟酌用字遣詞、互相尊重、負責。
                                    2. 不得討論 政治、宗教 或其他容易引起爭執之議題。
                                    3. 嚴禁發表各種色情、恐怖、猥褻的文章或圖片。
                                    4. 禁止各種謾罵、不雅、毀謗、傷害、暴力、人身攻擊或影射之言論。
                                    5. 嚴禁公開號招聚賭、糾眾夜遊、滋事、飆車、援交，及其他不法行為。
                                    6. 勿發表毫無憑據之負面評論，如有任何追訴，請自負法律責任。
                                    7. 禁止在版上PO臨檢、路檢、攔查之相關文章。
                                    .
                                    二、發文規則
                                    1. 勿PO非關新營或鄰近區域之事物，若附圖片或影片必需與內文相關。
                                    2. 為避免洗版，所有PO文僅限單一張圖片，禁止開設相簿。
                                    3. 徵才請至 https://goo.gl/4bxrWv 留言，需寫明公司資訊與職缺內容供求職版友參考。
                                    4. 求職請主動查看徵才專區，或留言 http://goo.gl/UntXnw ，在版上PO徵才求職一律砍文不另外告知。
                                    5. 有物超所值的優惠活動，請在新營人好康分享 http://goo.gl/3VkrHk 留言推薦。
                                    6. 非經管理團隊允許，禁止以私人名義發起捐物資或捐款 (堪用二手物品除外)。
                                    7. 本社團非交友聯誼社團，有關徵友徵婚或其他社團拉人之PO文，一律刪除。
                                    .
                                    三、外部連結
                                    1. 發文在社團裡的連結，無論是問卷調查或是好康分享等等，請清楚標示主題及連結內容。
                                    2. 發文者需先確定沒有惡意程式或病毒，若管理員判定可能為不安全連結時，將直接刪除。
                                    .
                                    四、勤爬文
                                    1. 建議多利用 Google
                                    搜尋功能；若需在版上提出問題，也請先至【檔案區】查找，或利用右上角"放大鏡"搜尋相關資訊，儘量避免相同話題重覆發文，另依資訊集中原則，同一事件只保留最早之PO文。
                                    .
                                    五、店家廣告文 (限新營或鄰近之實體店家)
                                    1. 請店家先至【實體店家廣告登記區】http://goo.gl/3f3wCi 登記，未取得廣告核准編號，不得廣告。
                                    2. 廣告刊頭需標示，例:【8月廣告130XXX】字樣，若標示不完整，將提醒您重新PO文。
                                    3. 請遵守 "一個月限PO一則廣告" 重覆廣告將移除，並禁刊次月廣告。
                                    4. 可用粉絲團或相簿網址，有新優惠、活動請於原廣告留言補充，若違規推文將移除該廣告。
                                    5. 固定攤位、夜市攤位，歸納於本廣告登記規範。
                                    6. 寵物活體買賣依法需有合法之證明 (例如: 狗/貓)。
                                    7. 本社團禁止傳直銷、保險、金融商品之廣告。
                                    .
                                    六、其他交易規範 (限新營在地或鄰近地區)
                                    1. 無店鋪之個人收費服務 (例如: 按摩/美容美甲) 請至【新營個人收費服務】http://goo.gl/8iITaw
                                    留言刊登，需說明服務內容，有固定價格者需明白標示。
                                    2. 個人二手/閒置物品出售，請至【新營二手/閒置物品/提貨票劵買賣】http://goo.gl/C9FprX 留言刊登。
                                    3. 在地出產之農產漁獲/手工食品出售，請至【新營區農產漁獲/手工食品買賣】http://goo.gl/5ODjsE 留言刊登。
                                    4. 在地營利販售商品之個人賣家，僅限於【新營個人營利賣家宣傳區】http://goo.gl/OjND1C 留言宣傳。
                                    5. 在地房屋租/售，請至【新營房屋(不動產)租/售專區】http://goo.gl/Ge6RDF 留言刊登。
                                    6. 本社團禁止團購行為。
                                    7. 不得販售菸酒檳榔、醫療類、盜版仿冒、法規違禁物等。
                                    .
                                    七、懲治條款
                                    1. 在家賺錢有多好賺或收集點閱率，諸如此類PO文，或惡意發佈病毒連結者，直接刪文，並可能踢出社團。
                                    2. 嚴禁廣告代打之寫手文，經發現事實，第一次提醒並刪文，再犯者寫手與店家帳號一併請出社團。
                                    3. 已告知違反版規事項，經屢勸不改善，情節嚴重或言論惡意攻擊威脅者，直接請出社團。
                                    .
                                    八、補充說明:
                                    1. 違反版規被移除PO文，請自行詳閱版規，若有誤會，請私訊向管理員反應問題；在版面上詢問為什麼被刪文一律移除，蓄意鬧版或無故黑管理員者踢出社團並封鎖。
                                    2. 若版友受到社團內不明人士之騷擾，可向管理員投訴，經佐證屬實，將踢出社團並封鎖，另涉及違法行為者，行為人須負擔相關法律責任。
                                    3. 網路購物風險高，本社團不負相關責任，提醒版友在交易前務必評估風險，盡量以當面交易方式，保障自身權益，避免上當受騙！
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </section>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#tabs',
            data: {
                activetab: '1',
                lightbox: null,
                close: null,
                article_box: null,
                // list: [
                //     {title: '',
                //     content: ''}
                // ],
            },
            watch: {
                activetab() {
                    this.$nextTick(this.init);
                },
            },
            methods: {
                setTargets() {
                    this.lightbox = document.querySelectorAll(".lightbox");
                    this.close = document.querySelectorAll(".close_icon");
                    this.article_box = document.getElementById("demo_article_box");
                },
                close_lightbox() {
                    this.lightbox[0].style.display = "none";
                    let html = document.getElementsByTagName('html')[0];
                    html.style = "overflow:hidden scroll";

                },
                open_lightbox() {
                    this.lightbox[0].style.display = "block";
                    let html = document.getElementsByTagName('html')[0];
                    console.log(html);
                    html.style = "overflow:hidden";
                },
                init() {
                    this.setTargets();
                    if (this.article_box) this.article_box.onclick = this.open_lightbox;
                    if (this.close[0]) this.close[0].onclick = this.close_lightbox;
                    console.log('init')
                }
            },
            mounted() {
                this.$nextTick(this.init);
            },
        });
    </script>
    <script type="text/javascript" src="js/article.js"></script>


</body>

</html>