<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>創作者排行榜 | CiMi交友論壇</title>

    <link rel="stylesheet" href="assets/css/charts.css" />
    <link rel="stylesheet" href="assets/css/tabs.css" />
</head>

<body>
    @@include('layout/header.html')

    <div class="content_area">
        @@include('layout/sidebar.html')
        <main class="main_area">
            <h2>創作者排行榜</h2>
            <div id="tabs" class="container">
                <div class="tabs">
                    <a @click="activetab='1'" :class="[ activetab === '1' ? 'active' : '' ]">發文</a>
                    <a @click="activetab='2'" :class="[ activetab === '2' ? 'active' : '' ]">喜歡</a>
                    <a @click="activetab='3'" :class="[ activetab === '3' ? 'active' : '' ]">收藏</a>
                    <a @click="activetab='4'" :class="[ activetab === '4' ? 'active' : '' ]">追蹤</a>
                </div>

                <div class="content">
                    <div v-if="activetab ==='1'" class="tabcontent">
                        <div class="charts_content" v-for="(item, index) in post" :key="index">
                            <div class="charts_box">
                                <div class="charts_rank">
                                    <span>No.{{index+1}}</span>
                                </div>
                                <div class="charts_img">
                                    <img v-bind:src="item.mem_head" />
                                </div>
                                <div class="charts_name">
                                    <span class="charts_mem">{{item.mem_name}}</span>
                                    <span class="charts_account">@{{item.mem_id}}</span>
                                </div>
                            </div>
                            <div class="charts_wrap">
                                <div class="charts_sum">
                                    發文數 : <span>{{item.mem_post}}</span>
                                </div>
                                <div class="charts_btn">
                                    <button type="button" class="btn-secondary"
                                        @click="addFollow">{{isTrack(item.mem_id)}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="activetab ==='2'" class="tabcontent">
                        <div class="charts_content" v-for="(item, index) in like" :key="index">
                            <div class="charts_box">
                                <div class="charts_rank">
                                    <span>No.{{index+1}}</span>
                                </div>
                                <div class="charts_img">
                                    <img v-bind:src="item.mem_head" />
                                </div>
                                <div class="charts_name">
                                    <span class="charts_mem">{{item.mem_name}}</span>
                                    <span class="charts_account">@{{item.mem_id}}</span>
                                </div>
                            </div>
                            <div class="charts_wrap">
                                <div class="charts_sum">
                                    喜歡數 : <span>{{item.article_likes_amount}}</span>
                                </div>
                                <div class="charts_btn">
                                    <button type="button" class="btn-secondary"
                                        @click="addFollow">{{isTrack(item.mem_id)}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="activetab ==='3'" class="tabcontent">
                        <div class="charts_content" v-for="(item, index) in favs" :key="index">
                            <div class="charts_box">
                                <div class="charts_rank">
                                    <span>No.{{index+1}}</span>
                                </div>
                                <div class="charts_img">
                                    <img v-bind:src="item.mem_head" />
                                </div>
                                <div class="charts_name">
                                    <span class="charts_mem">{{item.mem_name}}</span>
                                    <span class="charts_account">@{{item.mem_id}}</span>
                                </div>
                            </div>
                            <div class="charts_wrap">
                                <div class="charts_sum">
                                    收藏數 : <span>{{item.article_collect_amount}}</span>
                                </div>
                                <button type="button" class="btn-secondary"
                                    @click="addFollow">{{isTrack(item.mem_id)}}</button>
                            </div>
                        </div>
                    </div>
                    <div v-if="activetab ==='4'" class="tabcontent">
                        <div class="charts_content" v-for="(item, index) in follow" :key="index">
                            <div class="charts_box">
                                <div class="charts_rank">
                                    <span>No.{{index+1}}</span>
                                </div>
                                <div class="charts_img">
                                    <img v-bind:src="item.mem_head" />
                                </div>
                                <div class="charts_name">
                                    <span class="charts_mem">{{item.mem_name}}</span>
                                    <span class="charts_account">@{{item.mem_id}}</span>
                                </div>
                            </div>
                            <div class="charts_wrap">
                                <div class="charts_sum">
                                    追蹤數 : <span>{{item.follow}}</span>
                                </div>
                                <button type="button" class="btn-secondary"
                                    @click="addFollow">{{isTrack(item.mem_id)}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>

    <!-- 分類頁籤 -->
    <script>
        new Vue({
            el: '#tabs',
            data: {
                activetab: '1',
                post: [],
                poster: [],
                like: [],
                favs: [],
                follow: [],
                track: [],
            },
            mounted() {
                let vm = this
                // 为给定 ID 的 user 创建请求
                let params = new URLSearchParams();
                params.append("mem_no", sessionStorage.getItem('mem_no'));
                axios.post('phps/chart.php', params)
                    .then(function (response) {
                        vm.post = response.data.post
                        vm.like = response.data.like
                        vm.favs = response.data.fav
                        vm.follow = response.data.follow


                        vm.track = response.data.track.map(item => Object.values(item)[0])
                        vm.poster = response.data.post.map(item => Object.values(item)[0])

                        console.log('vm.track', vm.track);
                        console.log('vm.poster', vm.poster);


                        vm.poster.indexOf(vm.track); // -1
                        console.log(vm.poster.indexOf(vm.track));

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            methods: { // 函數大部分放在這裡!
                addFollow(e) {
                    console.log(sessionStorage.getItem('login'));

                    if (sessionStorage.getItem('login') == null) {
                        alert("請先登入")
                    } else if (sessionStorage.getItem('login') == 'success') {
                        if (e.target.innerText == "已追蹤") {
                            e.target.innerText = "追蹤";
                            this.cancelFollow()
                        } else if (e.target.innerText == "追蹤") {
                            e.target.innerText = "已追蹤";
                            this.getFollow()
                        }
                    }
                },
                isTrack(id) {
                    if (this.track.indexOf(id) >= 0) {
                        return "已追蹤"
                    }
                    return "追蹤"
                },
            },
            computed: {

            }
        });
    </script>

</body>

</html>