<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>創作者排行榜 | CiMi交友論壇</title>
    <link rel="stylesheet" href="assets/css/charts.css">
    <link rel="stylesheet" href="assets/css/tabs.css">
</head>

<body>
    @@include('layout/header.html')

    <div class="content_area">
        @@include('layout/sidebar.html')
        <main class="main_area">
            <h2>創作者排行榜</h2>
            <div id="tabs" class="container">
                <div class="tabs">
                    <a @click="activetab='1'" :class="[ activetab === '1' ? 'active' : '' ]">發文</a>
                    <a @click="activetab='2'" :class="[ activetab === '2' ? 'active' : '' ]">喜歡</a>
                    <a @click="activetab='3'" :class="[ activetab === '3' ? 'active' : '' ]">收藏</a>
                    <a @click="activetab='4'" :class="[ activetab === '4' ? 'active' : '' ]">追蹤</a>
                </div>

                <div class="content">
                    <div v-if="activetab ==='1'" class="tabcontent">
                        <div class="charts_content">
                            <div class="charts_box">
                                <div class="charts_rank">
                                    <span>No.1</span>
                                </div>
                                <div class="charts_img">
                                    <img src="https://picsum.photos/100/100/?random=12">
                                </div>
                                <div class="charts_name">
                                    <span class="charts_mem">抹抹健康</span>
                                    <span class="charts_account">@mumumu</span>
                                </div>
                            </div>
                            <div class="charts_wrap">
                                <div class="charts_sum">
                                    發文數 : <span>343</span>
                                </div>
                                <div class="charts_btn">
                                    <button type="button" class="btn-secondary">追蹤</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="activetab ==='2'" class="tabcontent"></div>

                    <div v-if="activetab ==='3'" class="tabcontent"></div>

                    <div v-if="activetab ==='4'" class="tabcontent"></div>

                </div>
            </div>
        </main>
    </div>

    <script src="js/vue.js"></script>
    <!-- 分類頁籤 -->
    <script>
        new Vue({
            el: '#tabs',
            data: {
                activetab: '1'
            },
            methods: {
                getData() {

                }
            },
            mounted() {
                // this.getData();
                let charts_mem = document.querySelectorAll('.charts_mem'); //會員名稱
                let charts_icon = document.querySelectorAll('.charts_img img'); //會員頭像
                let charts_account = document.querySelectorAll('.charts_account'); //會員帳號
                let charts_sum = document.querySelectorAll('.charts_sum span'); //排行計算

                // console.log(charts_icon)

                // GET
                let xhr = new XMLHttpRequest();
                xhr.open("get", `phps/getcharts.php?case=${this.activetab}`, true);
                xhr.send(null);

                xhr.onload = function () {
                    // 接收PHP傳來的資料
                    charts_info = JSON.parse(xhr.responseText);
                    // charts_account[0].innerText = charts_info[0];
                    for (let i = 0; i < charts_account.length; i++) {
                        // console.log(charts_info[i].mem_name);
                        charts_mem[i].innerText = charts_info[i].mem_name;
                        charts_account[i].innerText = "@" + charts_info[i].mem_id;
                        charts_icon[i].src = charts_info[i].mem_head;
                        charts_sum[i].innerText = charts_info[i].mem_post;
                    }
                }
            },
            updated() {
                // this.getData();
                let charts_mem = document.querySelectorAll('.charts_mem'); //會員名稱
                let charts_icon = document.querySelectorAll('.charts_img img'); //會員頭像
                let charts_account = document.querySelectorAll('.charts_account'); //會員帳號
                let charts_sum = document.querySelectorAll('.charts_sum span'); //排行計算

                // console.log(charts_icon)

                // GET
                let xhr = new XMLHttpRequest();
                xhr.open("get", `phps/getcharts.php?case=${this.activetab}`, true);
                xhr.send(null);

                xhr.onload = function () {
                    // 接收PHP傳來的資料
                    charts_info = JSON.parse(xhr.responseText);
                    // charts_account[0].innerText = charts_info[0];
                    for (let i = 0; i < charts_account.length; i++) {
                        // console.log(charts_info[i].mem_name);
                        charts_mem[i].innerText = charts_info[i].mem_name;
                        charts_account[i].innerText = "@" + charts_info[i].mem_id;
                        charts_icon[i].src = charts_info[i].mem_head;
                        charts_sum[i].innerText = charts_info[i].mem_post |= charts_info[i]
                            .article_likes_amount |= charts_info[i].article_collect_amount |= charts_info[i]
                            .writer_no;

                        console.log(charts_info[i])
                    }
                }
            }
        });
    </script>

</body>

</html>