<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>創作者排行榜 | CiMi交友論壇</title>

    <link rel="stylesheet" href="assets/css/charts.css" />
    <link rel="stylesheet" href="assets/css/tabs.css" />
    <script src="js/vue.js"></script>
</head>

<body>
    @@include('layout/header.html')

    <div class="content_area">
        @@include('layout/sidebar.html')
        <main class="main_area">
            <h2>創作者排行榜</h2>
            <div id="tabs" class="container">
                <!-- <router-view v-if="isRouterAlive"></router-view> -->
                <div class="tabs">
                    <a @click="activetab='1'" :class="[ activetab === '1' ? 'active' : '' ]">發文</a>
                    <a @click="activetab='2'" :class="[ activetab === '2' ? 'active' : '' ]">喜歡</a>
                    <a @click="activetab='3'" :class="[ activetab === '3' ? 'active' : '' ]">收藏</a>
                    <a @click="activetab='4'" :class="[ activetab === '4' ? 'active' : '' ]">追蹤</a>
                </div>

                <div class="content">
                    <div v-if="activetab ==='1'" class="tabcontent">
                        <div class="charts_content" v-for="(item, index) in post" :key="index">
                            <div class="charts_box">
                                <div class="charts_rank">
                                    <span>No.{{index+1}}</span>
                                </div>
                                <div class="charts_img">
                                    <img v-bind:src="item.mem_head" />
                                </div>
                                <div class="charts_name">
                                    <span class="charts_mem">{{item.mem_name}}</span>
                                    <span class="charts_account">@{{item.mem_id}}</span>
                                </div>
                            </div>
                            <div class="charts_wrap">
                                <div class="charts_sum">
                                    發文數 : <span>{{item.mem_post}}</span>
                                </div>
                                <div class="charts_btn">
                                    <button type="button" class="btn-secondary"
                                        @click="show(item, index)">{{isTrack(item.mem_name)}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="activetab ==='2'" class="tabcontent">
                        <div class="charts_content" v-for="(item, index) in like" :key="index">
                            <div class="charts_box">
                                <div class="charts_rank">
                                    <span>No.{{index+1}}</span>
                                </div>
                                <div class="charts_img">
                                    <img v-bind:src="item.mem_head" />
                                </div>
                                <div class="charts_name">
                                    <span class="charts_mem">{{item.mem_name}}</span>
                                    <span class="charts_account">@{{item.mem_id}}</span>
                                </div>
                            </div>
                            <div class="charts_wrap">
                                <div class="charts_sum">
                                    喜歡數 : <span>{{item.article_likes_amount}}</span>
                                </div>
                                <div class="charts_btn">
                                    <button type="button" class="btn-secondary"
                                        @click="show(item, index)">{{isTrack(item.mem_name)}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="activetab ==='3'" class="tabcontent">
                        <div class="charts_content" v-for="(item, index) in favs" :key="index">
                            <div class="charts_box">
                                <div class="charts_rank">
                                    <span>No.{{index+1}}</span>
                                </div>
                                <div class="charts_img">
                                    <img v-bind:src="item.mem_head" />
                                </div>
                                <div class="charts_name">
                                    <span class="charts_mem">{{item.mem_name}}</span>
                                    <span class="charts_account">@{{item.mem_id}}</span>
                                </div>
                            </div>
                            <div class="charts_wrap">
                                <div class="charts_sum">
                                    收藏數 : <span>{{item.article_collect_amount}}</span>
                                </div>
                                <div class="charts_btn">
                                    <button type="button" class="btn-secondary"
                                        @click="show(item, index)">{{isTrack(item.mem_name)}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="activetab ==='4'" class="tabcontent">
                    <div class="charts_content" v-for="(item, index) in follow" :key="index">
                        <div class="charts_box">
                            <div class="charts_rank">
                                <span>No.{{index+1}}</span>
                            </div>
                            <div class="charts_img">
                                <img v-bind:src="item.mem_head" />
                            </div>
                            <div class="charts_name">
                                <span class="charts_mem">{{item.mem_name}}</span>
                                <span class="charts_account">@{{item.mem_id}}</span>
                            </div>
                        </div>
                        <div class="charts_wrap">
                            <div class="charts_sum">
                                追蹤數 : <span>{{follow_num[index]}}</span>
                            </div>
                            <div class="charts_btn">
                                <button type="button" class="btn-secondary"
                                    @click="show(item, index)">{{isTrack(item.mem_name)}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"></script>

    <!-- 分類頁籤 -->
    <script>
        new Vue({
            el: '#tabs',
            data: {
                isRouterAlive: true,
                activetab: '1',
                //四個分頁的data
                post: [],
                like: [],
                favs: [],
                follow: [],
                track: [], // //該會員有追蹤的人
                user: "",
                editObj: {
                    writer_no: "",
                    state: "",
                    track: "",
                    follow: ""
                },
                follow_num: []

            },
            mounted() {

                //用戶狀態寫入this.user
                this.user = sessionStorage.getItem('login')
                let params = new URLSearchParams();
                params.append("case", this.user);
                params.append("mem_no", sessionStorage.getItem('mem_no'));


                //重新定向vue
                let vm = this

                //發送axios請求 : 需獲取 1. 會員 "未登入" 以及 2."登入狀態" 資料
                axios.post('phps/getcharts.php', params)
                    .then(function (response) {
                        // console.log(response.data);
                        vm.post = response.data.post
                        vm.like = response.data.like
                        vm.favs = response.data.fav
                        vm.follow = response.data.follow
                        vm.follow_num = response.data.follow.map(item => parseInt(Object.values(item)[3]))
                        console.log(vm.follow_num);

                        vm.track = response.data.track.map(item => Object.values(item)[1])

                    })
                    .catch(function (error) {
                        // console.log(error);
                    });

                if (sessionStorage.getItem('login') == null) {
                    // alert("請先登入")
                } else if (sessionStorage.getItem('login') == 'success') {
                    if (e.target.innerText == "已追蹤") {
                        e.target.innerText = "追蹤";
                        this.cancelFollow()
                    } else if (e.target.innerText == "追蹤") {
                        e.target.innerText = "已追蹤";
                        this.getFollow()
                    }
                }
            },
            isTrack(id) {
                if (this.track.indexOf(id) >= 0) {
                    return "已追蹤"
                }
                return "追蹤"
            },
            methods: {
                show(item, index) {
                    if (this.user == null) {
                        alert("請先登入")
                    } else {
                        // console.log(index);
                        // console.log(item.mem_no);
                        // console.log(this.track.indexOf(item.mem_name));

                        //找到當前要點擊的btn
                        let btn = document.querySelectorAll('.charts_btn button')

                        // 判斷當前用戶追蹤||已追蹤狀態
                        if ((btn[index].innerText) == "已追蹤") { //用戶已被追蹤

                            let obj = {
                                writer_no: `${item.mem_no}`,
                                state: "已追蹤", //目前狀態
                                track: "追蹤", // 點擊後的狀態
                            }
                            this.editObj = obj
                            btn[index].innerText = obj.track

                            this.$set(this.follow_num, index, this.follow_num[index] -= 1) //重新設定用戶追蹤數
                            // console.log('hi', this.follow_num[index]);



                            //--------------------------------------------------執行axios
                            let params = new URLSearchParams();
                            params.append("case", "deleteFollow");
                            params.append("writer_no", `${obj.writer_no}`);
                            params.append("mem_no", sessionStorage.getItem('mem_no'));


                            axios.post('phps/getcharts.php', params)
                                .then(function (response) {
                                    // console.log(response.data);

                                })
                                .catch(function (error) {
                                    // console.log(error);
                                });



                        } else { //用戶未被追蹤
                            let obj = {
                                writer_no: `${item.mem_no}`,
                                state: "追蹤",
                                track: "已追蹤"
                            }

                            this.editObj = obj
                            btn[index].innerText = obj.track
                            this.$set(this.follow_num, index, this.follow_num[index] += 1)

                            //--------------------------------------------------執行axios
                            let params = new URLSearchParams();
                            params.append("case", "insertFollow");
                            params.append("writer_no", `${obj.writer_no}`);
                            params.append("mem_no", sessionStorage.getItem('mem_no'));

                            axios.post('phps/getcharts.php', params)
                                .then(function (response) {
                                    // console.log(response.data);

                                })
                                .catch(function (error) {
                                    // console.log(error);
                                });
                        }

                    }
                },
                isTrack(mem_name) {
                    if (this.track.indexOf(mem_name) >= 0) {
                        return "已追蹤"
                    }
                    return "追蹤"
                },
            },

        });
    </script>

</body>

</html>