<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiMi交友論壇</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/slider.css">
    <link rel="stylesheet" href="assets/css/tabs.css">
    <link rel="stylesheet" href="assets/css/index_article.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/attendance.css">
</head>

<body>
    <header class="top_bar_box">
        <div class="top_bar">
            <div class="logo_box">
                <h1>
                    <a href="index.html">
                        <img src="assets/images/index_logo.svg" alt="CiMi交友論壇">
                    </a>
                </h1>
            </div>
            <form class="search_bar" action="">
                <input type="search">
                <button type="submit">
                    <img src="assets/images/icon/nav_search.png" alt="搜尋">
                </button>
            </form>
            <div class="member_bar">
                <ul>
                    <li><a href="post.html"><img src="assets/images/icon/nav_post.png" alt="發文"></a></li>
                    <li><a href="product.html"><img src="assets/images/icon/nav_shop.png" alt="好物商城"></a></li>
                    <li><a href="chat.html"><img src="assets/images/icon/nav_message.png" alt="聊天室"></a></li>
                    <li><a href="member_my_setup.html"><img src="assets/images/icon/nav_member.png" alt="會員"></a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="content_box">
        <div class="content_area">
            <div class="sidebar_box">
                <aside class="sidebar">
                    <nav>
                        <ul class="sidebar_list">
                            <li class="nav_phone"><a href="index.html"><img src="assets/images/icon/nav_home_w.png"
                                        alt="首頁">首頁</a></li>
                            <li><a href="billboard.html"><img src="assets/images/icon/nav_billboard_w.png"
                                        alt="所有看版">所有看版</a>
                            </li>
                            <li><a href="product.html"><img src="assets/images/icon/nav_shop_w.png" alt="好物商城">好物商城</a>
                            </li>
                            <li><a href="charts.html"><img src="assets/images/icon/nav_charts_w.png"
                                        alt="創作者排行榜">創作者排行榜</a>
                            </li>
                            <li class="nav_pc"><a href="cimi_destiny.html"><img src="assets/images/icon/game_card_w.png"
                                        alt="CiMi
                                        Destiny">CiMi
                                    Destiny</a></li>
                            <!-- <li class="nav_pc"><a href="http://"><img src="assets/images/icon/game_bottle_w.png"
                                        alt="真心話大冒險">真心話大冒險</a> -->
                            </li>
                            <!-- <li class="nav_phone"><a href="http://"><img src="assets/images/icon/games_w.png"
                                        alt="遊戲區">遊戲區</a>
                            </li> -->
                            <li class="nav_phone"><a href="member_my_setup.html"><img
                                        src="assets/images/icon/nav_member_w.png" alt="會員專區">會員專區</a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <main class="main_area">
                <div class="hot_billboard">
                    <h2>熱門看版排行</h2>
                    <div class="swiper_container">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="hot_article_wrap">
                                        <div class="hot_article_pic">
                                            <a href=""><img src="https://picsum.photos/250/300/?random=84"></a>
                                        </div>
                                        <div class="hot_article_txt">
                                            <h2>運動健身</h2>
                                        </div>
                                        <button class="btn-secondary">追蹤</button>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hot_article_wrap">
                                        <div class="hot_article_pic">
                                            <a href=""><img src="https://picsum.photos/250/300/?random=85"></a>
                                        </div>
                                        <div class="hot_article_txt">
                                            <h2>穿搭時尚</h2>
                                        </div>
                                        <button class="btn-secondary">追蹤</button>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hot_article_wrap">
                                        <div class="hot_article_pic">
                                            <a href=""><img src="https://picsum.photos/250/300/?random=86"></a>
                                        </div>
                                        <div class="hot_article_txt">
                                            <h2>情感生活</h2>
                                        </div>
                                        <button class="btn-secondary">追蹤</button>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hot_article_wrap">
                                        <div class="hot_article_pic">
                                            <a href=""><img src="https://picsum.photos/250/300/?random=87"></a>
                                        </div>
                                        <div class="hot_article_txt">
                                            <h2>美妝保養</h2>
                                        </div>
                                        <button class="btn-secondary">追蹤</button>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hot_article_wrap">
                                        <div class="hot_article_pic">
                                            <a href=""><img src="https://picsum.photos/250/300/?random=88"></a>
                                        </div>
                                        <div class="hot_article_txt">
                                            <h2>旅遊踏青</h2>
                                        </div>
                                        <button class="btn-secondary">追蹤</button>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="hot_article_wrap">
                                        <div class="hot_article_pic">
                                            <a href=""><img src="https://picsum.photos/250/300/?random=89"></a>
                                        </div>
                                        <div class="hot_article_txt">
                                            <h2>好聽音樂</h2>
                                        </div>
                                        <button class="btn-secondary">追蹤</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="save_area">
                    <div class="save_billboard">
                        <h2>追蹤的看版</h2>
                        <ul class="billboard_img">
                            <li>
                                <a href="article_all.html">
                                    <div class="pic_box">
                                        <img src="https://picsum.photos/500/500/?random=11">
                                    </div>
                                    <div class="billboard_text">
                                        <h2>穿搭時尚</h2>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="article_all.html">
                                    <div class="pic_box">
                                        <img src="https://picsum.photos/500/500/?random=12">
                                    </div>
                                    <div class="billboard_text">
                                        <h2>運動健身</h2>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="billboard_text">
                            <li><a href="http://">好聽音樂</a></li>
                            <li><a href="http://">旅遊踏青</a></li>
                            <li><a href="http://">美妝保養</a></li>
                            <li><a href="http://">情感生活</a></li>
                        </ul>
                    </div>
                    <div class="save_article">
                        <h2>追蹤看版的最新文章</h2>
                        <div class="article_area">
                            <article class="article_box">
                                <!-- 發文者 -->
                                <div class="article_mem_info">
                                    <div class="article_mem_icon">
                                        <img src="https://fakeimg.pl/12x12/200">
                                    </div>
                                    <div class="article_mem_name">穿搭小天才</div>
                                </div>
                                <!-- 文章標題 -->
                                <div class="article_container">
                                    <!-- 文章內容 -->
                                    <div class="article_txt_box">
                                        <div class="article_title">穿搭精華區上線啦！！
                                        </div>
                                        <!-- 文章反應 -->
                                        <div class="article_react">
                                            <!-- 喜歡數 -->
                                            <div class="article_like_box">
                                                <div class="article_icon_item">
                                                    <img src="assets/images/icon/like.png" alt="">
                                                </div>
                                                <div class="article_like_amount">144</div>
                                            </div>
                                            <!-- 留言數 -->
                                            <div class="article_comment_box">
                                                <div class="article_icon_item">
                                                    <img src="assets/images/icon/comment.png" alt="">
                                                </div>
                                                <div class="article_comment_amount">24</div>
                                            </div>
                                            <!-- 收藏 -->
                                            <div class="article_collect_box">
                                                <div class="article_icon_item">
                                                    <img src="assets/images/icon/save_hov.png" alt="">
                                                </div>
                                                <div class="article_collect_amount">收藏</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 文章圖片 -->
                                    <div class="article_pic_box">
                                        <img src="https://picsum.photos/60/60/?random=10">
                                    </div>
                                </div>
                            </article>
                            <article class="article_box">
                                <!-- 發文者 -->
                                <div class="article_mem_info">
                                    <div class="article_mem_icon">
                                        <img src="https://fakeimg.pl/12x12/200">
                                    </div>
                                    <div class="article_mem_name">穿搭小天才</div>
                                </div>
                                <!-- 文章標題 -->
                                <div class="article_container">
                                    <!-- 文章內容 -->
                                    <div class="article_txt_box">
                                        <div class="article_title">穿搭精華區上線啦！！
                                        </div>
                                        <!-- 文章反應 -->
                                        <div class="article_react">
                                            <!-- 喜歡數 -->
                                            <div class="article_like_box">
                                                <div class="article_icon_item">
                                                    <img src="assets/images/icon/like.png" alt="">
                                                </div>
                                                <div class="article_like_amount">144</div>
                                            </div>
                                            <!-- 留言數 -->
                                            <div class="article_comment_box">
                                                <div class="article_icon_item">
                                                    <img src="assets/images/icon/comment.png" alt="">
                                                </div>
                                                <div class="article_comment_amount">24</div>
                                            </div>
                                            <!-- 收藏 -->
                                            <div class="article_collect_box">
                                                <div class="article_icon_item">
                                                    <img src="assets/images/icon/save_hov.png" alt="">
                                                </div>
                                                <div class="article_collect_amount">收藏</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 文章圖片 -->
                                    <div class="article_pic_box">
                                        <img src="https://picsum.photos/60/60/?random=10">
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="writings">
                    <div id="tabs" class="container">
                        <div class="tabs">
                            <a v-on:click="activetab='1'" v-bind:class="[ activetab === '1' ? 'active' : '' ]">追蹤</a>
                            <a v-on:click="activetab='2'" v-bind:class="[ activetab === '2' ? 'active' : '' ]">熱門</a>
                            <a v-on:click="activetab='3'" v-bind:class="[ activetab === '3' ? 'active' : '' ]">最近</a>
                        </div>

                        <div class="content">
                            <div v-if="activetab ==='1'" class="tabcontent">
                                <div class="article_list">
                                    <article class="article_box">
                                        <!-- 發文者 -->
                                        <div class="article_mem_info">
                                            <div class="article_mem_icon">
                                                <img src="https://fakeimg.pl/12x12/200">
                                            </div>
                                            <div class="article_mem_name">穿搭小天才</div>
                                        </div>
                                        <!-- 文章標題 -->
                                        <div class="article_container">
                                            <!-- 文章內容 -->
                                            <div class="article_txt_box">
                                                <div class="article_title">穿搭精華區上線啦！！值得收藏的穿搭資訊都在這!</div>
                                                <!-- 文章摘要 -->
                                                <div class="article_summary">
                                                    嗨嗨穿搭板的卡友們！<br>
                                                    我是穿搭小梨子🍐
                                                </div>
                                                <!-- 文章反應 -->
                                                <div class="article_react">
                                                    <!-- 喜歡數 -->
                                                    <div class="article_like_box">
                                                        <div class="article_icon_item">
                                                            <img src="assets/images/icon/like.png" alt="">
                                                        </div>
                                                        <div class="article_like_amount">144</div>
                                                    </div>
                                                    <!-- 留言數 -->
                                                    <div class="article_comment_box">
                                                        <div class="article_icon_item">
                                                            <img src="assets/images/icon/comment.png" alt="">
                                                        </div>
                                                        <div class="article_comment_amount">24</div>
                                                    </div>
                                                    <!-- 收藏 -->
                                                    <div class="article_collect_box">
                                                        <div class="article_icon_item">
                                                            <img src="assets/images/icon/save_hov.png" alt="">
                                                        </div>
                                                        <div class="article_collect_amount">收藏</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 文章圖片 -->
                                            <div class="article_pic_box">
                                                <img src="https://picsum.photos/150/150/?random=14">
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div v-if="activetab ==='2'" class="tabcontent">
                                <div class="article_list">
                                    <article class="article_box">
                                        <!-- 發文者 -->
                                        <div class="article_mem_info">
                                            <div class="article_mem_icon">
                                                <img src="https://fakeimg.pl/12x12/200">
                                            </div>
                                            <div class="article_mem_name">抹茶咖哩</div>
                                        </div>
                                        <!-- 文章標題 -->
                                        <div class="article_container">
                                            <!-- 文章內容 -->
                                            <div class="article_txt_box">
                                                <div class="article_title">COSCO的爆紅抹茶太甜了，不推薦</div>
                                                <!-- 文章摘要 -->
                                                <div class="article_summary">
                                                    最近爆紅的抹茶沖泡包<br>
                                                    雖然價格還算親民，但口味太甜啦>A< </div> <!-- 文章反應 -->
                                                        <div class="article_react">
                                                            <!-- 喜歡數 -->
                                                            <div class="article_like_box">
                                                                <div class="article_icon_item">
                                                                    <img src="assets/images/icon/like.png" alt="">
                                                                </div>
                                                                <div class="article_like_amount">144</div>
                                                            </div>
                                                            <!-- 留言數 -->
                                                            <div class="article_comment_box">
                                                                <div class="article_icon_item">
                                                                    <img src="assets/images/icon/comment.png" alt="">
                                                                </div>
                                                                <div class="article_comment_amount">24</div>
                                                            </div>
                                                            <!-- 收藏 -->
                                                            <div class="article_collect_box">
                                                                <div class="article_icon_item">
                                                                    <img src="assets/images/icon/save_hov.png" alt="">
                                                                </div>
                                                                <div class="article_collect_amount">收藏</div>
                                                            </div>
                                                        </div>
                                                </div>
                                                <!-- 文章圖片 -->
                                                <div class="article_pic_box">
                                                    <img src="https://picsum.photos/150/150/?random=15">
                                                </div>
                                            </div>
                                    </article>
                                </div>
                            </div>
                            <div v-if="activetab ==='3'" class="tabcontent">
                                <article class="article_box">
                                    <!-- 發文者 -->
                                    <div class="article_mem_info">
                                        <div class="article_mem_icon">
                                            <img src="https://fakeimg.pl/12x12/200">
                                        </div>
                                        <div class="article_mem_name">穿搭小天才</div>
                                    </div>
                                    <!-- 文章標題 -->
                                    <div class="article_container">
                                        <!-- 文章內容 -->
                                        <div class="article_txt_box">
                                            <div class="article_title">穿搭精華區上線啦！！值得收藏的穿搭資訊都在這!</div>
                                            <!-- 文章摘要 -->
                                            <div class="article_summary">
                                                嗨嗨穿搭板的卡友們！<br>
                                                我是穿搭小梨子🍐
                                            </div>
                                            <!-- 文章反應 -->
                                            <div class="article_react">
                                                <!-- 喜歡數 -->
                                                <div class="article_like_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/like.png" alt="">
                                                    </div>
                                                    <div class="article_like_amount">144</div>
                                                </div>
                                                <!-- 留言數 -->
                                                <div class="article_comment_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/comment.png" alt="">
                                                    </div>
                                                    <div class="article_comment_amount">24</div>
                                                </div>
                                                <!-- 收藏 -->
                                                <div class="article_collect_box">
                                                    <div class="article_icon_item">
                                                        <img src="assets/images/icon/save_hov.png" alt="">
                                                    </div>
                                                    <div class="article_collect_amount">收藏</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 文章圖片 -->
                                        <div class="article_pic_box">
                                            <img src="https://picsum.photos/150/150/?random=15">
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <section class="
            advertise">
                <img src="assets/images/index_ball.svg" alt="CiMi交友論壇">
            </section>
        </div>
    </div>
    <section class="lightbox_main_area">
        <div class="lightbox">
            <div class="attendance_item_box">
                <div class="close_icon_box">
                    <img src="assets/images/icon/close.png" class="close_icon" alt="close">
                </div>
                <div class="lightbox_title_box">
                    <p class="lightbox_title_item">每日簽到</p>

                </div>
                <div class="attendance_item">
                    <div class="attendance_title_box">
                        <span class="attendance_title_item">第一天</span>
                    </div>
                    <div class="coins_content">
                        <div class="img_box">
                            <img class="check_item" src="assets/images/attendance_check_item.svg">
                            <img class="coins_item" src="assets/images/attendance_coins_item.svg">
                        </div>
                        <div class="txt_box">
                            <p class="coins_amount">+1</p>
                        </div>
                    </div>
                </div>
                <div class="attendance_item">
                    <div class="attendance_title_box">
                        <span class="attendance_title_item">第二天</span>
                    </div>
                    <div class="coins_content">
                        <div class="img_box">
                            <img class="check_item" src="assets/images/attendance_check_item.svg">
                            <img class="coins_item" src="assets/images/attendance_coins_item.svg">
                        </div>
                        <div class="txt_box">
                            <p class="coins_amount">+1</p>
                        </div>
                    </div>
                </div>

                <div class="attendance_item">
                    <div class="attendance_title_box">
                        <span class="">第三天</span>
                    </div>
                    <div class="coins_content">
                        <div class="img_box">
                            <img class="check_item" src="assets/images/attendance_check_item.svg">
                            <img class="coins_item" src="assets/images/attendance_coins_item.svg">
                        </div>
                        <div class="txt_box">
                            <p class="coins_amount">+1</p>
                        </div>
                    </div>
                </div>

                <div class="attendance_item">
                    <div class="attendance_title_box">
                        <span class="attendance_title_item">第四天</span>
                    </div>
                    <div class="coins_content">
                        <div class="img_box">
                            <img class="check_item" src="assets/images/attendance_check_item.svg">
                            <img class="coins_item" src="assets/images/attendance_coins_item.svg">
                        </div>
                        <div class="txt_box">
                            <p class="coins_amount">+1</p>
                        </div>
                    </div>
                </div>

                <div class="attendance_item">
                    <div class="attendance_title_box">
                        <span class="attendance_title_item">第五天</span>
                    </div>
                    <div class="coins_content">
                        <div class="img_box">
                            <img class="check_item" src="assets/images/attendance_check_item.svg">
                            <img class="coins_item" src="assets/images/attendance_coins_item.svg">
                        </div>
                        <div class="txt_box">
                            <p class="coins_amount">+1</p>
                        </div>
                    </div>
                </div>

                <div class="attendance_item">
                    <div class="attendance_title_box">
                        <span class="attendance_title_item">第六天</span>
                    </div>
                    <div class="coins_content">
                        <div class="img_box">
                            <img class="check_item" src="assets/images/attendance_check_item.svg">
                            <img class="coins_item" src="assets/images/attendance_coins_item.svg">
                        </div>
                        <div class="txt_box">
                            <p class="coins_amount">+1</p>
                        </div>
                    </div>
                </div>

                <div class="attendance_7days_item">
                    <div class="attendance_title_box">
                        <span class="attendance_title_item">第七天</span>
                    </div>
                    <div class="coins_content">
                        <div class="img_bonus_box">
                            <img class="check_item" src="assets/images/attendance_check_item.svg">
                            <img class="coins_bonus_item" src="assets/images/attendance_coins_bonus_item.svg">
                        </div>
                        <div class="txt_box">
                            <p class="coins_amount">+?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/attendance.js"></script>
    </section>

    <script src="js/vue.js"></script>

    <!-- 分類頁籤 -->
    <script>
        new Vue({
            el: '#tabs',
            data: {
                activetab: '1'
            },
        });
    </script>

    <!-- 幻燈片 Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- 幻燈片 Initialize Swiper -->
    <script>
        window.onload = function () {
            //判斷螢幕寬度
            var winWide = window.innerWidth; //獲取當前螢幕解析度
            // alert(winWide);
            var wideScreen = false;
            if (winWide >= 992) { //最小寬度 
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 4, //輪播顯示項目數量
                    spaceBetween: 0,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            } else {
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 2,
                    spaceBetween: 0,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            }
        }
        window.onresize = function () {
            //判斷螢幕寬度
            var winWide = window.innerWidth; //獲取當前螢幕解析度
            // alert(winWide);
            var wideScreen = false;
            if (winWide >= 768) {
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 4,
                    spaceBetween: 0,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            } else {
                var swiper = new Swiper(".mySwiper", {
                    slidesPerView: 2,
                    spaceBetween: 0,
                    slidesPerGroup: 1,
                    loop: true,
                    loopFillGroupWithBlank: true,
                    pagination: {
                        el: ".swiper-pagination",
                        clickable: true,
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            }
        }
    </script>
    <script>
        //alert for one time
        let alertmessage =
            "'本網站為緯育TibaMe_前端設計工程師班第73期學員專題成果作品，本平台僅供學習、展示之用。若有抵觸有關著作權，或有第三人主張侵害智慧財產權等情事，均由學員負法律上責任，緯育公司概不負責。若有侵權疑慮，您可以私訊[緯育TibaMe]，後續會由專人協助處理。(https://www.facebook.com/TibaMe)'"


        // get cookies

        function get_cookie(Name) {
            var search = Name + "=";
            var returnvalue = "";
            if (document.cookie.length > 0) {
                offset = document.cookie.indexOf(search)
                if (offset != -1) { // if cookie exists
                    offset += search.length;
                    end = document.cookie.indexOf(";", offset);
                    if (end == -1)
                        end = document.cookie.length;
                    returnvalue = document.cookie.substring(offset, end);
                }
            }
            return returnvalue;
        }
        if (get_cookie('alerted') != 'yes') {
            // 著作權聲明
            alert(alertmessage);
            // 簽到燈箱
            document.querySelector(".lightbox").style.display = "block"
            document.cookie = "alerted=yes";
        }
    </script>
</body>

</html>