<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設定 | CiMi交友論壇</title>
    <link rel="stylesheet" href="assets/css/member_guide.css">
    <link rel="stylesheet" href="assets/css/member_sidebar.css">
    <link rel="stylesheet" href="assets/css/member_my_setup.css">
    <script src="https://kit.fontawesome.com/46f3ab0818.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/vue.js"></script>
</head>

<body>
    @@include('layout/header.html')

    <div class="member_content_area">
        @@include('member_sidebar.html')

        <main class="member_main_box">
            <div class="backPage">
                <button onclick="history.back()">←</button>
            </div>

            <div class="member_bg" id="setup">
                <div class="member_bgcard">

                    <div class="member_main">
                        <div class="member_head">
                            <!--手機板內文大標-->
                            <p>我的設定</p>
                            <div class="member_setchange" @click="revise">
                                <img src="assets/images/icon/member_pen.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="member_main_title">
                        <div class="member_head">
                            <!--桌機版內文大標-->
                            <p>我的設定</p>
                            <div class="member_setchange" @click="revise">
                                <img src="assets/images/icon/member_pen.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="member_cardtext">
                        <!--內文-->
                        <div class="member_cardmain">
                            <div class="membercard_email gap">
                                <h3>名字</h3>
                                <p>{{member.mem_name}}</p>
                            </div>
                            <div class="membercard_name gap">
                                <h3>常用信箱</h3>
                                <p>{{member.mem_mail}}</p>
                            </div>
                            <div class="membercard_psw gap">
                                <h3>密碼</h3>
                                <p>{{member.mem_psw}}</p>
                            </div>
                            <div class="membercard_tel gap">
                                <h3>電話</h3>
                                <p>{{member.mem_tel}}</p>
                            </div>
                            <div class="membercard_live gap">
                                <h3>居住地</h3>
                                <p>{{member.mem_local}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="" style="display:none" id="setlightbox">
                    <div class="fixbox">
                        <div class="member_cardfix">
                            <div class="fixtitle">
                                <h2>我的設定</h2>
                            </div>
                            <div class="member_fixmain">
                                <div class="fixleft">
                                    <div class="membercard_email gap">
                                        <h3>名字</h3>
                                        <input type="text" name="mem_name" v-model="member.mem_name">
                                        <input type="text" name="mem_no" :value="member.mem_no" hidden>
                                    </div>
                                    <div class="membercard_name gap">
                                        <h3>常用信箱</h3>
                                        <input type="text" name="mem_mail" v-model="member.mem_mail">
                                    </div>
                                    <div class="membercard_psw gap">
                                        <h3>密碼</h3>
                                        <input type="password" name="mem_psw" v-model="member.mem_psw">
                                    </div>
                                </div>
                                <div class="fixright">
                                    <div class="membercard_tel gap">
                                        <h3>電話</h3>
                                        <input type="text" name="mem_tel" v-model="member.mem_tel">
                                    </div>
                                    <div class="membercard_live gap">
                                        <h3>居住地</h3>
                                        <input type="text" name="mem_local" v-model="member.mem_local">
                                    </div>
                                    <div class="sendbox">
                                        <button id="sendbtn" type="button" @click="send">完成修改</button>
                                        <button id="cancelbtn" type="button" @click="cancel">取消修改</button>
                                    </div>

                                </div>
                            </div>

                            <!-- <input type="submit" @submit.prevent @click="send"> -->
                        </div>

                    </div>
                </form>
        </main>
    </div>
    <script>
        new Vue({
            el: '#setup',
            data: {
                member: [],
            },
            mounted() {
                let xhr = new XMLHttpRequest();
                xhr.open("get",
                    `phps/member/member_setup.php?mem_no=${sessionStorage.getItem('mem_no')}`,
                    true);
                xhr.send(null);

                let vm = this
                xhr.onload = function () {
                    // 接收PHP傳來的資料
                    vm.member = JSON.parse(xhr.responseText)
                }
            },
            methods: {
                revise() {
                    setlightbox.style.display = "block"
                },
                send() {
                    let xhr = new XMLHttpRequest();
                    xhr.open("post",
                        "phps/member/member_setbox.php", true);
                    let form = document.getElementById("setlightbox");
                    let formData = new FormData(form);
                    xhr.send(formData);

                    alert("修改成功")
                    setlightbox.style.display = "none"
                },
                cancel() {
                    setlightbox.style.display = "none"
                }
            },
        })
    </script>
</body>

</html>