<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>發表文章 | CiMi交友論壇</title>
    <link rel="icon" href="assets/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/post.css">
    <link rel="stylesheet" href="assets/css/tabs.css">
</head>

<body>
    <header class="top_bar_box">
        <div class="top_bar">
            <div class="logo_box">
                <h1>
                    <a href="homepage.html">
                        <img src="assets/images/homepage_logo.svg" alt="CiMi交友論壇">
                    </a>
                </h1>
            </div>
            <div class="search_bar" action="">
                <input type="search">
                <button>
                    <img src="assets/images/icon/nav_search.png" alt="搜尋">
                </button>
            </div>
            <div class="member_bar">
                <ul>
                    <li class="member_bar_phone"><a href="post.html"><img src="assets/images/icon/nav_post.png"
                                alt="發文"></a></li>
                    <li class="member_bar_phone"><img src="assets/images/icon/cart.png" alt="購物車"></li>
                    <li class="member_bar_phone"><a href="chat.html"><img src="assets/images/icon/nav_message.png"
                                alt="聊天室"></a></li>
                    <li><img src="assets/images/icon/nav_member.png" alt="會員"></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- 購物車燈箱 -->
    <div id="shoppingApp">
        <div class="shopping_cart_light_box">
            <shopping-cart></shopping-cart>
        </div>
    </div>
    <script src="js/shop_cart.js"></script>
    <link rel="stylesheet" href="assets/css/shop_cart.css">
    <script>
        let mem_head = document.querySelector("img[alt='會員']");
        mem_head.addEventListener('click', check)

        function check() {
            // console.log(localStorage.getItem('login'));
            console.log(sessionStorage.getItem('login'));

            if (sessionStorage.getItem('login') == null) {
                location.href = 'login_new.html';

            } else {
                location.href = 'member_my_setup.html';
            }


        }
        if (sessionStorage.getItem('login') == 'success') {
            //登入的時候把頭像換
            mem_head.src = sessionStorage.getItem('mem_head')
            let mem_link = document.querySelector("img[alt='會員']")
            // console.log(mem_link);
            // console.log(mem_link[3]);
            mem_link.href = 'member_my_setup.html';
        }

        // 搜尋列跳轉網頁
        (function search() {
            let searchbar = document.querySelector(".search_bar input[type='search']")
            let searchbtn = document.querySelector(".search_bar button")
            searchbtn.addEventListener("click", () => location.href = `search.html?search=${searchbar.value}`)
            searchbar.addEventListener("keydown", e => {
                if (e.which == 13 && !e.shiftKey) {
                    location.href = `search.html?search=${searchbar.value}`
                }
            })
        })()
    </script>

    <div class="content_area">
        <div class="sidebar_box">
            <aside class="sidebar">
                <nav>
                    <ul class="sidebar_list">
                        <li><a href="homepage.html"><img src="assets/images/icon/nav_home.svg" alt="首頁">首頁</a>
                        </li>
                        <li><a href="billboard.html"><img src="assets/images/icon/nav_billboard.svg" alt="所有看版">所有看版</a>
                        </li>
                        <li><a href="product.html"><img src="assets/images/icon/nav_shop.svg" alt="好物商城">好物商城</a>
                        </li>
                        <li><a href="charts.html"><img src="assets/images/icon/nav_charts.svg" alt="創作者排行榜">創作者排行榜</a>
                        </li>
                        <li id="cimi_destiny"><a><img src="assets/images/icon/game_card.svg" alt="CiMi
                            Destiny">CiMi
                                Destiny</a></li>
                        <li class="nav_phone"><a href="member.html"><img src="assets/images/icon/nav_member.svg"
                                    alt="會員專區">會員專區</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <script src="js/sidebar.js"></script>
        <main class="main_area" id="post">
            <div class="post_info">
                <div class="post_img">
                    <!-- <img :src="https://picsum.photos/100/100/?random=11"> -->
                    <img :src="memInfo.mem_head">
                </div>
                <div class="post_text">
                    <span class="post_name">
                        {{memInfo.mem_name}}
                    </span>
                    <time>{{postDay}}</time>
                </div>
            </div>
            <form class="post" action="" @submit.prevent>
                <div class="select_billboard">
                    <select required :value="selectVal" @change="updateVal" id="board" v-model="selectVal">
                        <option v-for="board in boards" :value="board.billboard_no">{{board.billboard_name}}</option>
                    </select>
                </div>
                <input type="text" placeholder="標題" required v-model="title">
                <textarea name="" id="" cols="100" rows="10" placeholder="內容" required v-model="content"></textarea>
                <div class="post_file">
                    <label class="" id="" for="filename">
                        <div class="post_file_box">
                            <img src="assets/images/icon/Insert_picture.png" alt="">
                            <span>插入圖片</span>
                        </div>
                        <input type="file" id="filename" ref="fileInput" @change="uploadFile">
                    </label>

                </div>
                <div class="post_btn">
                    <button type="reset" class="btn-third" @click="backHome" @submit.prevent>取消</button>
                    <button type="submit" class="btn-secondary" @click="uploadData" @submit.prevent>提交</button>
                </div>
                <img :src="image" id="img" style="display: none;"></img>
            </form>
        </main>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.common.dev.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        new Vue({
            el: '#post',
            data: {
                title: "",
                content: "",
                selectVal: "好聽音樂",
                image: "",
                boards: [],
                memInfo: [],
                icon: "",
                icons:["💖", "🎼", "💄", "🚴", "🚌", "🧥"]
            },
            mounted() {
                let params = new URLSearchParams();
                params.append("mem_no", sessionStorage.getItem('mem_no'));
                params.append("case", "getData");
                axios.post('phps/post.php', params)
                    .then(res => {
                        // console.log(res.data);
                        this.memInfo = res.data.mem
                        this.boards = res.data.board
                    })
                    .catch(err => {
                        // console.log(err);
                    });
                if (sessionStorage.getItem('login') == null) {
                    swal("登入才能發布文章喔! 立即前往登入頁面??", {
                            buttons: {

                                catch: {
                                    text: "否",
                                    value: "否",
                                },
                                default: {
                                    text: "是",
                                    value: "是",
                                },

                            },
                        })
                        .then((value) => {
                            switch (value) {

                                case "是":
                                    location.href = "login_new.html"
                                    break;

                                case "否":
                                    location.href = "homepage.html"
                                    break;
                            }
                        });
                }


            },
            methods: {
                updateVal(v) {
                    let obj = document.getElementById('board')
                    //取得值
                    this.selectVal = obj.value;
                    let num = parseInt(this.selectVal)
                    
                    for(let i=1; i<7; i++){
                        if(num == i){
                            this.icon = this.icons[i-1]
                        }
                    }

                 


                },

                uploadFile() {
                    // 拿取檔案
                    let file = this.$refs.fileInput.files[0]
                    // console.log(file);

                    //寫進html
                    let readFile = new FileReader();
                    readFile.readAsDataURL(file);
                    readFile.addEventListener('load', this.loadImage);

                    //創建formdata物件送到後端PHP
                    let form = new FormData()
                    form.append('file', file)
                    form.append('case', 'checkFile')
                    axios.post('phps/post.php', form).then(res => {
                        if (res.data != true) {
                            alert(res.data)
                        }
                    })
                },
                loadImage(e) {

                    this.image = e.target.result;
                    img.style.display = "block"

                },

                uploadData() {
                    // 拿取檔案
                    let file = this.$refs.fileInput.files[0]
                    // console.log(file);
                    // 然後自己建立一個表單來放要上傳的資料
                    // 也可以順便帶其他資料例如 userId
                    let form = new FormData()
                    form.append('file', file)
                    form.append('case', 'insertData')
                    form.append("billboard_no", this.selectVal);
                    form.append("billboard_icon", this.icon);
                    form.append("article_title", this.title);
                    form.append("article_content", this.content);
                    form.append("case", "insertData");
                    form.append("mem_no", sessionStorage.getItem('mem_no'));

                    // 上傳到後端伺服器
                    axios.post('phps/post.php', form).then(res => {
                        alert(res.data)
                        location.href = "homepage.html"
                    })
                },
                backHome() {
                    location.href = "homepage.html"
                }
            },
            computed: {
                postDay() {
                    let year = new Date().getFullYear()
                    let month = new Date().getMonth() + 1
                    let day = new Date().getDate()
                    return (year + '-' + month + '-' + day)
                }
            }
        })
    </script>
</body>

</html>