<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>好物商城 | CiMi交友論壇</title>
    <link rel="stylesheet" href="assets/css/product.css">
    <!-- 廣告輪播 -->
    <link rel="stylesheet" href="assets\css\product_slick.css">
    <link rel="stylesheet" href="assets\css\product_slick-theme.css">
    <!-- vue -->
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="assets/css/shop_cart.css">
    <!-- 輪播(最新上架) -->
    <link rel="stylesheet" href="assets\css\product_slider.css">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <!-- 上架商品輪播 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js"></script>
    <!-- 解決這個問題favicon.ico -->
    <link rel="shortcut icon" href="#">
</head>

<body>
    @@include('layout/header.html')
    <div id="productApp">
        <div class="content_area">
            @@include('layout/sidebar.html')
            <!-- 好物商城 -->
            <main class="main_product">
                <!-- 好物商城標題 -->
                <Section class="product_title">
                    <div class="item_box">
                        <div class="txt_box">
                            <p>好物商城</p>
                        </div>
                        <!-- 購物車icon -->
                        <a href="shop_cart.html">
                            <div class="img_box">
                                <img src="assets\images\icon\cart.png">
                            </div>
                        </a>
                    </div>
                </Section>

                <!-- 廣告投放 -->
                <section class="center slider">
                    <!-- 第一個 -->
                    <div class="ad_slider">
                        <div class="img_box">
                            <img src="assets\images\goods\product_ad_01.jpg">
                        </div>
                        <!-- 變暗效果 -->
                        <div class="overlay"></div>
                        <div class="inner">
                            <a href="product_ad_page.html" class="btn">Tell me more</a>
                        </div>
                    </div>
                    <!-- 第二個 -->
                    <div class="ad_slider">
                        <div class="img_box">
                            <img src="assets\images\goods\product_ad_02.jpg">
                        </div>
                        <!-- 變暗效果 -->
                        <!-- <div class="overlay"></div> -->
                        <div class="inner">
                            <a href="product_ad_page.html" class="btn">Tell me more</a>
                        </div>
                    </div>
                    <!-- 第三個 -->
                    <div class="ad_slider">
                        <div class="img_box">
                            <img src="assets\images\goods\product_ad.jpg">
                        </div>
                        <!-- 變暗效果 -->
                        <div class="overlay"></div>
                        <div class="inner">
                            <a href="product_ad_page.html" class="btn">Tell me more</a>
                        </div>
                    </div>
                </section>

                <!-- 商品分類 -->
                <section class="sort">
                    <div class="item_box">
                        <a href="product_sort_page.html">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_life.png">
                                </div>
                                <div class="txt_box">
                                    <p>質感生活</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_cosmetics.png">
                                </div>
                                <div class="txt_box">
                                    <p>美妝保養</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_clothes.png">
                                </div>
                                <div class="txt_box">
                                    <p>風格穿搭</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item_box">
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_food.png">
                                </div>
                                <div class="txt_box">
                                    <p>美食補給</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_3C.png">
                                </div>
                                <div class="txt_box">
                                    <p>3C家電</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_book.png">
                                </div>
                                <div class="txt_box">
                                    <p>書籍補給</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </section>

                <!-- 最新區 -->
                <!-- 商品 -->
                <section class="new_goods_information">
                    <!-- 限時商品 -->
                    <div class="item_box">
                        <div class="item_time_limit ">
                            <!-- 標題 -->
                            <div class="title">
                                <!-- icon -->
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_hot_deal.png">
                                </div>
                                <!-- 文字 -->
                                <div class="txt_box">
                                    <div class="txt_new_goods">
                                        <p>限時商品</p>
                                    </div>
                                    <!-- 倒數時間 -->
                                    <div class="txt_new_goods_time">
                                        <!--剩餘的天数-->
                                        <div class="product_time" id="d"></div>
                                        <!--剩餘的小時-->
                                        <div class="product_time" id="h"></div>
                                        <!--剩餘的分鐘-->
                                        <div class="product_time" id="m"></div>
                                        <!--剩餘的秒數-->
                                        <div class="product_time" id="s"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 商品 -->
                            <div onclick="myFunction()" class="product_item_box ligh_box_jump"
                                v-for="good in time_goods" 
                                @click="getGoodNumber(good.goods_no)">
                                <div class="img_box">
                                    <img v-bind:src="good.goods_pic1">
                                </div>
                                <div class="txt_box">
                                    <p>{{good.goods_name}}</p>
                                    <p>NT.{{good.goods_price}}</p>
                                </div>
                            </div>


                        </div>

                        <!-- 上架商品 -->
                        <div class="item_new_product">
                            <!-- 標題 -->
                            <div class="title">
                                <p>最新上架商品</p>
                            </div>
                            <div class="ag-container-shops">
                                <div class="js-flickity-slider">
                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_citt.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_hot_switch_2.png);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_sort_page_2.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de
                                                        martinvarbaro</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de Villy</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de SunSurf</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(assets/images/goods/goods_all_Brooklyn_Candle.jpg);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de Los Cocos</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/parallax-swipe/images/5c4b910f1d696.png);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de Piñata</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/parallax-swipe/images/5bea050c5bff5.png);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de California
                                                        Sun</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="js-carousel-cell">
                                        <div class="ag-shop-card_box-wrap">
                                            <div class="ag-shop-card_box">
                                                <div class="ag-shop-card_body">
                                                    <div class="js-card-bg ag-card-bg"
                                                        style="background-image: url(https://rawcdn.githack.com/SochavaAG/example-mycode/master/pens/parallax-swipe/images/5cb88ca821bfd.png);">
                                                    </div>
                                                </div>
                                                <div class="ag-shop-card_footer">
                                                    <span class="ag-shop-card-footer_title">Tienda de Kapusta</span>
                                                    <span class="ag-shop-card-footer_products">Tienda oficial</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 熱門商品 -->
                <section class="hot">
                    <div class="hot_item_box">
                        <!-- 標題 -->
                        <div class="title">
                            <!-- icon -->
                            <div class="img_box">
                                <img src="assets\images\icon\shop_medal.png" style="width: 30px;">
                            </div>
                            <!-- 標題(文字) -->
                            <div class="txt_box">
                                <p>熱門商品</p>
                            </div>
                        </div>
                        <!-- 商品 -->
                        <div class=" item_box">
                            <div onclick="myFunction()" class="item ligh_box_jump" v-for="good in hot_goods"
                                v-if="good.goods_no" @click="getGoodNumber(good.goods_no)">
                                <div class="img_box">
                                    <img v-bind:src="good.goods_pic1">
                                </div>
                                <div class="txt_box">
                                    <p>{{good.goods_name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 全部商品 -->
                <section class="all">
                    <div class="all_item_box">
                        <!-- 標題 -->
                        <div class="title">
                            <p>全部商品</p>
                        </div>
                        <!-- 商品 -->
                        <!-- 先打一個範本，再用v-for迴圈去跑卡片式商品 -->
                        <!-- 範本參考用的 -->
                        <div class="item_box">
                            <!-- <div onclick="myFunction" class="item ligh_box_jump">
                                <div class="img_box">
                                    <img src="assets\images\goods\goods_all_soufflé.jpg">
                                </div>
                                <div class="txt_box">
                                    <p>夢幻甜點｜舒芙蕾</p>
                                    <p>NT.480</p>
                                </div>
                            </div> -->
                            <!-- v-for迴圈 -->
                            <div onclick="myFunction()" class="item ligh_box_jump" v-for="good in goods"
                                v-if="good.goods_no > 2" @click="getGoodNumber(good.goods_no)">
                                <div class="img_box">
                                    <img v-bind:src="good.goods_pic1">
                                </div>
                                <div class="txt_box">
                                    <p>{{good.goods_name}}</p>
                                    <p>NT.{{good.goods_price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>

        <!-- 燈箱--感謝文進大大相助!!!!! -->
        <section class="product_lighbox">
            <main class="product_page" v-for="good in goods" v-if="number==good.goods_no">
                <!-- 商品最上面的標題 -->
                <section class="product_page_title">
                    <!-- 商品名稱 -->
                    <div class="txt_box">
                        <p>{{good.goods_name}}</p>
                    </div>
                    <!-- 叉叉按鈕 -->
                    <div class="img_box cross" @click="displayNone">
                        <img src="assets\images\icon\close.png">
                    </div>

                </section>
                <!-- 追蹤分類 -->
                <section class="product_page_sort_follow">
                    <div class="product_item_box">
                        <!-- 圖片 -->
                        <div class="product_img_box">
                            <img src="assets\images\icon\shop_food.png">
                        </div>
                        <!-- 文字 -->
                        <div class="txt_box">
                            <!-- 分類 -->
                            <p style="color:rgb(20, 20, 20);">{{good.goods_class}}</p>
                        </div>
                    </div>
                    <!-- 按鈕 -->
                    <button class="btn-secondary">追蹤</button>
                </section>

                <!-- // 商品照(小圖變大圖 -->
                <section class="product_page_pic">
                    <div class="product_large">
                        <!-- 找大圖圖片1 -->
                        <img class="large" :src="good.goods_pic1">
                    </div>
                    <div class="product_small">
                        <!-- 找圖片1 -->
                        <div class="img_box" @click="showLarge">
                            <img :src="good.goods_pic1" />
                        </div>
                        <!-- 找圖片2 -->
                        <div class="img_box" @click="showLarge">
                            <img :src="good.goods_pic2" />
                        </div>
                        <!-- 找圖片3 -->
                        <div class="img_box" @click="showLarge">
                            <img :src="good.goods_pic3" />
                        </div>
                    </div>
                </section>

                <!-- 商品價格/資訊 -->
                <section class="product_page_price_in">
                    <!-- 文字區 -->
                    <div class="txt_box">
                        <!-- 價格 -->
                        <div class="txt_box_pri">
                            <!-- $價格沒別的 -->
                            <p>NT.{{good.goods_price}}</p>
                        </div>
                        <!-- 愛心 -->
                        <div class="like_box">
                            <!-- 愛心圖 -->
                            <div class="img_box">
                                <img src="assets\images\icon\like.png">
                            </div>
                            <!-- 愛心數 -->
                            <div class="num_box">
                                <span class="num product_num">
                                    {{good.goods_like}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- 商品資訊 -->
                    <div class="txt_box_in">
                        <p>
                            {{good.goods_i}}
                        </p>
                    </div>
                </section>

                <!-- 留言區 -->
                <section class="product_comment">
                    <p>共{{count}}則留言</p>
                    <!-- 單則留言 -->
                    <!-- v-for抓所有商品留言再用v-if判斷要的留言 -->
                    <div class="comment_box" v-for="comment in comments" v-if="number == comment.goods_no">
                        <!-- 頭貼 -->
                        <div class="comment_head_photo">
                            <img v-bind:src="comment.mem_head">
                        </div>
                        <!-- 留言 -->
                        <div class="comment_txt">
                            <div class="comment_mem_name_box">
                                <!-- 名字 -->
                                <span class="comment_mem_name_item">
                                    {{comment.mem_name}}
                                </span>
                                <!-- 檢舉 -->
                                <div class="comment_impeach_icon" >
                                    <img src="assets/images/icon/more_hov.png" alt="檢舉">
                                </div>
                            </div>
                            <!-- 留言內容 -->
                            <div class="comment_content">
                                {{comment.comment_content}}
                            </div>
                            <div class="comment_info">
                                <!-- 愛心數 -->
                                <div class="comment_like_box">
                                    <div class="comment_like_icon" @click="initheart(comment.goods_no)">
                                        <img src="assets/images/icon/like_hov.png" alt="愛心">
                                    </div>
                                    <!-- 喜歡數 -->
                                    <span class="comment_like_amount">
                                        {{comment.comment_likes_amount}}
                                    </span>
                                </div>
                                <!-- 日期 -->
                                <span class="comment_date">
                                    {{comment.comment_last_edit_date}}
                                </span>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 我的留言輸入區 -->
                <section class="product_page_msg">
                    <!-- 右邊 -->
                    <div class="item_box_msger">
                        <!-- 留言頭貼 -->
                        <div class="img_box">
                            <img src="assets\images\icon\nav_member.png">
                        </div>
                        <!-- 留言 -->

                        <div class="txt_box">
                            <input type="text" name="tname" placeholder="留言...">
                        </div>
                    </div>
                    <!-- 左邊icon -->
                    <div class="item_box_fuction_icon">
                        <div class="img_box">
                            <!-- 收藏 -->
                            <div class="img_box_save product_save" title="加入收藏">
                                <img src="assets/images/icon/save_hov.png">
                            </div>

                            <!-- 愛心 -->
                            <!-- 筆記! 不能用id寫功能有唯一性 -->
                            <div class="img_box_report product_heart" title="加入愛心" @click="initheart(good.goods_no)">
                                <img src="assets\images\icon\like_hov.png">
                            </div>
                        </div>
                        <!-- 立即購買 -->
                        <button class="btn-primary">立即購買</button>

                        <!-- 加入購物車-->
                        <button class="btn-secondary">加入購物車</button>
                    </div>
                </section>
            </main>
        </section>
    </div>
    <!-- 廣告輪播/燈箱/收藏save/愛心heart/js限時特賣(倒數計時)/小圖變大圖 /套件輪播(上架商品那裏) -->
    <script src="js\product_all.js"></script>
    <!-- 撈資料 -->
    <script src="js\product.js"></script>
    <!-- 廣告輪播 -->
    <script src="js\product_slick.min.js"></script>
    <!-- 文進大大的購物車燈箱 -->
    <!-- <div id="app">
        <div class="shop_cart_ligh_box">
            <shopping-cart></shopping-cart>
        </div>
    </div> -->
    <!-- <script src="js/shop_cart.js"></script> -->

    <!-- vue_product_all -->
    <script>
        Vue.config.devtools = true;
        const vm = new Vue({
            el: "#productApp",
            data: {
                goods: [],
                hot_goods: [],
                time_goods: [],
                comments:[],
                number: 0,
                // 商品留言數
                count: 0,

            },
            methods: {
                //叉叉功能
                displayNone() {
                    let x = document.querySelector(".product_lighbox");
                    x.style.display = "none";
                },
                //燈箱出現的跟圖片顯示要樣
                getGoodNumber(goods_no) {
                    // console.log(this.number);
                    this.number = goods_no;
                    // console.log(this.number);

                },
                // 抓所有商品
                getProductAll() {
                    let xhr = new XMLHttpRequest();
                    //打開php的我的php檔

                    //如果case=allgoods抓所有商品
                    xhr.open("get", `phps/product_all.php?case=allgoods`, true);
                    xhr.send(null);

                    xhr.onload = () => {
                        // 接收PHP傳來的資料
                        allgoods = JSON.parse(xhr.responseText);
                        // console.log(xhr.responseText);
                        // console.table(allgoods);

                        this.goods = allgoods
                    }
                },
                //熱門商品
                getProductHot() {
                    let xhr = new XMLHttpRequest();
                    //打開php的我的php檔
                    xhr.open("get", `phps/product_hot.php`, true);
                    xhr.send(null);

                    xhr.onload = () => {
                        // 接收PHP傳來的資料
                        allgoods = JSON.parse(xhr.responseText);
                        // console.log(xhr.responseText);
                        console.table(allgoods);

                        this.hot_goods = allgoods
                    }
                },
                //限時商品
                getProductTime() {
                    let xhr = new XMLHttpRequest();
                    //打開php的我的php檔
                    xhr.open("get", `phps/product_time_limit.php`, true);
                    xhr.send(null);

                    xhr.onload = () => {
                        // 接收PHP傳來的資料
                        allgoods = JSON.parse(xhr.responseText);
                        // console.log(xhr.responseText);
                        // console.table(allgoods);
                        this.time_goods = allgoods
                    }
                },
                //抓所有留言
                getGoodsComments() {
                    let xhr = new XMLHttpRequest();
                    //如果case=goodscomment抓商品留言數
                    xhr.open("get", `phps/product_all.php?case=goodscomment`, true);
                    xhr.send(null);

                    xhr.onload = () => {
                        allcomments = JSON.parse(xhr.responseText);
                        console.log(xhr.responseText);
                        console.table(allcomments);
                        this.comments = allcomments
                    }
                },

                // 數這件商品有多少留言
                // newValue這次點的，oldValue上次點的
                countComment(newValue, oldValue) {
                    let c = 0;
                    for (let i = 0; i < this.comments.length; i++) {
                        if (this.comments[i].goods_no == newValue) {
                            c++
                        }
                    }
                    // console.log(c);
                    this.count = c;
                },
                //小圖變大圖功能
                showLarge(e) {
                    let small = e.target;
                    // console.log(small)
                    //   document.getElementById("large").src = small.src ;

                    //大圖路徑等於被點擊的小圖
                    document.querySelector(".large").src = small.src;

                },
                //加入愛心
                initheart(goods_no) {
                    // console.log("ssss")
                    let product_heart = document.querySelector(".product_heart")
                    let product_num = document.querySelector(".product_num")
                    let product_heart_img = document.querySelector(".product_heart img")

                    if (product_heart.title == "加入愛心") {
                        product_heart_img.src =
                            "assets/images/icon/like.png";
                        product_heart.title = "取消愛心";
                        product_num.innerHTML++;

                        let xhr = new XMLHttpRequest();
                        //問號之後傳php資料，因為我們的會員資料寫在local storage,需要的會員資料，在問號後面寫入，商品目前不需要
                        xhr.open("get", `phps/product_heart_num_add.php?goods_no=${goods_no}`, true);
                        xhr.send(null);

                        xhr.onload = function () {
                            // 接收PHP傳來的資料
                            // allgoods = JSON.parse(xhr.responseText);
                            // console.log(xhr.responseText);
                            // console.table(allgoods);
                        }

                    } else {
                        product_heart_img.src =
                            "assets/images/icon/like_hov.png";
                        product_heart.title = "加入愛心";
                        product_num.innerHTML--;

                        let xhr = new XMLHttpRequest();
                        xhr.open("get", `phps/product_heart_num_delete.php?goods_no=${goods_no}`, true);
                        xhr.send(null);

                        xhr.onload = function () {
                            // 接收PHP傳來的資料
                            // allgoods = JSON.parse(xhr.responseText);
                            // console.log(xhr.responseText);
                            // console.table(allgoods);
                        }
                    }

                }

            },
            beforeCreate() {

            },
            created() {

            },
            //要顯現的功能
            // 將Vue的東西第一次出現在網頁上
            mounted() {
                // 全部
                this.getProductAll()
                // 熱門
                this.getProductHot()
                // 限時
                this.getProductTime()

                this.getGoodsComments()
            },
            //筆記!!因為愛心第一次沒出現在網頁上所以寫在mounted會抓不到。
            // 用Vue改變網頁，如:v-if
            updated() {
                //----------------------加入愛心 或 取消愛心--------------

                //----------------------加入收藏 或 取消收藏--------------
                let product_save = document.querySelector(".product_save");

                function switchFavorite() {
                    if (product_save.title == "加入收藏") {
                        product_save_img.src =
                            "assets/images/icon/save.png";
                        product_save.title = "取消收藏";
                    } else {
                        product_save_img.src =
                            "assets/images/icon/save_hov.png";
                        product_save.title = "加入收藏";
                    }
                }
                //function工具在這這邊
                function initsave() {
                    //設定[加入收藏 或 取消收藏]的點按事件
                    product_save = document.querySelector(".product_save")
                    // 變數名稱
                    product_save_img = document.querySelector(".product_save img")
                    product_save.onclick = switchFavorite;
                } //initsave

                //代表使用這個工具
                initsave()

                //----------------------小圖變大圖--------------

            },

        })
    </script>

    <!-- 廣告輪播 -->
    <script type="text/javascript">
        $(document).on('ready', function () {
            $(".center").slick({
                dots: true,
                infinite: true,
                centerMode: true,
                slidesToShow: 1,
                slidesToScroll: 3
            });
        });
    </script>


</body>

</html>