<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>好物商城 | CiMi交友論壇</title>
    <link rel="stylesheet" href="assets/css/product.css">
    <!-- 廣告輪播 -->
    <!-- <link rel="stylesheet" href="src\js\product.js"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.css">


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.1/flickity.pkgd.min.js">
    </script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="assets/css/shop_cart.css">
    <!-- <script type="text/javascript" src="script.js"></script> -->
</head>

<body>
    @@include('layout/header.html')
    <div id="productApp">
        <div class="content_area">
            @@include('layout/sidebar.html')
            <!-- 好物商城 -->
            <main class="main_product">
                <!-- 好物商城標題 -->
                <Section class="product_title">
                    <div class="item_box">
                        <div class="txt_box">
                            <p>好物商城</p>
                        </div>
                        <!-- 購物車icon -->
                        <a href="shop_cart.html">
                            <div class="img_box">
                                <img src="assets\images\icon\cart.png">
                            </div>
                        </a>
                    </div>
                </Section>

                <!-- 廣告投放 -->
                <section class="hero-slider" data-carousel>
                    <div class="carousel-cell"
                        style="background-image: url(https://as2.ftcdn.net/v2/jpg/03/13/60/15/1000_F_313601509_zMFBCz9u0kUnLcQT8Uqs6kVc5T41aUMQ.jpg);">
                        <!-- 變暗效果 -->
                        <div class="overlay"></div>
                        <div class="inner">
                            <a href="product_ad_page.html" class="btn">Tell me more</a>
                        </div>
                    </div>

                    <div class="carousel-cell"
                        style="background-image: url(https://t4.ftcdn.net/jpg/04/73/71/87/240_F_473718710_h4W0nn69AZ0LqTcMkT3Yke71vKY7Agli.jpg);">
                        <div class="overlay"></div>
                        <div class="inner">
                            <a href="product_ad_page.html" class="btn">Tell me more</a>
                        </div>
                    </div>

                    <div class="carousel-cell"
                        style="background-image: url(https://as2.ftcdn.net/v2/jpg/02/51/61/69/1000_F_251616979_Qjun8K9Hse9phwWYYnhBqEeV4WLbeXKu.jpg);">
                        <!-- <div class="overlay"></div> -->
                        <div class="inner">
                            <a href="product_ad_page.html" class="btn">Tell me more</a>
                        </div>
                    </div>
                </section>

                <!-- 真實評論，好友討論，免運 -->
                <section class="product_comment">
                    <a href="#">
                        <div class="item_box">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_appraise.png">
                                </div>
                                <div class="txt_box">
                                    <p style="color: #f1f1f1;">真實評價</p>
                                </div>

                            </div>
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_tag.png">
                                </div>
                                <div class="txt_box">
                                    <p style="color: #f1f1f1;">折價優惠</p>
                                </div>

                            </div>
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_chat.png">
                                </div>
                                <div class="txt_box">
                                    <p style="color: #f1f1f1;">卡友討論</p>
                                </div>

                            </div>
                        </div>
                    </a>
                </section>

                <!-- 商品分類 -->
                <section class="sort">
                    <div class="item_box">
                        <a href="product_sort_page.html">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_life.png">
                                </div>
                                <div class="txt_box">
                                    <p>質感生活</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_cosmetics.png">
                                </div>
                                <div class="txt_box">
                                    <p>美妝保養</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_clothes.png">
                                </div>
                                <div class="txt_box">
                                    <p>風格穿搭</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item_box">
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_food.png">
                                </div>
                                <div class="txt_box">
                                    <p>美食補給</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_3C.png">
                                </div>
                                <div class="txt_box">
                                    <p>3C家電</p>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="item">
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_book.png">
                                </div>
                                <div class="txt_box">
                                    <p>書籍補給</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </section>

                <!-- 最新區 -->
                <!-- 商品 -->
                <section class="new_goods_information">
                    <!-- 限時商品 -->
                    <div class="item_box">
                        <div class="item_time_limit ">
                            <!-- 標題 -->
                            <div class="title">
                                <!-- icon -->
                                <div class="img_box">
                                    <img src="assets\images\icon\shop_hot_deal.png">
                                </div>
                                <!-- 文字 -->
                                <div class="txt_box">
                                    <div class="txt_new_goods">
                                        <p>限時商品</p>
                                    </div>
                                    <!-- 倒數時間 -->
                                    <div class="txt_new_goods_time">
                                        <!--剩餘的天数-->
                                        <div class="product_time" id="d"></div>
                                        <!--剩餘的小時-->
                                        <div class="product_time" id="h"></div>
                                        <!--剩餘的分鐘-->
                                        <div class="product_time" id="m"></div>
                                        <!--剩餘的秒數-->
                                        <div class="product_time" id="s"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 商品 -->
                            <div onclick="myFunction" class="product_item_box">
                                <div class="img_box">
                                    <img src="assets\images\goods\goods_heme.jpg">
                                </div>
                                <div class="txt_box">
                                    <p>heme | 六色眼影盤</p>
                                    <p>NT.500</p>
                                </div>
                            </div>
                        </div>
                        <!-- 上架商品 -->
                        <div class="item_new_product">
                            <!-- 標題 -->
                            <div class="title">
                                <p>最新上架商品</p>
                            </div>
                            <div class="items">
                                <div onclick="myFunction" class="item">
                                    <div class="img_box">
                                        <img src="assets\images\goods\goods_heme_bluck.jpg">
                                    </div>
                                    <div class="txt_box">
                                        <p>送禮推薦︱三色眉粉盤</p>
                                        <p>NT.665</p>
                                    </div>
                                </div>
                                <div onclick="myFunction" class="item">
                                    <div class="img_box">
                                        <img src="assets\images\goods\goods_new_goods_information_mascara.jpg">
                                    </div>
                                    <div class="txt_box">
                                        <p>推薦小資女｜睫毛膏</p>
                                        <p>NT.299</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 熱門商品 -->
                <section class="hot">
                    <div class="hot_item_box">
                        <!-- 標題 -->
                        <div class="title">
                            <!-- icon -->
                            <div class="img_box">
                                <img src="assets\images\icon\shop_medal.png" style="width: 30px;">
                            </div>
                            <!-- 標題(文字) -->
                            <div class="txt_box">
                                <p>熱門商品</p>
                            </div>
                        </div>
                        <!-- 商品 -->
                        <div class=" item_box">
                            <div onclick="myFunction" class="item">
                                <div class="img_box">
                                    <img src="assets\images\goods\goods_hot_switch.jpg">
                                </div>
                                <div class="txt_box">
                                    <p>任天堂｜Switch </p>
                                </div>
                            </div>
                            <div onclick="myFunction" class="item">
                                <div class="img_box">
                                    <img src="assets\images\goods\goods_hot_mask.jpg">
                                </div>
                                <div class="txt_box">
                                    <p>莫蘭迪 | 成人口罩</p>

                                </div>
                            </div>
                            <div onclick="myFunction" class="item">
                                <div class="img_box">
                                    <img src="assets\images\goods\goods_hot_lovebook.jpg">
                                </div>
                                <div class="txt_box">
                                    <p>戀愛 | 脫單攻略</p>

                                </div>
                            </div>
                            <div onclick="myFunction" class="item">
                                <div class="img_box">
                                    <img src="assets\images\goods\goods_hot_fragrance.jpg">
                                </div>
                                <div class="txt_box">
                                    <p>天然 | 香氛大豆蠟燭🕯️</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 全部商品 -->
                <section class="all">
                    <div class="all_item_box">
                        <!-- 標題 -->
                        <div class="title">
                            <p>全部商品</p>
                        </div>
                        <!-- 商品 -->

                        <div class="item_box">
                            <!-- 撈回來的所有商品資料用v-for建立商品卡片 -->
                            <!-- v-if跳過前兩筆 -->
                            <!-- @click建立點及事件，變數number等於我點擊的商品編號 -->
                            <div onclick="myFunction()" class="item ligh_box_jump" v-for="good in goods"
                                v-if="good.goods_no > 2" @click="number=good.goods_no">
                                <div class="img_box">
                                    <img v-bind:src="good.goods_pic1">
                                </div>
                                <div class="txt_box">
                                    <p>{{good.goods_name}}</p>
                                    <p>NT.{{good.goods_price}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </main>
        </div>
        <!-- 燈箱--感謝文進大大相助!!!!! -->
        <section class="product_lighbox">
            <!-- v-for建立所有商品燈箱 -->
            <!-- v-if用number判斷要顯示哪個燈箱 -->
            <main class="product_page" v-for="good in goods" v-if="number==good.goods_no">
                <!-- 商品最上面的標題 -->
                <section class="product_page_title">
                    <!-- 商品名稱 -->
                    <div class="txt_box">
                        <p>{{good.goods_name}}</p>
                    </div>
                    <!-- 叉叉按鈕 -->
                    <div @click="displayNone" class="img_box cross ">
                        <img src="assets\images\icon\close.png">
                    </div>

                </section>
                <!-- 追蹤分類 -->
                <section class="product_page_sort_follow">
                    <div class="product_item_box">
                        <!-- 圖片 -->
                        <div class="product_img_box">
                            <img src="assets\images\icon\shop_food.png">
                        </div>
                        <!-- 文字 -->
                        <div class="txt_box">
                            <!-- 分類 -->
                            <p style="color:rgb(20, 20, 20);">{{good.goods_class}}</p>
                        </div>
                    </div>
                    <!-- 按鈕 -->
                    <button class="btn-secondary">追蹤</button>
                </section>

                <!-- // 商品照(小圖變大圖 -->
                <section class="product_page_pic">
                    <div class="product_large">
                        <img id="large" :src="good.goods_pic1">
                    </div>
                    <div class="product_small">
                        <div class="img_box">
                            <img :src="good.goods_pic1" /></div>
                        <div class="img_box"><img :src="good.goods_pic2" /></div>
                        <div class="img_box">
                            <img :src="good.goods_pic3" /></div>
                    </div>
                </section>

                <!-- 商品價格/資訊 -->
                <section class="product_page_price_in">
                    <div class="txt_box">
                        <p>${{good.goods_price}}</p>
                        <p>{{good.goods_i}} </p>
                    </div>
                </section>

                <!-- 留言區 -->
                <section class="product_comment">
                    <p>共{{count}}則留言</p>
                    <!-- v-for建立所有留言 -->
                    <!-- v-if篩選只屬於該商品的留言 -->
                    <div class="comment_box" v-for="comment in comments" v-if="number == comment.goods_no">
                        <div class="comment_head_photo">
                            <img :src="comment.mem_head">
                        </div>
                        <div class="comment_txt">
                            <div class="comment_mem_name_box">
                                <span class="comment_mem_name_item">{{comment.mem_name}}</span>
                                <div class="comment_impeach_icon">
                                    <img src="assets/images/icon/more_hov.png" alt="">
                                </div>
                            </div>
                            <div class="comment_content">
                                {{comment.comment_content}}
                            </div>
                            <div class="comment_info">
                                <div class="comment_like_box">
                                    <div class="comment_like_icon">
                                        <img src="assets/images/icon/like_hov.png" alt="">
                                    </div>
                                    <span class="comment_like_amount">{{comment.comment_likes_amount}}</span>
                                </div>
                                <span class="comment_date">{{comment.comment_last_edit_date}}</span>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 我要留言 -->
                <section class="product_page_msg">
                    <!-- 右邊 -->
                    <div class="item_box_msger">
                        <!-- 留言頭貼 -->
                        <div class="img_box">
                            <img src="assets\images\icon\nav_member.png">
                        </div>
                        <!-- 留言 -->

                        <div class="txt_box">
                            <input type="text" name="tname" placeholder="留言...">
                        </div>
                    </div>
                    <!-- 左邊icon -->
                    <div class="item_box_fuction_icon">
                        <div class="img_box">
                            <!-- 收藏 -->
                            <div class="img_box_save" id="product_save" title="加入收藏">
                                <img src="assets/images/icon/save_hov.png">
                            </div>

                            <!-- 愛心 -->
                            <div class="img_box_report" id="product_heart" title="加入愛心">
                                <img src="assets\images\icon\like_hov.png">
                            </div>
                        </div>
                        <!-- 立即購買 -->
                        <button class="btn-primary">立即購買</button>

                        <!-- 加入購物車-->
                        <button class="btn-secondary">加入購物車</button>
                    </div>
                </section>
            </main>
        </section>
    </div>
    <!-- 廣告輪播/燈箱/收藏save/愛心heart/js限時特賣(倒數計時)/小圖變大圖 -->
    <script src="js\product_all.js"></script>
    <!-- 撈資料 -->
    <!-- <script src="js\product.js"></script> -->

    <script>
        Vue.config.devtools = true;
        const vm = new Vue({
            el: "#productApp",
            data: {
                goods: [],
                comments: [],
                number: 0,
                // 商品留言數
                count: 0,
            },
            // 監聽點擊的商品編號改變
            // 若改變則執行countComment函式
            watch: {
                number: "countComment",
            },
            methods: {
                displayNone() {
                    let x = document.querySelector(".product_lighbox");
                    x.style.display = "none";
                },
                // 抓資料庫所有商品
                getGoods() {
                    let xhr = new XMLHttpRequest();
                    xhr.open("get", `phps/product_all.php?case=allgoods`, true);
                    xhr.send(null);

                    xhr.onload = () => {
                        allgoods = JSON.parse(xhr.responseText);
                        // console.log(xhr.responseText);
                        console.table(allgoods);
                        this.goods = allgoods
                    }
                },
                // 抓資料庫所有留言
                getGoodsComments() {
                    let xhr = new XMLHttpRequest();
                    xhr.open("get", `phps/product_all.php?case=goodscomment`, true);
                    xhr.send(null);

                    xhr.onload = () => {
                        allcomments = JSON.parse(xhr.responseText);
                        // console.log(xhr.responseText);
                        console.table(allcomments);
                        this.comments = allcomments
                    }
                },
                // 數這件商品有多少留言
                countComment(newValue, oldValue) {
                    let c = 0;
                    for (let i = 0; i < this.comments.length; i++) {
                        if (this.comments[i].goods_no == newValue) {
                            c++
                        }
                    }
                    // console.log(c);
                    this.count = c;
                }
            },
            mounted() {
                this.getGoods();
                this.getGoodsComments();

            },
        })
    </script>


</body>

</html>