@import "./layout/reset";
@import "./layout/common";
@import "./layout/header";
@import "./layout/sidebar";

.content {
    overflow: hidden;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 66, 66, 0.6);

    .article_view_container {
        position: absolute;
        z-index: 99;
        width: 750px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -400px;
        background-color: #ffffff;
        overflow: hidden scroll;
        padding: 30px 60px 0;

        .article_view_mem_info_box {
            position: sticky;
            top: 0px;
            z-index: 2;
            // position: relative;
            display: flex;
            justify-content: space-between;

            .article_view_mem_info_item {
                display: flex;
                align-items: center;

                .article_view_mem_icon {
                    width: 35px;

                    img {
                        width: 100%;
                        vertical-align: middle;
                        border-radius: 50%;
                    }
                }

                .article_view_mem_name {
                    padding-left: 10px;
                }
            }

            .close_icon {
                width: 10px;

                img {
                    width: 100%;
                }
            }
        }

        .article_view_title {
            font-size: var(--title);
            margin: 10px 0;
        }

        .article_view_info_box {
            display: flex;
            font-size: var(-- body2);
            padding-bottom: 10px;

            .article_view_sort {
                color: #0868c2;
            }

            .article_view_date {
                padding-left: 10px;
                color: var(--font-secondary);
                font-weight: 300;

            }
        }

        .article_view_content {
            p {
                font-size: var(--body1);
                line-height: 2;
            }
        }

        .interest_article_icon_item {
            width: 15px;
            margin-right: 5px;

            img {
                width: 100%;
            }
        }

        .interest_article_container {
            padding: 30px 0;

            p {
                font-size: var(--body2);
                font-weight: 300;
            }

            .interest_article_box {
                display: flex;
                flex-wrap: wrap;


                .interest_article_item {
                    display: flex;
                    width: calc(50% - 5px);
                    background-color: #eeeeee;
                    justify-content: space-between;
                    border-radius: 5px;
                    margin: 0 5px 5px 0;


                    .interest_article_txt {
                        padding: 10px;

                        h2 {
                            font-size: var(--body1);
                            padding-bottom: 10px;
                            font-weight: 700;

                        }

                        .interest_article_react {
                            display: flex;
                            font-size: var(--tag);
                            font-weight: 300;
                            color: var(--font-secondary);


                            .interest_article_like_box {
                                display: flex;
                                padding-right: 10px;
                            }

                            .interest_article_comment_box {
                                display: flex;
                            }
                        }
                    }

                    //   感興趣文章的圖片
                    .interest_article_pic_box {
                        height: auto;
                        padding: 10px;

                        img {
                            height: 100%;
                            vertical-align: middle;
                            border-radius: 10px;

                        }
                    }
                }


            }
        }

        // 留言區
        .comment_container {
            width: 100%;
            height: 500px;
            // background-color: #c8d9fac4;
            position: relative;

            .comment_box {
                display: flex;
                padding: 20px 0;
                border-bottom: 1px solid #a3a3a3;

                .comment_head_photo {
                    margin-right: 10px;

                    img {
                        border-radius: 50%;
                    }
                }

                .comment_txt {
                    position: relative;
                    width: 100%;

                    .comment_mem_name_box {
                        display: flex;
                        justify-content: space-between;
                        font-size: var(--tag);

                        .comment_like_box {
                            display: flex;
                            padding-right: 5px;

                            .comment_like_icon {
                                width: 20px;
                                margin-right: 5px;

                                img {
                                    width: 100%;
                                    vertical-align: middle;
                                }
                            }
                        }

                        .commen_like_amount {
                            color: var(--font-secondary);
                        }

                    }

                    .comment_content {
                        padding: 5px 0;
                    }

                    .comment_info {
                        font-size: var(--tag);
                        color: var(--font-secondary);

                        .comment_floor,
                        .comment_date {
                            margin-right: 15px;
                        }
                    }
                }

            }
        }

        // 使用者留言框
        .write_comment_box {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            border-top: solid 1px #a3a3a3;
            display: flex;

            .write_comment_item {
                width: calc(100% - 30px);
            }

            .article_like,
            .article_collect,
            .article_other_function {
                width: 30px;
                padding: 5px;


                img {
                    width: 100%;
                    vertical-align: middle;

                }
            }
        }
    }
}