//引入共用sass ; 如: reset/common/header(上方選單)/sidebar(側邊欄) => 可以自行看自己葉面需要那些sass檔
@import "./layout/reset";
@import "./layout/common";
@import "./layout/header";
@import "./layout/sidebar";
@import "./article";
@import "./tabs";


//---------------------------從此開始寫自己頁面的sass----------------------------------------------
// 桌機版
@mixin PC {
    @media screen and (min-width:768px) {
        @content;
    }
}

.main_area {
    width: 100%;
    margin-top: 80px;

    @include PC() {
        margin-top: 100px;

    }
}


// 文章banner
.article_sort_banner {
    width: 100%;
    padding: 0 10px;

    @include PC() {
        padding: 0 40px;

    }

    img {
        width: 100%;
        border-radius: 25px;
    }
}

// 文章分類大標
.article_sort {
    width: 100%;
    position: relative;
    padding: 10px;
    margin-bottom: 60px;

    @include PC() {
        margin-bottom: 0;
        padding: 15px 40px;
    }

    .article_sort_box {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;

        .article_sort_item {
            display: flex;
            align-items: center;

            .article_sort_icon {
                width: 30px;

                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }

            .article_sort_txt {
                display: flex;
                align-items: center;
                font-size: var(--subtitle1);
                padding: 0 10px;
                font-weight: 500;

                @include PC() {
                    font-size: var(--title);
                }

            }
        }
    }

    .change_page {
        display: flex;
        align-items: center;
        // margin-bottom: 20px;
        border-bottom: 1px solid #cccccc;

        .tag {
            padding: 5px;
            font-size: var(--subtitle2);
            margin-right: 20px;
        }

        .hot_article {
            border-bottom: 3px solid #00324e;
        }
    }

    // 以下文章分類
    .container {
        width: 100%;
    }

    .charts_box {
        padding: 10px;
        cursor: pointer;

        @include PC() {
            padding: 20px;
        }

        .charts_img {
            width: 5%;
            margin-right: 12px;

            img {
                width: 100%;
                border-radius: var(--img-radius);
            }
        }

        .charts_name {
            display: flex;
            flex-direction: column;
        }
    }

    // 文章分類
    /* Style the tabs */
    .tabs {
        overflow: hidden;

    }

    .tabs a {
        float: left;
        cursor: pointer;
        padding: 6px 24px;
        transition: background-color 0.2s;
        border: 1px solid #ccc;
        border-right: none;
        background-color: #f1f1f1;
        border-radius: 10px 10px 0 0;
        font-weight: 500;

        @include PC() {
            padding: 12px 24px;

        }
    }

    .tabs a:last-child {
        border-right: 1px solid #ccc;
    }

    /* Change background color of tabs on hover */
    .tabs a:hover {
        background-color: #aaa;
        color: #fff;
    }

    /* Styling for active tab */
    .tabs a.active {
        background-color: #fff;
        color: #484848;
        border-bottom: 2px solid #fff;
        cursor: default;
    }

    /* Style the tab content */

    .tabcontent td {
        padding: 0.3em 0.4em;
        color: #484848;
    }

    .tabcontent td.legend {
        color: #888;
        font-weight: 500;
        text-align: right;
    }

    .tabcontent .map {
        height: 173px;
        width: 220px;
        background: #D3EAFB;
        margin-left: 60px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

    .data {
        width: 120px;
    }

    .article_box {
        position: relative;
        width: 100%;

        .article_mem_info {
            display: flex;
            padding: 20px 0 5px;
            align-items: center;
            position: relative;

            .article_mem_icon {
                width: 18px;

                // background-color: #00324E;
                img {
                    width: 100%;
                    border-radius: 50%;
                    vertical-align: middle;
                }
            }

            .article_mem_name {
                // background-color: yellow;
                padding: 0 5px;
                font-size: var(--body2);
            }
        }

        .article_container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            box-sizing: border-box;
            padding-bottom: 10px;
            border-bottom: 1px solid #cccccc;
            position: relative;
            height: 150px;


            .article_txt_box {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                width: 70%;


                .article_title {
                    padding-bottom: 10px;
                    font-size: var(--subtitle2);
                    font-weight: 500;
                }

                .article_summary {
                    overflow: hidden;
                    -webkit-line-clamp: 3;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    white-space: pre-line;
                }

                .article_react {
                    display: flex;
                    position: relative;

                    .article_like_box,
                    .article_comment_box,
                    .article_collect_box {
                        display: flex;
                        box-sizing: border-box;
                        padding: 10px 10px 0 0;
                        align-items: center;

                        .article_icon_item {
                            width: 15px;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .article_like_amount,
                    .article_collect_amount,
                    .article_comment_amount {
                        font-size: var(--tag);
                        padding-left: 5px;
                        color: #a3a3a3;
                    }
                }
            }

            .article_pic_box {
                width: 30vw;
                height: 150px;
                max-width: 140px;
                border-radius: 12px;
                overflow: hidden;

                @include PC() {
                    // height: 100%;
                    // width: auto;
                    width: 150px;
                    // max-width: auto;
                }

                img {
                    width: 100%;
                    height: auto;
                    padding: 5px;
                    vertical-align: middle;
                    border-radius: 12px;

                    @include PC() {
                        // height: 100%;
                        // width: 150px;
                        // width: auto;
                    }
                }
            }
        }
    }
}

.billboard_title {
    font-size: var(--subtitle2);
    font-weight: 500;
}

.billboard_rule {
    white-space: pre-line;
}

@media screen and (min-width: 768px) {
    .main_area {
        width: 80%;
    }
}

.swal-modal {
    z-index: 5000;
}