//引入共用sass ; 如: reset/common/header(上方選單)/sidebar(側邊欄) => 可以自行看自己葉面需要那些sass檔
@import "./layout/reset";
@import "./layout/common";
@import "./layout/header";
@import "./layout/sidebar";

//---------------------------從此開始寫自己頁面的sass----------------------------------------------
main {
    width: 100%;
    margin-top: 80px;
}

// 文章banner
.article_sort_banner {
    width: 100%;
    padding: 20px;

    img {
        width: 100%;
        border-radius: 25px;
    }
}



// 文章分類大標
.article_sort {
    width: 100%;
    position: relative;
    padding: 40px;

    .article_sort_box {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;

        .article_sort_item {
            display: flex;
            align-items: center;

            .article_sort_icon {
                width: 30px;

                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }

            .article_sort_txt {
                display: flex;
                align-items: center;
                font-size: var(--title);
                padding: 0 10px;
                font-weight: 700;

            }
        }
    }

    .change_page {
        display: flex;
        align-items: center;
        // margin-bottom: 20px;
        border-bottom: 1px solid #cccccc;

        .tag {
            padding: 5px;
            font-size: var(--subtitle2);
            margin-right: 20px;
        }

        .hot_article {
            border-bottom: 3px solid #00324e;
        }
    }

    .article_box {
        position: relative;

        .article_mem_info {
            display: flex;
            padding: 20px 0 5px;
            align-items: center;
            position: relative;

            .article_mem_icon {
                width: 18px;

                // background-color: #00324E;
                img {
                    width: 100%;
                    border-radius: 50%;
                    vertical-align: middle;
                }
            }

            .article_mem_name {
                // background-color: yellow;
                padding: 0 5px;
                font-size: var(--body2);
            }
        }

        .article_container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            box-sizing: border-box;
            // height: 140px;
            padding-bottom: 10px;
            border-bottom: 1px solid #cccccc;
            position: relative;

            .article_txt_box {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;


                .article_title {
                    padding-bottom: 10px;
                    font-size: var(--subtitle2);
                    font-weight: 700;
                }

                .article_react {
                    display: flex;
                    position: relative;

                    .article_like_box,
                    .article_comment_box,
                    .article_collect_box {
                        display: flex;
                        box-sizing: border-box;
                        padding: 10px 10px 0 0;
                        align-items: center;

                        .article_icon_item {
                            width: 15px;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .article_like_amount,
                    .article_collect_amount,
                    .article_comment_amount {
                        font-size: var(--tag);
                        padding-left: 5px;
                        color: #a3a3a3;
                    }
                }
            }

            .article_pic_box {
                height: 100%;

                img {
                    height: 100%;
                    border-radius: 10px;
                    padding: 5px;
                    vertical-align: middle;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        width: 80%;
    }
}