@import "./layout/reset";
@import "./layout/common";
@import "./layout/header";
@import "./layout/sidebar";

// html {
//     overflow: hidden;
// }
@mixin PC {
    @media screen and (min-width:768px) {
        @content;
    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(66, 66, 66, 0.6);
    z-index: 2000;
    display: none;

    .article_view_container {
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #ffffff;
        overflow: hidden scroll;


        @include PC() {
            max-width: 1000px;
            width: 50vw;
            min-width: 768px;

        }

        .article_view_mem_info_box {
            position: sticky;
            top: 0px;
            z-index: 2;
            // position: relative;
            display: flex;
            justify-content: space-between;
            background-color: #ffffff;
            padding: 15px;
            width: 100%;

            @include PC() {
                padding: 20px 0px;
            }

            .article_view_mem_info_item {
                display: flex;
                align-items: center;

                .article_view_mem_icon {
                    width: 35px;

                    img {
                        width: 100%;
                        vertical-align: middle;
                        border-radius: 50%;
                    }
                }

                .article_view_mem_name {
                    padding-left: 10px;
                }
            }

            .close_icon {
                width: 13px;
                cursor: pointer;

                img {
                    width: 100%;
                }
            }
        }

        .article_view_content_container {
            padding: 0 15px;

            @include PC() {
                padding: 0 60px;
            }
        }

        .article_view_title {
            font-size: var(--subtitle1);
            font-weight: 500;
            margin-bottom: 10px;

            @include PC() {
                font-size: var(--subtitle1);
            }
        }

        .article_view_info_box {
            display: flex;
            font-size: var(-- body2);
            padding-bottom: 10px;

            .article_view_sort {
                color: #0868c2;
            }

            .article_view_date {
                padding-left: 10px;
                color: var(--font-secondary);
                font-weight: 300;

            }
        }

        .article_view_content {
            .article_pic {
                width: 100%;

                img {
                    max-width: 100%;
                }
            }

            p {
                font-size: var(--body);
                line-height: 2;
                white-space: break-spaces;

            }
        }

        .interest_article_icon_item {
            width: 15px;
            margin-right: 5px;
            cursor: pointer;

            img {
                width: 100%;
            }
        }

        .interest_article_container {
            padding: 30px 15px;

            @include PC() {
                padding: 60px;
            }

            p {
                font-size: var(--body2);
            }

            .interest_article_box {
                display: flex;
                flex-wrap: wrap;


                .interest_article_item {
                    display: flex;
                    width: 100%;
                    background-color: #eeeeee;
                    justify-content: space-between;
                    border-radius: 5px;
                    margin: 0 5px 5px 0;
                    cursor: pointer;

                    @include PC() {
                        width: calc(50% - 5px);
                    }



                    .interest_article_txt {
                        padding: 10px;

                        h2 {
                            font-size: var(--body1);
                            padding-bottom: 10px;
                            font-weight: 500;

                        }

                        .interest_article_react {
                            display: flex;
                            font-size: var(--tag);
                            font-weight: 300;
                            color: var(--font-secondary);


                            .interest_article_like_box {
                                display: flex;
                                padding-right: 10px;
                            }

                            .interest_article_comment_box {
                                display: flex;
                            }
                        }
                    }

                    //   感興趣文章的圖片
                    .interest_article_pic_box {
                        height: auto;
                        padding: 10px;
                        width: 80px;
                        height: 80px;

                        img {
                            height: 100%;
                            vertical-align: middle;
                            border-radius: 10px;

                        }
                    }
                }


            }
        }

        // 留言區
        .comment_container {
            padding: 0 15px;
            width: 100%;
            // background-color: #c8d9fac4;
            position: relative;

            @include PC() {
                padding: 0 60px;
            }

            .comment_box {
                display: flex;
                padding: 20px 0;
                border-bottom: 1px solid #a3a3a3;

                .comment_head_photo {
                    width: 25px;
                    margin-right: 10px;

                    img {
                        border-radius: 50%;
                        width: 100%;
                    }
                }

                .comment_txt {
                    position: relative;
                    width: 100%;

                    .comment_mem_name_box {
                        display: flex;
                        justify-content: space-between;
                        font-size: var(--tag);

                        .comment_impeach_icon {
                            width: 15px;
                            margin-right: 5px;

                            img {
                                width: 100%;
                                vertical-align: middle;
                            }
                        }

                        .commen_like_amount {
                            color: var(--font-secondary);
                        }

                    }

                    .comment_content {
                        padding: 5px 0;
                    }

                    .comment_info {
                        font-size: var(--tag);
                        color: var(--font-secondary);
                        display: flex;

                        .comment_floor,
                        .comment_like_box,
                        .comment_date,
                        .comment_reply {
                            margin-right: 15px;
                            display: flex;
                            align-items: center;

                            .comment_like_icon {
                                width: 15px;
                                margin-right: 5px;

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

            }
        }

        // 使用者留言框
        .write_comment_container {
            position: sticky;
            bottom: 0;
            z-index: 2;
            width: 100%;
            // border-top: solid 1px #a3a3a3;

            .write_comment_box {
                display: flex;
                padding: 15px;
                justify-content: center;
                background-color: #ffffff;
                border-radius: 20px;

                @include PC() {
                    padding: 20px 60px;
                }

                .write_comment_item {
                    width: calc(100% - 30px);
                    border-radius: 8px;
                    border: 0.8px solid var(--font-secondary);
                    padding-left: 10px;
                }

                .send_comment_btn,
                .article_like,
                .article_collect,
                .article_other_function {
                    width: 30px;
                    padding: 5px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        vertical-align: middle;

                    }
                }

                .impeach {
                    display: none;
                    width: 80px;
                    height: 35px;
                    background-color: #B4D2F0;
                    position: relative;
                    color: #555;
                    font-size: 14px;
                    padding: 5px 0;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    border-radius: 5px;
                    position: absolute;
                    bottom: 60px;
                    right: 15px;
                    z-index: 1000;

                    @include PC() {
                        right: 32px;

                    }

                    p {
                        text-align: center;
                        line-height: 2;
                        cursor: pointer;
                    }
                }




                .impeach::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    right: 7px;
                    top: 27px;
                    height: 12px;
                    width: 12px;
                    border-left-color: transparent;
                    border-top-color: transparent;
                    -webkit-transform-origin: center center;
                    transform-origin: center center;
                    border-radius: 0px 0px 2px;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    background-color: #B4D2F0;

                    @include PC() {
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: 20px;
                        height: 20px;
                        width: 15px;
                    }
                }



            }
        }
    }
}