//引入共用sass ; 如: reset/common/header(上方選單)/sidebar(側邊欄) => 可以自行看自己葉面需要那些sass檔
@import "layout/reset";
@import "layout/common";
@import "layout/header";
@import "layout/sidebar";

// 側邊欄顏色
.sidebar_box .sidebar .sidebar_list a[href="billboard.html"] {
    color: #fff;
    text-shadow: 0 0 5px rgb(77, 68, 202);
}

.sidebar .sidebar_list a img[alt="所有看版"] {
    filter: invert(100%);
}

//---------------------------從此開始寫自己頁面的sass----------------------------------------------
$billboard_pic_phone_width: 78%;

@mixin PC {
    @media screen and (min-width: 768px) {
        @content;
    }
}

// billboard_item共用
%billboard_item_common {
    width: 50vw;
    height: 220px;
    color: var(--font-primary);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 5px 0.3em #ddd;
    position: relative;
    overflow: hidden;
    cursor: pointer;


    @include PC() {
        width: calc(100% - 20px);
        padding: 20px;
        margin: 10px 10px 20px;
    }
}

.billboard_main_area {
    width: 100%;
    margin-top: 80px;
    padding: 0 10px;
    position: relative;

    @include PC() {
        width: 80%;
        margin-top: 135px;
        padding: 0 40px;
    }

    .billboard_sort {
        font-size: var(--title);
        margin-left: 20px;
        font-weight: 500;
    }

    // 文字
    .billboard_name {
        font-size: var(--subtitle2);
        font-weight: 500;

        @include PC() {
            font-size: var(--subtitle1);

        }
    }

    .billboard_txt {
        font-size: var(--body1);

        @include PC() {
            font-size: var(--body2);
            padding-bottom: 15px;
        }
    }

    // 看版
    .billboard_box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;

        @include PC() {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: 0 auto;
        }

        .top_area {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            @include PC() {
                // display: flex;
            }

            // 左邊區域
            .left_area {
                width: calc(100vw - 20px);
                display: flex;

                @include PC() {
                    width: calc(33.333%);
                    display: block;
                }

                // 感情版
                .love_billboard_item {
                    @extend %billboard_item_common;
                    background-color: #ffadc4aa;
                    cursor: pointer;


                    @include PC() {
                        height: 200px;
                    }



                    .love_billboard_pic {
                        width: $billboard_pic_phone_width;
                        position: absolute;
                        bottom: -10%;
                        right: -1%;
                        transition: 0.5s;

                        @include PC() {
                            width: 58%;
                            bottom: -20%;
                            right: 7%;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .love_billboard_pic:hover {
                        @include PC() {
                            width: 68%;
                        }
                    }
                }

                // 音樂版
                .music_billboard_item {
                    @extend %billboard_item_common;
                    background-color: #fdd7aeaa;
                    margin-top: 50px;
                    cursor: pointer;

                    @include PC() {
                        height: 200px;
                        margin-top: 10px;
                    }


                    .music_billboard_pic {
                        width: 80%;
                        position: absolute;
                        bottom: -10%;
                        right: -1%;
                        transition: 0.5s;

                        @include PC() {
                            width: 55%;
                            bottom: -10%;
                            right: 5%;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .music_billboard_pic:hover {
                        @include PC() {
                            width: 65%;
                        }

                    }
                }
            }

            // 右邊區域
            .right_area {
                width: calc(100vw - 20px);
                display: flex;
                margin-top: -40px;


                @include PC() {
                    width: calc(66.666%);
                    margin-top: 0;
                }

                // 美妝版
                .makeup_billboard_item {
                    @extend %billboard_item_common;
                    background-color: #d9bdf7aa;
                    cursor: pointer;


                    @include PC() {
                        height: 420px;
                        width: 50%;
                    }

                    .makeup_billboard_pic {
                        width: $billboard_pic_phone_width;
                        position: absolute;
                        bottom: -10%;
                        right: -1%;
                        transition: 0.5s;

                        @include PC() {
                            width: 68%;
                            bottom: -8%;
                            right: 0;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .makeup_billboard_pic:hover {
                        @include PC() {
                            width: 78%;
                        }
                    }
                }

                // 運動版
                .sport_billboard_item {
                    @extend %billboard_item_common;
                    background-color: #fff3adaa;
                    margin-top: 50px;
                    cursor: pointer;

                    @include PC() {
                        height: 420px;
                        width: 50%;
                        margin-top: 10px;
                    }

                    .sport_billboard_pic {
                        width: $billboard_pic_phone_width;
                        position: absolute;
                        bottom: -8%;
                        right: -5%;
                        transition: 0.5s;

                        @include PC() {
                            width: 74%;
                            bottom: -5%;
                            right: -2%;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .sport_billboard_pic:hover {
                        @include PC() {
                            width: 84%;
                        }
                    }
                }
            }
        }

        // 下方區域
        .bottom_area {
            width: calc(100vw - 20px);
            margin-bottom: 80px;
            display: flex;
            margin-top: -40px;

            @include PC() {
                width: 100%;
                box-sizing: border-box;
                margin-top: -10px;
            }

            // 旅遊版
            .travel_billboard_item {
                @extend %billboard_item_common;
                background-color: #b7dbfaaa;
                cursor: pointer;

                @include PC() {
                    width: 50%;
                    height: 300px;
                }


                .travel_billboard_pic {
                    width: $billboard_pic_phone_width;
                    position: absolute;
                    bottom: -10%;
                    right: -1%;
                    transition: 0.5s;

                    @include PC() {
                        width: 50%;
                        bottom: -15%;
                        right: 6%;
                    }

                    img {
                        width: 100%;
                    }
                }

                .travel_billboard_pic:hover {
                    @include PC() {
                        width: 60%;
                    }
                }
            }

            // 時尚版
            .fashion_billboard_item {
                @extend %billboard_item_common;
                background-color: #d0f5b9aa;
                margin-top: 50px;
                cursor: pointer;

                @include PC() {
                    width: 50%;
                    height: 300px;
                    margin-top: 10px;
                }



                .fashion_billboard_pic {
                    width: $billboard_pic_phone_width;
                    position: absolute;
                    bottom: -10%;
                    right: -1%;
                    transition: 0.5s;

                    @include PC() {
                        width: 45%;
                        bottom: -12%;
                        right: 5%;
                    }

                    img {
                        width: 100%;
                    }
                }

                .fashion_billboard_pic:hover {
                    @include PC() {
                        width: 55%;
                    }
                }
            }
        }
    }
}