@import"./layout/reset";
@import"./layout/common";


/*================ SWITCH ================*/

$dark-bg: #000;
$light-bg: #ffffff;

body{
  background-color: $dark-bg;
  transition: background-color 0.2s;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.center{
  width: 100%;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}
.instruct{
  color:#FFFFFF;
  margin: 5% auto;
  text-align: center;
  line-height: 2;
  font-size: 20px;
}
.switch_on{
  color:#FFFFFF;
  margin: 5% auto;
  text-align: center;
  line-height: 2;
  font-size: 16px;
}
.light-bg{
  background-color: $light-bg;
  transition: background-color 1s; 
}

.glow{
  box-shadow: 0px 0px 100px 46px rgba(255,248,225,0.5);
}

/*================ SWITCH ================*/

$on-bg: #009d8c;
$off-bg: #b4b4b4;
$circle-bg: white;


.switch {
  position: relative;
  display: block;
  margin: auto;
  width: 40px;
  height: 20px;
  
  .switch__checkbox {
    display:none;
  }
  
  .switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $off-bg;
  -webkit-transition: .4s;
  transition: .4s;
    &:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      //left: 2px;
      //bottom: 2.5px;
      background-color: $circle-bg;
      -webkit-transition: .4s;
      transition: .4s;
      -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
       box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    }
  }
  
}

.switch__checkbox:checked + .switch__slider {
  background-color: $on-bg;
}

.switch__checkbox:checked + .switch__slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}





section{
  visibility:hidden;
}
.st0{fill:#F5BA79;}

.st1{fill:#473C3C;}

.st2{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}


.left_button{
  width: 80px;
  height: 80px;
  background-color:#02314c;
  border-radius: 50%;
  position: fixed;
  top:-30px;
  right: 10px;
  z-index: 1;
  color: #333333;
  overflow: hidden;
}
.right_decor{
  width: 80px;
  height: 80px;
  background-color:#02314c;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  left: -25px;
  z-index: 1;

}
#return{
  position: absolute;
  width: 30px;
  height: 30px;
  top:40px;
  left: 25px;
  cursor: pointer;
}
#home{
  position: absolute;
  width: 35px;
  height: 35px;
  top:20px;
  left: 35px;
  cursor: pointer;
}



/* Rounded sliders  */
.switch--round {
    .switch__slider{
    border-radius: 34px;
    &:before{
      border-radius: 50%;
    }
  }
}
*{
  box-sizing:border-box;
}
.bg_img{
  height: 100vh;
  position: absolute;
  z-index: -2;
  visibility: hidden;
}
.bg_img img{
  width: 100%;
}
.cards{
  display: flex;
  justify-content: space-around;
  margin:0 auto;
  width: 750px;//
  position: relative;

}
.avatar_circle{
  position: relative;
  margin-top: 50%;
}
.card{
  position:absolute; 
  padding:10px 20px 0;
  width: 250px;
  clip-path: circle(3% at 13% 3%);
  transition: all ease-in-out .3s;
  background-color:#ffffff60;
  z-index: 1;
  margin-top: 20%;//height-50px
  text-align: center;
 
  &:hover, &:focus{
    clip-path: circle(75%);
    border-radius:20px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
                0px 3px 18px rgba(0,0,0,0.08);
    background:#ffffff;
    
    outline:none;
    .card__infoicon{
      opacity: 0;
    }
  }
  &:focus{
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 
                0px 3px 18px rgba(0,0,0,0.08), 
                0px 0px 0px 4px rgba(0,0,0,0.2);
  }
}



.left{
  background-color: #F09296;
  &:hover, &:focus{
    background:#F09296;
  }
    
}
.middle{
  
  background-color: #97B2FF;
  &:hover, &:focus{
    background:#97B2FF;
  }
}
.right{
  background-color: #F5BA79;
  &:hover, &:focus{
    background:#F5BA79;
  }
}

#collect{
    position: absolute;
    width:45px ;
    height: 150px;
    border-radius: 50px;
    border: 2px solid#6d6d6d;
    background-color: transparent;
    margin: 25% 0 0 10%;

    display: flex;
    flex-direction: column-reverse;

    // justify-content: left;
    // align-items: center;
    // flex-direction: row;
}
.ball_collect_red{
  width: 30px;
  height: 30px;
  background-color:#F09296 ;
  border-radius: 50%;
  margin: 3px 5px;
  animation: ball_collect 1.5s 1;
}
.ball_collect_blue{
  width: 30px;
  height: 30px;
  background-color:#97B2FF;
  border-radius: 50%;
  margin: 3px 5px;
  animation: ball_collect 1.5s 1;
  
}
.ball_collect_yellow{
  width: 30px;
  height: 30px;
  background-color:#F5BA79 ;
  border-radius: 50%;
  margin: 3px 5px;
  animation: ball_collect 1.5s 1;
}

@keyframes ball_collect{
  0%{transform:translateY(-50px);}
  35%{transform:translateY(0px);}
  65%{transform:translateY(-20px);}
  100%{transform:translateY(0px);}//translate可以不用絕對定位動畫
}
.avatar{
  width: 75px;
  position: relative;
  margin: 0 40px;
  }
  .avartar_img_box{
    width: 100px;
    margin: 5px auto 0px auto;
    
  }
  i{
    font-size: 20px;
    color: rgb(39, 0, 0);
  }
  .avatar_img{
    width: 100%;
    border-radius: 50%;
  }
  .card_title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
  }

  .cards_infos{
  text-align: left;
  }
  .info_title{
  font-weight: 500;
  font-size: 16px;
  color:rgb(51, 0, 0);
  }
  .card_description{
    font-weight: 300;
    text-align: left;
    font-size: 16px;
    color: rgb(39, 0, 0);
    margin-left: 10px;
  }
  .check_button{

    width: 50%;
    height:30px;
    border-radius: 10px;
    border:2px solid rgb(255, 255, 255);
    margin: 0% auto 10%;
    color: rgb(58, 58, 58);
    background-color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    
  }
  .tree_phone{
    display: none;
  }



  #typewriter-contain{
    margin-top:10%;
    left:25%;
    display: flex;
    height: 45px; //
    width: 500px; //這邊我有對最長文字的寬
    overflow: hidden; //把其他不需要的地方隱藏
    position: relative;
  }

  //文字讓他不要換行
//   .static-text{
//     white-space: nowrap;
//     color:#F5BA79
//   }
  
  //處理-2：打字效果
  .dynamic-text{
    position: relative; //相對於偽元素而言
    height: 50px;
    margin-left: 10px;
    white-space: nowrap;
    font-weight: 500;
    color: #747474;
    font-size: 30px;
  
    &:before{
      content: '';
      position: absolute;
      border-left: solid 1px  #ffffff;
          //border-left 用來做會閃爍的打字線
      width: 100%;
      height: 100%;
      bottom: 0;
      left:0;
      background: #ffffff; //偽元素就是一塊黑黑的傢伙把其他字遮起來～
      animation: typewriter 4s steps(23) infinite, 
  blink 0.5s steps(23) infinite, 
          //animation一次可以放很多個
          //animation的step就是將想要的效果拆解成幾步驟的意思
          //這邊以最長的文字長度23拆解出來～
          //typewriter 效果就是一直讓黑黑的遮布往右邊移動
          //blink 效果就是讓打字的線|一直閃爍
          
    }
  }
  
  @keyframes typewriter{
    40%, 60%{
      left: 100%;
    }
      //40%~60% 讓字固定在最長的長度
    100%{
      left: 0;
    }
      //100% 再讓所有字消失，好像有人在把字刪掉的感覺～
  }
  
  @keyframes blink{
    from{border-left: solid 2px  #f7f7f7;}
    to{border-left: solid 2px  transparent;}
  }
  
  //處理-3：換字效果
  
  .dynamic-text-wrapper{
    position: relative; //因為要移動
    top: 0px;
    animation: moveup 16s steps(4) 4,
      //每一行打字設定是4s所以3s需要花費 4*3 =12秒時間移到最後一行
      //因為3行所以這個動畫花steps(3)次解決～
  }
  
  @keyframes moveup{
    0%{top:0;}
    100%{top: -200px;}
      //每行高度是50px，要讓最後一行出現就是50px*3行=150px囉～
  }
  




  @media screen and (max-width: 576px){
    // main{
    //   width: 100%;
    //   height: 100%;
    //   overflow: hidden;
    // }

    .bg_img{
    width: 300vh;
    position: fixed;
    z-index: -1;
    visibility: hidden;
    }
    .bg_img img{
    width: 100%;
    }
    .center{
      width: 320px;
    }
    .instruct{
      font-size: 20px;
    }
    .switch_on{
      }

    #collect{
      margin-top: 20%;
      width: 40%;
      margin: 0 auto 5% auto;
      display: flex;
      position: relative;
      height: 45px;
      justify-content: left;
      align-items: center;
      flex-direction: row;
    }
    .tree_round{
      display: none;
    }
    .tree_triple{
      display: none;
    }
    .ball{
      margin-top: 5%;
      width: 30%;
      display: none;
    }
    .cards{
      width: 350px;
      margin: 10% 0%;
      display: block;
      position: relative;

    }
    .card{
      padding:10px 30px;
      margin-top: 15%;
      margin-left: 20%;
      clip-path: circle(4% at 5.5% 5%);
      z-index: 3;
      width: 80%;
  
    }
  
    
    .avatar_circle{
      margin-top: 10%;
      margin-left: -5%;
      
    }
   
    .card_box{
      width: 100px;
      margin-bottom: 20%;

    }
    .tree_phone{
      position: absolute;
      display: block;
      width: 50%;
      right:0;
    
    }
    .tree_phone_img{
      width: 100%;
    }
  }