@import "./layout/reset";
@import "./layout/common";
@import "./layout/header";
@import "./layout/sidebar";

/* 以下為主要區域 */
.main_area{
    width: 100%;
    margin-top: 80px;
    padding: 0 20px;
    margin-bottom: 67px;
    box-sizing: border-box;
    @media screen and (min-width: 768px){
        width: 80%;
        margin-top: 135px;
        padding: 0 40px;
    }
    h2{
        font-size: var(--title);
        font-weight: var(--bold);
        margin-bottom: 20px;
    }
}

.charts_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 20px;
    .charts_img{
        width: 55px;
        margin-right: 12px;
        img{
            width: 100%;
            border-radius: var(--img-radius);
        }
    }
    .charts_name{
        display: flex;
        flex-direction: column;
        span:last-child{
            font-size: var(--body2);
            color: var(--font-secondary);
        }
    }
}