@import"./layout/reset";
@import"./layout/common";


body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
//loading

.container_load{
    margin: auto;
    display: flex;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 10;
    background-color: #FFFFFF;
    
}
.red_ball{
    width: 100px;
    height: 100px;
    left: 55%;
    position:absolute;
    animation-duration:1.5s;
    animation-name:red_ball_anime;
    animation-iteration-count:infinite;
}
.blue_ball{
    width: 100px;
    height: 100px;
    left: 41%;
    position:absolute;
    animation-duration:1.5s;
    animation-name:blue_ball_anime;
    animation-iteration-count:infinite;
}
@keyframes red_ball_anime{
    0%{
        top:240px;
    }

    50%{
        top:150px;
    }

    100%{
        top:240px;
    }
}
@keyframes blue_ball_anime{
    0%{
        top:150px;
    }

    50%{
        top:240px;
    }

    100%{
        top:150px;
    }
}
.ellipses{
    background: #d6d6d6;
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 50% / 50%;
    top:350px;
    animation-duration:1.5s;
    animation-iteration-count:infinite;
}
.red_shadow{
    left: 57%;
    animation-name:shadow_r;
    

}
.blue_shadow{
    left: 43%;
    animation-name:shadow_b;
}

@keyframes shadow_r{
    0%{
        width: 50px;
    }

    50%{
        width:40px;
    }

    100%{
        width: 50px;
    }
}
@keyframes shadow_b{
    0%{
        width: 40px;
    }

    50%{
        width:50px;
    }

    100%{
        width: 40px;
    }
}
.login_text{
    position: fixed;
    top:70%;
    right: 45%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: rgb(129, 129, 129);
}


//game
.player{
    width: 100%;
    position: relative;
}

.left_button{
    width: 100px;
    height: 100px;
    background-color:#02314c;
    border-radius: 50%;
    position: absolute;
    top:-20px;
    right:-20px;
    z-index: 1;
    color: #333333;
}

#return{
    position: absolute;
    width: 30px;
    height: 30px;
    top:40px;
    left: 30px;
    cursor: pointer;
}
#home{
    position: absolute;
    width: 35px;
    height: 35px;
    top:30px;
    left: 35px;
    cursor: pointer;
}
// .fa-solid {
//     position: absolute;
//     width: 20px;
//     height: 20px;
//     z-index: 10;
//     top:100px;
//     font-size: 100px;
// }
.right_decor{
    width: 100px;
    height: 100px;
    background-color:#02314c;
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: -20px;
    z-index: 1;

}
.lightbox{
    position: absolute;
    top:-10%;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 19, 19, 0.568);
    z-index: 4;
   
}
.instrction{
    position: relative;
    margin: auto;
    top:20%;
   width: 50%;
   background-color: rgb(255, 255, 255);
   padding: 40px;
   line-height: 2;
   text-align: center;
   font-size: 16px;
   font-weight: 500;
   color: #02314c;
   border-radius: 15px;
   border: 1.5px solid rgb(32, 32, 32);
}
.instrction span{
    font-size:26px;
    line-height: 2;
    font-weight: 500;
}

.lightbox_button{
    display: flex;
    justify-content: center;
    
}
.lightbox_button img{
    width: 80px;
    margin: 10px;
    cursor: pointer;
}
#button_check:hover{
    top:30px;
}

.video_viewer{
    // position:absolute;
    position: relative;
    width: 100%;
}
.video_viewer video{
    position: relative;
    width: 100%;
}
.ball{
    position: absolute;
    right: 43%;
    top:43%;
    width: 12%;
    height: 12%;
    z-index: 3;
}
.question{
    /* 問題文字 */
    position: absolute;
    width: 400px;
    top:90px;
    left: 250px;
    padding: 10px;
    color: #02314c;
    /* color: rgb(255, 255, 255); */
    visibility:hidden;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 2;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
.question span{
    font-weight: 700;
    font-size: 24px;
}
.question_frame{
    /*問題div框*/
    position: absolute;
    top:50px;
    left: 200px;
    width: 500px;
    height: 250px;
}
.question_frame img{
     /*問題背景圖*/
    width: 100%;
    height: 100%;
}

.answer_frame{
    position: absolute;
    width: 320px;
    height: 200px;
    top:280px;
    right:150px;
}

.answer_frame img{
    width: 100%;
    height: 100%;
}
.Ans_A{
    position:absolute;
    right: 250px;
    top:315px;
    z-index: 2;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

.Ans_B{
    position:absolute;
    right: 250px;
    top:350px;
    z-index: 2;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}
.Ans_C{
    position:absolute;
    right: 250px;
    top:385px;
    z-index: 2;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

#start{
    position: absolute;
    width: 55%;
    top:10%;
    left: 15%;
    padding: 10px;
    font-size: 24px;
    color: #02314c;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    visibility: hidden;
 

}

#choose_text{
    padding-top: 30px;
}

.start_text_animation{
    animation-name:start_text_ani;
    animation-duration: .5s;

}
@keyframes start_text_ani{
    0%{
    //    left: -10px;
        top:100px;
        opacity: .5;
        transform: rotate3d(1, 20, 20, .1turn);
        
        // transform: scale(0) rotate3d(0, 11, 1, 45deg);
    }
 
    100%{
        top:70px;
        // left: 180px;
        opacity: 1;}

  }


.choose_text_animation{
    animation-name:choose_text_ani;
    animation-duration: .5s;

}
@keyframes choose_text_ani{
    0%{
    //    left: -10px;
        top:100px;
        opacity: .5;
        transform: rotate3d(1, 20, 20, -.1turn);
        
        // transform: scale(0) rotate3d(0, 11, 1, 45deg);
    }
 
    100%{
        top:70px;
        // left: 180px;
        opacity: 1;}

  }
#start span{
    
    font-size: 70px;
}

.start {
    position:absolute;
    margin: auto;
    top: 45%;
    left: 65%;
    font-size: 20px;
    background-size: 200px 50px;
    z-index: 3;
    cursor: pointer;
}
.start_bitton_anime{
    animation-name: start_button_ani;
    animation-duration: .5s;
}

@keyframes start_button_ani{
    0%{
        top:45%;
        opacity: 1;
    }
    50%{top:50%}
    100%{
        top: 45%;
        opacity: 0;}

  }

.start_button_img{
    width: 80px;
    height: 80px;
}
.color_chart{
    display:block;
}
.color_option{
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 3;
    // border: 1.5px solid #02314c;;
    cursor: pointer;
    border-radius: 0.75em;
    /* border-radius: 50%; */

}

.pink{
   left: 37.5%;
   top:30%;
   background-color: #F09296;
}
.yellow{
    left: 37.5%;
    top:38%;
    background-color: #F5BA79;
}
.purple{
    left: 37.5%;
    top:46%;
    background-color: #97B2FF;
}
#question0{
    visibility:visible;
    font-size: 50px;
    text-align: center;
}






#typewriter-contain{
    top:200px;
    left:500px;
    display: flex;
    height: 50px; //
    width: 900px; //這邊我有對最長文字的寬
    overflow: hidden; //把其他不需要的地方隱藏
    position: absolute;
  }

  //文字讓他不要換行
//   .static-text{
//     white-space: nowrap;
//     color:#F5BA79
//   }
  
  //處理-2：打字效果
  .dynamic-text{
    position: relative; //相對於偽元素而言
    height: 50px;
    margin-left: 10px;
    white-space: nowrap;
    font-weight: 500;
    color: #fff5f0;
    font-size: 30px;
  
    &:before{
      content: '';
      position: absolute;
      border-left: solid 1px  #ffffff;
          //border-left 用來做會閃爍的打字線
      width: 100%;
      height: 100%;
      bottom: 0;
      left:0;
      background: #1C1415; //偽元素就是一塊黑黑的傢伙把其他字遮起來～
      animation: typewriter 4s steps(23) 4, 
  blink 0.5s steps(23) infinite, 
          //animation一次可以放很多個
          //animation的step就是將想要的效果拆解成幾步驟的意思
          //這邊以最長的文字長度23拆解出來～
          //typewriter 效果就是一直讓黑黑的遮布往右邊移動
          //blink 效果就是讓打字的線|一直閃爍
          
    }
  }
  
  @keyframes typewriter{
    40%, 60%{
      left: 100%;
    }
      //40%~60% 讓字固定在最長的長度
    100%{
      left: 0;
    }
      //100% 再讓所有字消失，好像有人在把字刪掉的感覺～
  }
  
  @keyframes blink{
    from{border-left: solid 2px  #f7f7f7;}
    to{border-left: solid 2px  transparent;}
  }
  
  //處理-3：換字效果
  
  .dynamic-text-wrapper{
    position: relative; //因為要移動
    top: 0px;
    animation: moveup 16s steps(4) 4,
      //每一行打字設定是4s所以3s需要花費 4*3 =12秒時間移到最後一行
      //因為3行所以這個動畫花steps(3)次解決～
  }
  
  @keyframes moveup{
    0%{top:0;}
    100%{top: -200px;}
      //每行高度是50px，要讓最後一行出現就是50px*3行=150px囉～
  }
  

#destiny_botton{
    position: absolute;
    top:63%;
    left: 46%;
    
#My_destiny_button{
    border: 2px solid white;
    padding: 0 10px;
    line-height: 2;
    border-radius: 20px;
    font-size: 18px;
    background-color: #1C1415;
    color: white;
    font-weight: 700; 
    cursor: pointer;
    
}

.countdown_time{
    font-size: 24px;
    color: #f7f7f7;
}
}


/* svg_ball */



.st0{fill:#F5BA79;}

.st1{fill:#473C3C;}

.st2{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:2;stroke-miterlimit:10;}