.article_list{
    width: 100%;
}
.article_box {
    position: relative;

    .article_mem_info {
        display: flex;
        padding: 20px 0 5px;
        align-items: center;
        position: relative;

        .article_mem_icon {
            width: 18px;

            // background-color: #00324E;
            img {
                width: 100%;
                border-radius: 50%;
                vertical-align: middle;
            }
        }

        .article_mem_name {
            // background-color: yellow;
            padding: 0 5px;
            font-size: var(--body2);
        }
    }

    .article_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        padding-bottom: 10px;
        border-bottom: 1px solid #cccccc;
        position: relative;
        .article_txt_box {
            
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;


            .article_title {
                padding-bottom: 10px;
                flex-grow: 1;
                font-size: var(--subtitle2);
                font-weight: 700;
            }

            .article_react {
                display: flex;
                position: relative;

                .article_like_box,
                .article_comment_box,
                .article_collect_box {
                    display: flex;
                    box-sizing: border-box;
                    padding: 10px 10px 0 0;
                    align-items: center;

                    .article_icon_item {
                        width: 15px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .article_like_amount,
                .article_collect_amount,
                .article_comment_amount {
                    font-size: var(--tag);
                    padding-left: 5px;
                    color: #a3a3a3;
                }
            }
        }
        .article_pic_box {
            height: 20%;
            img {
                height: 100%;
                border-radius: 10px;
                padding: 5px;
                vertical-align: middle;
            }
        }
    }
}