@import "./layout/reset";
@import "./layout/common";
@import "./layout/header";
@import "./layout/sidebar";

/* 會員左側欄開始 */
.top_bar_box {
    top: 0;
}

.member_sidebar_box {
    width: 20%;
    margin-top: 100px;
    position: fixed;

    .member_sidebar {
        width: 100%;
        height: 100vh;
        padding: 12px;
        background-color: #00324e;
        border-top-right-radius: 100px;

        .member_nav {
            height: 100%;

            .member_head {
                height: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                color: #fff;

                .member_head_img {
                    width: 100px;
                    height: 100px;
                    margin: 20px;

                    img {
                        width: 100px;
                        height: 100px;
                        vertical-align: top;
                        border-radius: 50%;
                    }

                }
            }

            .member_bar {
                width: 100%;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;

                a {
                    text-decoration: none;
                }

                .member_btn {
                    width: 100%;
                    height: 44px;
                    border-radius: 10px;
                    padding-left: 22%;
                    display: flex;
                    justify-content: start;
                    align-items: center;

                    .test1 {
                        display: block;
                        font-size: 20px;
                        color: #fff;
                    }

                    .test3 {
                        width: 20px;
                        height: 20px;
                    }
                    span{
                        color: #fff;
                    }
                    p{
                        color: #fff;
                    }
                }

                .member_btn:hover {
                    background-color: #fff;

                    .showicon {
                        display: block;
                    }

                    .hovericon {
                        display: none;
                    }

                    .test1 {
                        display: block;
                        color: #00324e;
                    }

                    .test3 {
                        display: none;
                    }

                    span {
                        color: #00324e;
                    }
                }

                img {
                    width: 20px;
                    height: 20px;
                    // color: white;
                    // background-color: var(--icon-color);
                }

                span {
                    margin: 0 5px;
                }
            }
        }
    }
}