.top_bar_box {
    top: 0;
}

aside {
    display: none;
}

.member_sidebar_box {
    display: none;
}

.backPage {
    margin-top: 70px;

    button {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 14px;
        letter-spacing: .05em;
        border-radius: .75em;
        font-weight: 500;
        color: var(--primary-color);
        background-color: var(--button-secondary);
        border: none;
        outline: none;
        padding: 5px 13px;
        cursor: pointer;
    }
}

.member_main_box {
    .member_bg {
        .member_art_text {
            margin-top: 0px;

            .article_box {
                width: 80%;
                position: relative;
                margin: auto;

                // margin-left: 20%;
                .article_mem_info {
                    display: flex;
                    padding: 20px 0 5px;
                    align-items: center;
                    position: relative;

                    .member_articlemore {
                        width: 10%;
                        text-align: end;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .article_mem_icon {
                        width: 5%;
                        text-align: center;

                        // background-color: #00324E;
                        img {
                            width: 25px;
                            border-radius: 25px;
                            vertical-align: middle;
                        }
                    }

                    .article_mem_name {
                        width: 100%;
                        padding: 0 5px;
                        font-size: var(--body2);
                    }
                }

                .article_container {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    box-sizing: border-box;
                    // height: 140px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #cccccc;
                    position: relative;

                    .article_txt_box {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        width: 70%;
                        flex-shrink: 0;


                        .article_title {
                            padding-bottom: 10px;
                            font-size: var(--subtitle2);
                            font-weight: 700;
                        }

                        .article_summary {
                            white-space: pre-line;
                        }

                        .article_react {
                            display: flex;
                            position: relative;

                            .article_like_box,
                            .article_comment_box,
                            .article_collect_box {
                                display: flex;
                                box-sizing: border-box;
                                padding: 10px 10px 0 0;
                                align-items: center;

                                .article_icon_item {
                                    width: 15px;

                                    img {
                                        width: 100%;
                                    }
                                }
                            }

                            .article_like_amount,
                            .article_collect_amount,
                            .article_comment_amount {
                                font-size: var(--tag);
                                padding-left: 5px;
                                color: #a3a3a3;
                            }
                        }
                    }

                    .article_pic_box {
                        height: 100%;

                        img {
                            width: 100%;
                            border-radius: 10px;
                            padding: 5px;
                            vertical-align: middle;
                        }
                    }
                }
            }

            .member_art_card {
                width: 90%;
                margin: auto;
                margin-top: 25px;
                background-color: var(--icon-color);

                .member_art_more {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    padding-top: 5px;
                    padding-right: 10px;

                    img {
                        width: 25px;
                        height: 25px;
                        vertical-align: top;
                        opacity: 0.5;
                    }
                }

                .member_card_imgtxt {
                    .member_card_bgbox {
                        display: flex;

                        .member_card_artbox {
                            width: 80%;

                            .gap {
                                margin: 10px 0;
                            }

                            .cardtxt_label {
                                display: flex;

                                p {
                                    margin-left: 10px;
                                    color: var(--font-secondary);
                                    font-size: 14px;
                                }
                            }

                            .cardtxt_art {
                                h3 {
                                    font-size: 18px;
                                    margin: 10px 0;
                                    padding: 0 5px;

                                }

                                p {
                                    font-size: 14px;
                                    margin: 10px 0;
                                    padding: 0 10px;

                                }
                            }
                        }


                        .cardimg {
                            width: 40%;
                            text-align: center;

                            img {
                                width: 100px;
                                height: 100px;
                                vertical-align: top;
                                border-radius: 10px;
                            }
                        }


                    }

                    .cardlike {
                        width: 100%;
                        display: flex;
                        justify-content: start;

                        .cardsave {
                            width: 60%;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            padding: 5px;

                            img {
                                width: 25px;
                                height: 25px;
                                vertical-align: top;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width:768px) {
    aside {
        display: inline-block;
    }

    .member_sidebar_box {
        display: block;
    }

    .member_main_box {
        .member_bg {
            .member_art_text {
                .member_art_card {
                    width: 90%;
                    margin: auto;
                    margin-top: 25px;
                    background-color: var(--icon-color);

                    .member_art_more {
                        width: 100%;

                        display: flex;
                        justify-content: flex-end;
                        padding-top: 5px;
                        padding-right: 10px;

                        img {
                            width: 25px;
                            height: 25px;
                            vertical-align: top;
                            opacity: 0.5;
                            transform: rotate(90deg);
                        }
                    }

                    .member_card_imgtxt {
                        .member_card_bgbox {
                            display: flex;

                            .member_card_artbox {
                                width: 80%;

                                .gap {
                                    margin: 10px 0;
                                }

                                .cardtxt_label {
                                    display: flex;

                                    p {
                                        margin-left: 10px;
                                        color: var(--font-secondary);
                                        font-size: 14px;
                                    }
                                }

                                .cardtxt_art {
                                    margin-top: 20px;

                                    h3 {
                                        font-size: 18px;
                                        margin: 10px 0;
                                        padding: 0 5px;

                                    }

                                    p {
                                        font-size: 14px;
                                        margin: 10px 0;
                                        padding: 0 10px;

                                    }
                                }
                            }


                            .cardimg {
                                width: 40%;
                                text-align: center;

                                img {
                                    width: 150px;
                                    height: 150px;
                                    vertical-align: top;
                                    border-radius: 10px;
                                }
                            }


                        }

                        .cardlike {
                            width: 100%;
                            display: flex;
                            justify-content: start;

                            .cardsave {
                                width: 30%;
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                padding: 5px;

                                img {
                                    width: 25px;
                                    height: 25px;
                                    vertical-align: top;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}