aside {
    display: none;
}
.top_bar_box{
    top: 0;
}
.member_sidebar_box{
    display: none;
}
.backPage {
    margin-top: 70px;

    button {
        border: 0;
        background-color:transparent;
        outline: none;
        img{
            width: 50px;
            height: 50px;
            vertical-align: top;
        }
    }
}

.member_main_box {
    .member_bg {
        .member_bgcard {
            .member_main {
                .member_head {
                    display: none;
                }
            }

            .member_main_title {
                display: none;
            }

            .member_cardimage {
                width: 100%;
                margin: auto;
                margin-top: 0px;
                position: relative;

                img {
                    width: 100%;
                    vertical-align: top;
                }

                .member_bgimage {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    padding-top: 40px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                .member_headimage {
                    width: 100px;
                    height: 100px;
                    background-color: #fff;
                    border: 2px solid #666;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    left: 38%;
                    bottom: -25%;
                    position: absolute;
                    padding: 5px;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    p {
                        text-align: center;
                        font-size: 18px;
                    }
                    h4{
                        text-align: center;
                        padding-top: 10px;
                    }

                    p:nth-child(2) {
                        margin-top: 20px;
                        margin-bottom: 10px;
                        font-size: 18px;
                        line-height: 1.5em;
                        text-align: center;
                    }
                }

            }

            .member_cardtext {
                margin-top: 120px;
                padding-bottom: 10px;

                .member_cardtext_img {
                    width: 80%;
                    margin: auto;
                    text-align: end;
                    cursor: pointer;

                    img {
                        width: 25px;
                        height: 25px;
                        vertical-align: top;
                    }
                }

                .member_cardmain {
                    width: 80%;
                    margin: auto;

                    .member_cardrow {
                        display: flex;
                        text-align: left;
                    }

                    .gap {
                        width: 50%;
                        margin: 20px 0;
                    }

                    h3 {
                        margin: 10px 0px;
                        font-size: 18px;
                    }

                    p {
                        margin: 20px 0px;
                        color: #5f5f5fa3;
                        font-size: 14px;
                    }
                }

            }
        }
    }
}

#edit_intro {
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #cccc;
    backdrop-filter: blur(5px);
}

#editForm {
        width: 50%;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        position: absolute;
        height: 100%;
        overflow: auto;
        left: 0;
        right: 0;
        background-color: #fff;
    }
 .close {
                text-align: end;
                position: absolute;
                top: 2%;
                right: 5%;
                cursor: pointer;
                z-index: 10;

                img {
                    width: 20px;
                    height: 20px;
                    vertical-align: top;
                }
            }

.lightbox_bgimage{ 
    padding: 0 15px;
    margin: 0px 0px 0 0;
    
}
.lightbox_headimage{
    align-items: center;
    
    h4{
        text-align: center;
        margin-top: 10px;
    }
    
}
.upload{
    width: 40px;
    margin: -10px auto;
    cursor: pointer;
    
}
.upload img{
    width: 100%;
    cursor: pointer;
}


.submit_button {
    height: 0px;
    text-align: center;
   margin-bottom:100px;
    button{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 14px;
        letter-spacing: .05em;
        border-radius: .75em;
        font-weight: 500;
        color: var(--primary-color);
        background-color: var(--button-secondary);
        border: none;
        outline: none;
        padding: 5px 13px;
        cursor: pointer;
        
        
    }
}
@media screen and (min-width:768px) {
// lightbox
#edit_intro {
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #cccc;
    backdrop-filter: blur(5px);
}
.backPage{
    display: none;
}
#editForm {
        width: 50%;
        margin: 0 auto;
        min-width: 768px;
        max-width: 900px;
        position: absolute;
        height: 100%;
        overflow: auto;
        left: 0;
        right: 0;
        background-color: #fff;
    }
 .close {
                text-align: end;
                position: absolute;
                top: 2%;
                right: 25%;
                cursor: pointer;
                z-index: 10;

                img {
                    width: 20px;
                    height: 20px;
                    vertical-align: top;
                }
            }

.lightbox_bgimage{ 
    padding: 0 15px;
    margin: 0px 0px 0 0;
    
}
.lightbox_headimage{
    align-items: center;
    
    h4{
        text-align: center;
        margin-top: 10px;
    }
    
}
.upload{
    width: 40px;
    margin: -10px auto;
    cursor: pointer;
    
}
.upload img{
    width: 100%;
    cursor: pointer;
}


.submit_button {
    height: 0px;
    text-align: center;
   margin-bottom:100px;
    button{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 14px;
        letter-spacing: .05em;
        border-radius: .75em;
        font-weight: 500;
        color: var(--primary-color);
        background-color: var(--button-secondary);
        border: none;
        outline: none;
        padding: 5px 13px;
        cursor: pointer;
        
        
    }
}
    

    
    aside {
        display: inline-block;
    }
    .member_sidebar_box{
        display: block;
    }

    .member_main_box {
        .member_bg {
            .member_bgcard {
                width: 100%;
                margin: auto;

                .member_main {
                    .member_head {
                        display: none;
                    }
                }

                .member_main_title {
                    display: none;
                }

                .member_cardimage {
                    width: 100%;
                    margin: auto;
                    margin-top: 50px;
                    position: relative;

                    img {
                        width: 100%;
                        vertical-align: top;
                    }

                    .member_bgimage {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        padding-top: 0px;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }

                    .member_headimage {
                        width: 150px;
                        height: 150px;
                        background-color: #fff;
                        border: 2px solid #666;
                        justify-content: center;
                        align-items: center;
                        border-radius: 10px;
                        left: 43%;
                        bottom: -25%;
                        position: absolute;
                        padding: 5px;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        p {
                            text-align: end;
                            font-size: 18px;
                        }

                        p:nth-child(2) {
                            margin-top: 20px;
                            margin-bottom: 10px;
                            font-size: 18px;
                            line-height: 1.5em;
                        }
                        h4{
        
                        padding-top: 10px;
                    }
                       
                    }

                }

                .member_cardtext {
                    margin-top: 150px;
                    padding-bottom: 10px;

                    .member_cardtext_img {
                        width: 80%;
                        margin: auto;
                        text-align: end;

                        img {
                            width: 25px;
                            height: 25px;
                            vertical-align: top;
                        }
                    }

                    .member_cardmain {
                        width: 80%;
                        margin: auto;

                        .gap {
                            margin: 20px 0;
                        }

                        h3 {
                            margin: 10px 0px;
                            font-size: 18px;
                        }

                        p {
                            margin: 20px 0px;
                            color: #5f5f5fa3;
                            font-size: 16px;
                        }
                    }

                }
            }
        }
    }
}