.top_bar_box {
    top: 0;
}

aside {
    display: none;
}

.member_sidebar_box {
    display: none;
}

.backPage {
    margin-top: 70px;

    button {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 14px;
        letter-spacing: .05em;
        border-radius: .75em;
        font-weight: 500;
        color: var(--primary-color);
        background-color: var(--button-secondary);
        border: none;
        outline: none;
        padding: 5px 13px;
        cursor: pointer;
    }
}

.member_bg {
    .member_main {
        width: 100%;
        margin: auto;

        .member_bouns_head {
            width: 100%;
            margin-top: 0px;

            img {
                border-radius: 50%;
            }

            .member_bouns_mycoins {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;

                img {
                    width: 100px;
                    height: 100px;
                }

                .member_bouns_showcoins {
                    display: flex;
                    align-items: center;
                    font-size: 32px;
                    margin-left: 40px;

                    p {
                        margin-right: 20px;
                    }

                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            .member_bouns_mycoins>img {
                width: 100px;
                height: 100px;
            }
        }

        .divider {
            width: 75%;
            margin: auto;
            border-bottom: 1px solid var(--font-secondary);

        }


    }

    .member_main_title {
        display: none;
    }

    .member_bouns_take {
        width: 100%;
        margin-top: 0px;

        .member_bouns_cardbox {
            .member_bouns_card {
                width: 80%;
                margin: auto;
                margin-top: 25px;
                height: 75px;
                border-radius: 15px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .member_bouns_card_image {
                    width: 20%;

                    img {
                        width: 50px;
                        height: 50px;
                        vertical-align: top;
                    }
                }

                .member_bouns_card_text {
                    width: 50%;
                    justify-content: start;

                    p:first-child {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    p:last-child {
                        font-size: 14px;
                        font-weight: 300;
                        color: var(--font-secondary);
                    }
                }

                .member_bouns_card_takecoin {
                    font-size: 18px;
                }
            }

        }
    }
}


@media screen and (min-width:768px) {
    aside {
        display: block;
    }

    .member_sidebar_box {
        display: block;
    }

    .member_bouns_topbar {
        display: none;
    }

    .backPage {
        display: none;
    }

    .member_bg {
        width: 70%;
        margin-left: 25%;
        border-radius: 20px;

        // background-color: #7777;
        .member_main {
            display: none;

            .member_bouns_head {
                width: 100%;
                border-radius: 20px;
                margin-top: 48px;
                background-color: var(--icon-color);


                .member_bouns_mycoins {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 20px;

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    .member_bouns_showcoins {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        margin-left: 40px;

                        p {
                            margin-right: 20px;
                        }

                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }

                .member_bouns_mycoins>img {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .member_main_title {
            width: 80%;
            height: 100px;
            margin: auto;
            font-size: 24px;
            display: flex;
            align-items: flex-end;
            border-bottom: 2px solid #5e5e5e;

            p {
                display: inline;
            }
        }

        .member_bouns_take {
            width: 100%;
            margin-top: 135px;

            .member_bouns_cardbox {
                display: block;
                border-bottom: 1px solid #aaa;
                .member_bouns_card {
                    width: 80%;
                    margin: auto;
                    margin-top: 25px;
                    height: 100px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    .member_bouns_card_image {
                        width: 20%;

                        img {
                            width: 80px;
                            height: 80px;
                            vertical-align: top;
                        }
                    }

                    .member_bouns_card_text {
                        width: 50%;
                        justify-content: start;

                        p {
                            font-size: 32px;
                        }
                    }
                }

            }
        }

    }
}