
aside{
    display: none;
}

.member_main{
    width: 95%;
    margin: auto;
}
.member_main .member_bouns_head{
    width: 100%;
    border:2px solid #000;
    border-radius: 20px;
    background-color: var(--icon-color);
    margin-top: 100px;
}
.member_bg .member_main_title{
    display: none;
}
.member_main .member_bouns_head .member_bouns_mycoins{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}
.member_main .member_bouns_head .member_bouns_mycoins>img{
    width: 100px;
    height: 100px;
}
.member_main .member_bouns_head .member_bouns_mycoins .member_bouns_showcoins{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 40px;
}
.member_main .member_bouns_head .member_bouns_mycoins .member_bouns_showcoins p{
    margin-right:20px;
}
.member_main .member_bouns_head .member_bouns_mycoins .member_bouns_showcoins>img{
    width: 50px;
    height: 50px;
}
.member_main_box .member_bouns_take{
    width: 100%;
    margin-top: 50px;
}
.member_main_box .member_bouns_take .member_bouns_card{
    width: 80%;
    margin: auto;
    margin-top: 25px;
    height: 150px;
    background-color: var(--icon-color);
    border: 2px solid #000;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.member_main_box .member_bouns_take .member_bouns_card .member_bouns_card_image{
    width: 20%;
}
.member_main_box .member_bouns_take .member_bouns_card .member_bouns_card_image img{
    width: 80px;
    height: 80px;
}
.member_main_box .member_bouns_take .member_bouns_card .member_bouns_card_text{
    width: 50%;
    justify-content: start;
}
@media screen and (min-width:768px) {
}

@media screen and (min-width:1440px) {
    aside{
        display: block;
    }
    .top_bar_box .member_bouns_topbar{
        display: none;
    }
    .member_main_box .member_bg{
        width: 70%;
        margin-top: 50px;
        margin-left: 25%;
        border-radius: 20px;
        // background-color: #7777;
    }
    .member_main_box .member_bg .member_main_title{
        width: 80%;
        height: 100px;
        margin: auto;
        font-size: 24px;
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid #5e5e5e;
    }
    .member_main_box .member_bg .member_main_title p{
        display: inline;
    }
    .member_main_box .member_main{
        display: none;
    }
    .member_main .member_bouns_head{
        width: 100%;
        border:2px solid #000;
        border-radius: 20px;
        margin-top: 48px;
    }
}