aside{
    display: none;
}
.top_bar_box{
    top: 0;
}
.member_sidebar_box{
    display: none;
}

.member_main_box {
    .member_bg {
        .member_main {
            display: none;
        }
        .member_main_title{
            display: none;
        }
        .member_text {
            width: 100%;
            display: flex;
            margin: auto;
            justify-content: center;
            padding: 24px 0;
            flex-wrap: wrap;
            margin-top: 100px;
            border-radius: 10px;

            .member_friends_card {
                width: 40%;
                margin: 3%;
                padding: 2%;
                border-radius: 20px;
                background-color: #fff;
                box-shadow: 0 2px 8px 2px #ecebebce;

                .member_cardhead {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 120px;
                        height: 120px;
                    }
                }

                .member_cardtext {
                    p {
                        padding: 10px
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    aside{
        display: inline-block;
    }
    .member_sidebar_box{
        display: block;
    }

    .member_main_box {
        .member_bg {
            .member_main {
                display: none;
            }

            .member_main_title {
                display: none;
            }

            .member_text {
                width: 80%;
                display: flex;
                margin: auto;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 50px;
                background-color: transparent;
                border-radius: 10px;

                .member_friends_card {
                    width: calc(80%/3);
                    border-radius: 5px;
                    margin: 20px 0%;
                    padding: 0%;
                    border-radius: 20px;
                    background-color: #fff;
                    box-shadow: 0 2px 8px 2px #ecebebce;
    

                    .member_cardhead {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0%;
                        margin: 0%;
                        img {
                            width: 200px;
                            height: 200px;
                        }
                    }

                    .member_cardtext {
                        p {
                            padding: auto;
                        }
                    }
                }
            }
        }
    }


}