aside {
    display: none;
}

.top_bar_box {
    top: 0;
}

.member_sidebar_box {
    display: none;
}

.backPage {
    margin-top: 70px;

    button {
        border: 0;
        background-color:transparent;
        outline: none;
        img{
            width: 50px;
            height: 50px;
            vertical-align: top;
        }
    }
}

.member_main_box {
    .member_bg {
        .member_bgcard {
            .member_main {
                width: 80%;
                margin: auto;

                .member_head {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    background-color: var(--primary-color);
                    margin-top: 10px;
                    border-bottom: 2px solid var(--font-primary);
                    font-size: 24px;
                    position: relative;

                    .member_setchange {
                        width: 10%;
                        position: absolute;
                        top: 0;
                        right: 0;

                        img {
                            width: 30px;
                            height: 30px;
                            vertical-align: top;
                        }
                    }

                }
            }
        }

        .member_cardtext {
            width: 100%;
            margin: auto;
            margin-top: 20px;
            padding-bottom: 10px;

            .member_cardmain {
                width: 80%;
                margin: auto;

                .gap {
                    margin: 50px 0;
                }

                h3 {
                    margin: 10px 0px;
                    font-size: 18px;
                }

                p {
                    margin: 20px 0px;
                    color: #A3A3A3a3;
                    font-size: 14px;
                }
            }
        }
        #setlightbox {
            position: fixed;
            z-index: 20;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: #cccc;
            backdrop-filter: blur(5px);

            .fixbox {
                width: 50%;
                margin: 0 auto;
                padding: 20px;
                min-width: 360px;
                max-width: 767px;
                position: absolute;
                // height: 50%;
                overflow: auto;
                left: 0;
                right: 0;
                top: 10%;
                background-color: #fff;

                .member_cardfix {
                    
                    .fixtitle {
                        h2 {
                            width: 100%;
                            font-size: 24px;
                            padding: 20px;
                            border-bottom: 2px solid #a1a1a1a1;
                        }
                    }
                    .member_fixmain {
                        .fixleft {

                            .gap {
                                margin: 20px 0px;
                            }

                        }

                        .fixright {

                            .gap {
                                margin: 20px 0px;
                            }

                            .sendbox {
                                display: flex;
                                justify-content: center;
                                // margin-bottom: 20px;

                                #sendbtn {
                                    font-family: 'Noto Sans TC', sans-serif;
                                    font-size: 14px;
                                    letter-spacing: .05em;
                                    border-radius: .75em;
                                    font-weight: 500;
                                    color: var(--primary-color);
                                    background-color: var(--button-secondary);
                                    border: none;
                                    outline: none;
                                    padding: 5px 13px;
                                    cursor: pointer;
                                    margin-right: 5px;
                                    display: block;
                                }

                                #cancelbtn {
                                    font-family: 'Noto Sans TC', sans-serif;
                                    font-size: 14px;
                                    letter-spacing: .05em;
                                    border-radius: .75em;
                                    font-weight: 500;
                                    color: var(--font-primary);
                                    background-color: var(--primary-color);
                                    border: 1px solid var(--font-primary);
                                    outline: none;
                                    padding: 5px 13px;
                                    cursor: pointer;
                                    margin-left: 5px;
                                    display: block;
                                }
                            }

                        }


                    }
                }

            }
        }

    }


}

@media screen and (min-width:768px) {
    aside {
        display: inline-block;
    }
    .backPage{
        display: none;
    }
    .member_sidebar_box {
        display: block;
    }

    .member_main_box {
        .member_bg {
            background-color: var(--primary-color);

            .member_bgcard {
                .member_main {
                    display: none;
                }

                .member_main_title {
                    .member_head {
                        width: 100%;
                        display: flex;
                        justify-content: start;
                        // background-color: var(--primary-color);
                        margin-top: 50px;
                        border-bottom: 2px solid transparent;
                        font-size: 24px;
                        position: relative;

                        .member_setchange {
                            width: 5%;
                            position: absolute;
                            right: 0;
                            cursor: pointer;

                            img {
                                width: 30px;
                                height: 30px;
                                vertical-align: top;
                            }
                        }

                    }
                }
            }

            .member_cardtext {
                width: 100%;
                margin: auto;
                margin-top: 0px;
                padding-bottom: 0px;

                .member_cardmain {
                    width: 80%;
                    margin: auto;

                    .gap {
                        margin: 50px 0;
                    }

                    h3 {
                        margin: 10px 0px;
                        font-size: 18px;
                    }

                    p {
                        margin: 20px 0px;
                        color: var(--font-secondary);
                        font-size: 14px;
                    }
                }
            }

            #setlightbox {
                position: fixed;
                z-index: 20;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: #cccc;
                backdrop-filter: blur(5px);

                .fixbox {
                    width: 50%;
                    margin: 0 auto;
                    min-width: 768px;
                    max-width: 900px;
                    position: absolute;
                    height: 50%;
                    overflow: auto;
                    left: 0;
                    right: 0;
                    top: 27%;
                    background-color: #fff;

                    .member_cardfix {
                        // display: flex;
                        .fixtitle {
                            h2 {
                                width: 100%;
                                font-size: 24px;
                                padding: 20px;
                                border-bottom: 2px solid #a1a1a1a1;
                            }
                        }


                        .member_fixmain {
                            display: flex;
                            justify-content: space-evenly;

                            .fixleft {

                                .gap {
                                    margin: 20px 0px;
                                }

                            }

                            .fixright {

                                .gap {
                                    margin: 20px 0px;
                                }

                                .sendbox {
                                    display: flex;
                                    justify-content: center;
                                    // margin-bottom: 20px;

                                    #sendbtn {
                                        font-family: 'Noto Sans TC', sans-serif;
                                        font-size: 14px;
                                        letter-spacing: .05em;
                                        border-radius: .75em;
                                        font-weight: 500;
                                        color: var(--primary-color);
                                        background-color: var(--button-secondary);
                                        border: none;
                                        outline: none;
                                        padding: 5px 13px;
                                        cursor: pointer;
                                        margin-right: 5px;
                                        display: block;
                                    }

                                    #cancelbtn {
                                        font-family: 'Noto Sans TC', sans-serif;
                                        font-size: 14px;
                                        letter-spacing: .05em;
                                        border-radius: .75em;
                                        font-weight: 500;
                                        color: var(--font-primary);
                                        background-color: var(--primary-color);
                                        border: 1px solid var(--font-primary);
                                        outline: none;
                                        padding: 5px 13px;
                                        cursor: pointer;
                                        margin-left: 5px;
                                        display: block;
                                    }
                                }

                            }


                        }
                    }

                }
            }

        }


    }
}