@import "./layout/reset";
@import "./layout/common";
@import "./layout/header";
@import "./layout/sidebar";

// 側邊欄顏色
.sidebar_box .sidebar .sidebar_list a[href="post.html"] {
    color: #fff;
    text-shadow:0 0 5px rgb(77, 68, 202);
  }
.sidebar .sidebar_list a img[alt="發表文章"] {
    filter: invert(100%);
  }

/* 以下為主要區域 */
.main_area{
    width: 100%;
    margin-top: 80px;
    padding: 24px;
    margin-bottom: 67px;
    box-sizing: border-box;
    @media screen and (min-width: 768px){
        width: 80%;
        margin-top: 135px;
    }
    .post_info{
        display: flex;
        margin-bottom: 20px;
        .post_img{
            width: 55px;
            margin-right: 12px;
            img{
                width: 100%;
                vertical-align: top;
                border-radius: var(--img-radius);
            }
        }
        .post_text{
            display: flex;
            flex-direction: column;
            span{
                font-size: var(--subtitle2);
            }
            time{
                font-size: var(--body2);
                color: var(--font-secondary);
            }
        }
    }
    .post{
        display: flex;
        flex-direction: column;
        .select_billboard{
            select{
                width: 200px;
                margin-bottom: 15px;
                font-size: var(--body1);
                font-weight: 300;
                color: var(--font-primary);
                font-family: 'Poppins', sans-serif,'Noto Sans TC', sans-serif;
                background-color: #FFF;
                border: 1px solid var(--secondary-color);
            }
            a{
                display: inline;
                color: var(--font-secondary);
                font-size: var(--body1);
                margin-left: 10px;
            }
        }
        input{
            margin-bottom: 15px;
            font-size: var(--body1);
            font-weight: 300;
            color: var(--font-primary);
            border: 1px solid var(--secondary-color);
            font-family: 'Poppins', sans-serif,'Noto Sans TC', sans-serif;
            @media screen and (min-width: 768px){
                margin-bottom: 20px;                
            }
        }
        textarea{
            resize: none;
            margin-bottom: 15px;
            font-weight: 300;
            color: var(--font-primary);
            border: 1px solid var(--secondary-color);
            font-family: 'Poppins', sans-serif,'Noto Sans TC', sans-serif;
            @media screen and (min-width: 768px){
                margin-bottom: 20px;                
            }
        }
        .post_file{
            .post_file_box{
                display: flex;
                align-items: center;
                cursor: pointer;
                img{
                    width: 25px;
                    margin-right: 5px;
                    vertical-align: top;
                }
                span{
                    // color: var(--font-secondary);
                }
            }
            input{
                margin-bottom: 15px;
                display: none;
            }
        }
        .post_btn{
            display: flex;
            justify-content: flex-end;
            button+button{
                margin-left: 10px;
            }
        }
    }
}