// header
@import 'layout/header';
// common
@import 'layout/common';

* {
    /* 字體 : 中文-sans-serif | 英文-Poppins */
    // font-family: 'Poppins', sans-serif;
    // color: $font-primary;
    // color: var(font-primary);
    color: #5E5E5E;
}

// 商品頁// 手機板

// 標題
.product_page {

    // <!-- 商品最上面的標題 -->
    .product_page_title {
        display: flex;
        background-color: #164570;
        align-items: center;
        padding: 10px;

        // <!-- 商品名稱 -->
        .txt_box {
            // 對其
            margin: auto;

            p {
                color: rgb(247, 242, 234);
            }
        }

        // <!-- 三個點點 -->
        .img_box {
            display: none;
            width: 20px;
            // 三個點點轉向
            transform: rotate(90deg);

            img {
                width: 100%;
            }
        }
    }
}

// 追蹤分類
.product_page {
    .product_page_sort_follow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        // 圖片
        .product_img_box {
            width: 60px;
            padding: 10px;

            img {
                width: 100%;
            }
        }

        // 文字
        .txt_box {

            p {
                margin: 0px;
            }
        }

        // 按鈕
        .product_follow {
            background-color: #164570;
            border-radius: 10px;
            // 向左靠
            margin-left: 60%;

            .txt_box {
                padding: 5px;

                p {
                    color: azure;
                }
            }
        }
    }
}

// 商品照(輪播
// .product_page {
//     .product_page_pic {
//         margin: auto;

//         .img_box {
//             margin: 0 auto;
//             padding: 10px;
//             width: 70%;

//             img {
//                 width: 100%;
//                 border-radius: 20px;
//                 box-shadow: 0 2px 8px 2px #ecebebce;
//                 // 背景陰影
//             }
//         }
//     }
// }

// 廣告投放
body {
    margin: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));

}

.hero-slider {
    // 調整大小
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 0.75em;
    /* slider圓角 */
    margin: 100px auto;
    /*調整slider位置*/
    box-shadow: 0 2px 8px 2px #ecebebce;
    // 背景陰影

}

.hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-slider .carousel-cell .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}

.hero-slider .carousel-cell .inner .subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2rem;
    line-height: 1.2em;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.hero-slider .carousel-cell .inner .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.hero-slider .carousel-cell .inner .btn {
    border: 2px solid #fff;
    /* background-color: rgba(255, 255, 255, 0.397); */
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    background: rgba(255, 255, 255, 0.568);
    color: #000;
    border: 2px solid #fff;
}

.hero-slider .carousel-cell .inner .btn:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(121, 121, 121);

}

.hero-slider .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
}

.hero-slider .flickity-prev-next-button:hover {
    background: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
    fill: white;
}

.hero-slider .flickity-page-dots {
    bottom: 30px;
}

.hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0;
}

.hero-slider .flickity-page-dots .dot.is-selected {
    background: white;
}

// <!-- 商品價格/資訊 -->
.product_page_price_in {
    margin-bottom: 100px;

    .txt_box {
        padding: 20px;

        p {
            line-height: 28px;
            padding-bottom: 10px;
        }
    }
}

// <!-- 商品留言 -->
.product_page_msg {
    padding: 10px;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);




    //   <!-- 右邊 -->
    .item_box_msger {
        display: flex;
        align-items: center;




        // <!-- 留言頭貼 -->
        .img_box {
            width: 32px;
            // 底下空白消失
            height: 32px;



            img {
                width: 100%;
            }
        }

        // <!-- 留言 -->
        .txt_box {
            min-width: 100px;
            padding-left: 10px;

            input {
                border: none;

            }
        }
    }

    // <!-- 左邊icon -->
    .item_box_fuction_icon {
        display: flex;
        align-items: center;


        .img_box {
            display: flex;

            // <!-- 收藏 -->
            .img_box_save {
                width: 40px;
                height: 40px;

                img {
                    width: 100%;
                }
            }

            // <!-- 檢舉 -->
            .img_box_report {
                width: 32px;
                transform: rotate(90deg);

                img {
                    width: 100%;
                }
            }
        }

        // <!-- 立即購買 -->
        .product_button_shopping {
            background-color: #FA4C4C;
            border-radius: 8px;
            margin: 5px;
            width: 60px;
            margin-left: 10px;



            .txt_box {
                padding-bottom: 10px;
                padding-top: 10px;

                p {
                    color: aliceblue;
                    // padding: 5px;
                    text-align: center;
                    font-size: small;


                }
            }
        }

        // <!-- 加入購物車-->
        .product_button_shop_cat {
            background-color: #164570;
            border-radius: 8px;
            margin: 5px;
            width: 70px;




        }



        .txt_box {
            padding-bottom: 10px;
            padding-top: 10px;

            p {
                color: aliceblue;
                text-align: center;
                font-size: small;


            }
        }
    }
}


// hover
// <!-- 商品留言 -->
.product_page_msg {
    height: 90px;



    //   <!-- 右邊 -->
    .item_box_msger {

        // <!-- 留言頭貼 -->
        .img_box {


            img {}
        }

        // <!-- 留言 -->
        .txt_box {


            input {}
        }
    }

    // <!-- 左邊icon -->
    .item_box_fuction_icon {


        .img_box {


            // <!-- 收藏 -->
            .img_box_save {


                img {}
            }

            // <!-- 檢舉 -->
            .img_box_report {


                img {}
            }
        }

        // <!-- 立即購買 -->
        .product_button_shopping:hover {
            background-color: rgb(255, 255, 255);
            transition: 00.5s;
            cursor: pointer;


            .txt_box:hover {
                border: solid 1px #FA4C4C;
                border-radius: 8px;


                p:hover {
                    // cursor: move;
                    color: #FA4C4C;
                    // text-align: default;                    
                }
            }
        }

        // <!-- 加入購物車-->
        .product_button_shop_cat:hover {
            background-color: aliceblue;
            transition: 00.5s;
            cursor: pointer;

        }



        .txt_box:hover {
            border: solid 1px #164570;
            border-radius: 8px;

            p {
                color: #164570;
                // padding: 5px; 
            }
        }
    }
}








// 商品頁// 桌機板
@media screen and (min-width:768px) {
    body {
        position: relative;
    }

    // 標題
    .product_page {
        margin: 0 auto;
        position: absolute;
        width: 40vw;
        height: 100%;
        top: 0;
        // 致中
        left:29.7%;
        
        

        // <!-- 商品最上面的標題 -->
        .product_page_title {
            display: flex;
            background-color: #164570;
            align-items: center;
            padding: 10px;

            // <!-- 商品名稱 -->
            .txt_box {
                // 對其
                margin: auto;

                p {
                    color: rgb(247, 242, 234);
                }
            }

            // <!-- 三個點點 -->
            .img_box {
                display: none;
                width: 20px;
                // 三個點點轉向
                transform: rotate(90deg);

                img {
                    width: 100%;
                }
            }
        }
    }

    // 追蹤分類
    .product_page {
        .product_page_sort_follow {
            margin: auto;
            width: 80%;
            justify-content: space-between;
            

            // 圖片
            .product_img_box {
                
                img {
                    width: 100%;
                }
            }

            // 文字
            .txt_box {
                min-width:40px ;

                p {}
            }

            // 按鈕
            .product_follow {

                // 向左靠
                margin-left: 85%;

                .txt_box {


                    p {}
                }
            }
        }
    }

    // 商品照(輪播
    .product_page {
        .product_page_pic {
            margin: auto;

            .img_box {
                margin: 0 auto;
                padding: 10px;
                width: 70%;

                img {
                    width: 100%;
                    border-radius: 20px;
                    box-shadow: 0 2px 8px 2px #ecebebce;
                    // 背景陰影
                }
            }
        }
    }

    // <!-- 商品價格/資訊 -->
    .product_page_price_in {
        padding-bottom: 100px;

        .txt_box {
            padding: 20px;

            p {
                line-height: 28px;
                padding-bottom: 10px;
            }
        }
    }

    // <!-- 商品留言 -->
    .product_page_msg {
        // 對其上面大小
        width: 40%;
        padding: 10px;
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        justify-content: space-between;





        //   <!-- 右邊 -->
        .item_box_msger {
            display: flex;
            align-items: center;




            // <!-- 留言頭貼 -->
            .img_box {
                width: 32px;
                // 底下空白消失
                height: 32px;



                img {
                    width: 100%;
                }
            }

            // <!-- 留言 -->
            .txt_box {
                min-width: 100px;
                padding-left: 10px;

                input {
                    border: none;

                }
            }
        }

        // <!-- 左邊icon -->
        .item_box_fuction_icon {
            display: flex;
            align-items: center;


            .img_box {
                display: flex;

                // <!-- 收藏 -->
                .img_box_save {
                    width: 40px;
                    height: 40px;

                    img {
                        width: 100%;
                    }
                }

                // <!-- 檢舉 -->
                .img_box_report {
                    width: 32px;
                    transform: rotate(90deg);

                    img {
                        width: 100%;
                    }
                }
            }

            // <!-- 立即購買 -->
            .product_button_shopping {
                background-color: #FA4C4C;
                border-radius: 8px;
                margin: 5px;
                width: 60px;
                margin-left: 10px;



                .txt_box {
                    padding-bottom: 10px;
                    padding-top: 10px;

                    p {
                        color: aliceblue;
                        // padding: 5px;
                        text-align: center;
                        font-size: small;


                    }
                }
            }

            // <!-- 加入購物車-->
            .product_button_shop_cat {
                background-color: #164570;
                border-radius: 8px;
                margin: 5px;
                width: 70px;




            }



            .txt_box {
                padding-bottom: 10px;
                padding-top: 10px;

                p {
                    color: aliceblue;
                    text-align: center;
                    font-size: small;


                }
            }
        }
    }


    // hover
    // <!-- 商品留言 -->
    .product_page_msg {
        height: 90px;



        //   <!-- 右邊 -->
        .item_box_msger {

            // <!-- 留言頭貼 -->
            .img_box {


                img {}
            }

            // <!-- 留言 -->
            .txt_box {


                input {}
            }
        }

        // <!-- 左邊icon -->
        .item_box_fuction_icon {


            .img_box {


                // <!-- 收藏 -->
                .img_box_save {


                    img {}
                }

                // <!-- 檢舉 -->
                .img_box_report {


                    img {}
                }
            }

            // <!-- 立即購買 -->
            .product_button_shopping:hover {
                background-color: rgb(255, 255, 255);
                transition: 00.5s;
                cursor: pointer;


                .txt_box:hover {
                    border: solid 1px #FA4C4C;
                    border-radius: 8px;


                    p:hover {
                        // cursor: move;
                        color: #FA4C4C;
                        // text-align: default;                    
                    }
                }
            }

            // <!-- 加入購物車-->
            .product_button_shop_cat:hover {
                background-color: aliceblue;
                transition: 00.5s;
                cursor: pointer;

            }



            .txt_box:hover {
                border: solid 1px #164570;
                border-radius: 8px;

                p {
                    color: #164570;
                    // padding: 5px; 
                }
            }
        }
    }

}