// header
@import 'layout/header';
// common
@import 'layout/common';
@import 'layout/sidebar';



// ------------------好物商城-----------------------

// -----------手機板

// 好物商城標題
.main_product {
    // padding: 10px;        
    // 調整頁面!!!!
    width: 100%;

    .product_title {
        width: 90%;
        margin: auto;

        .item_box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .txt_box {
                p {
                    font-size: var(--title);
                    font-weight: var(--bold);
                    // 文字
                    // color: #5E5E5E;
                }
            }

            .img_box {
                display: none;
                width: 30px;

                img {
                    width: 100%;
                }
            }
        }
    }
}


// 廣告輪播
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));

}

.hero-slider {
    // 調整大小
    width: 90%;
    height: 200px;
    overflow: hidden;
    border-radius: var(--img-radius);
    /* slider圓角 */
    margin: 100px auto;
    /*調整slider位置*/
    box-shadow: 0 2px 8px 2px #ecebebce;
    // 背景陰影

}

.hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-slider .carousel-cell .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
}

.hero-slider .carousel-cell .inner .subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 2.2rem;
    line-height: 1.2em;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.hero-slider .carousel-cell .inner .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.hero-slider .carousel-cell .inner .btn {
    border: 2px solid #fff;
    /* background-color: rgba(255, 255, 255, 0.397); */
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    background: rgba(255, 255, 255, 0.568);
    color: #000;
    border: 2px solid #fff;
}

.hero-slider .carousel-cell .inner .btn:hover {

    background-color: rgb(255, 255, 255);
    color: rgb(121, 121, 121);

}

.hero-slider .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
}

.hero-slider .flickity-prev-next-button:hover {
    background: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
    fill: white;
}

.hero-slider .flickity-page-dots {
    bottom: 30px;
}

.hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0;
}

.hero-slider .flickity-page-dots .dot.is-selected {
    background: white;
}

// 真實評論，好友討論，免運
.main_product {
    .product_comment {
        width: 100%;
        display: none;

        a {
            text-decoration: none;
            // 文字顏色(白
            color: var(--primary-color);

            .item_box {
                margin: auto;
                display: flex;
                justify-content: space-around;
                background-color: #f97373;
                border-radius: var(--bgc-radius);
                margin: 40px;

                .item {
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    box-sizing: border-box;


                    .img_box {
                        width: 20px;
                        margin: 5px;

                        img {
                            width: 100%;
                        }
                    }

                    .txt_box {
                        p {

                            text-align: center;
                            // 文字顏色(白
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }
    }
}

// 商品分類
.main_product {
    .sort {
        width: 100%;
        margin-bottom: 50px;

        .item_box {
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;

            a {
                text-decoration: none;
                // 文字
                color: var(--font-primary);
                // 文字粗細
                font-weight: 300;

                .item {
                    box-sizing: border-box;
                    padding: 12px;

                    .img_box {
                        padding-bottom: 10px;
                        width: 40px;

                        // 使圖片致中對其下面的字
                        display: block;
                        margin: 0 auto;

                        img {
                            width: 100%;
                        }

                        .txt_box {

                            p {}
                        }
                    }
                }
            }
        }
    }
}

// 最新上架商品
.main_product {
    .new_goods_information {
        margin: auto;
        display: none;
        // 手機頁沒有

        // 限時商品
        .time_limit_item_box {
            border-radius: var(--bgc-radius);
            background-color: var(--icon-color);
            padding: 10px;
            box-sizing: border-box;

            // 限時商品標題
            .title {
                display: flex;
                align-items: center;
                padding: 10px;

                // 小icon
                .img_box {
                    img {
                        width: 40px;
                        border-radius: 20px;
                    }
                }

                .txt_box {
                    display: flex;


                    .txt_new_goods {

                        p {
                            // 文字
                            color: var(--font-primary);
                        }
                    }

                    .txt_new_goods_time {
                        margin-left: 10px;
                        // background-color: #e24e4e;
                        padding: 5px;
                        border-radius: 20px;

                        p {
                            color: var(--font-primary);
                        }
                    }
                }
            }

            // 商品
            a {
                text-decoration: none;
                // 文字
                color: #5E5E5E;

                .item_box {
                    .img_box {
                        width: 200px;

                        img {
                            width: 100%;
                            border-radius: var(--img-radius);
                            background: rgba(255, 255, 255, 0.568);
                        }
                    }

                    .txt_box {
                        padding: 10px;

                        p {}
                    }
                }
            }
        }

        // 最新商品
        .new_item_box {
            margin: auto;
            padding-left: 30px;
            width: 70%;
            margin-left: 10px;


            // 最新商品標題
            .title {
                display: flex;
                align-items: center;


                .img_box {
                    width: 30px;

                    img {
                        width: 100%;
                        background: rgba(255, 255, 255, 0.568);
                    }
                }

                .txt_box {
                    padding-left: 20px;
                    padding-bottom: 10px;

                    p {
                        // 文字
                        color: #5E5E5E;
                    }
                }
            }

            // 最新商品
            .item_box {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                box-sizing: border-box;

                a {
                    text-decoration: none;
                    // 文字
                    color: #5E5E5E;

                    .item {


                        padding: 10px;

                        .img_box {
                            width: 200px;

                            img {
                                width: 100%;
                                border-radius: var(--img-radius);
                            }
                        }

                        .txt_box {
                            padding: 10px;

                            p {}
                        }
                    }
                }
            }
        }
    }
}

// 最新上架商品
.main_product {
    .new_goods_information {
        display: none;
        // 手機頁沒有
        // 限時商品
        .time_limit_item_box {
            border-radius: 20px;
            background-color: #E1E1E1;
            padding: 10px;
            box-sizing: border-box;

            // 限時商品標題
            .title {
                display: flex;
                align-items: center;
                padding: 10px;

                // 小icon
                .img_box {
                    img {
                        width: 40px;
                        border-radius: 20px;
                    }
                }

                .txt_box {
                    display: flex;
                    align-items: center;

                    .txt_new_goods {

                        p {}
                    }

                    .txt_new_goods_time {
                        margin-left: 10px;
                        // background-color: #e24e4e;
                        padding: 5px;
                        border-radius: 20px;

                        p {
                            // color: #E1E1E1;
                        }
                    }
                }
            }

            // 商品
            a {
                text-decoration: none;

                .item_box {
                    .img_box {
                        img {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }

                    .txt_box {
                        padding: 10px;

                        p {
                            // 使商品名稱跟價格有距離
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }

        // 最新商品
        .new_item_box {
            margin: auto;
            padding-left: 30px;
            width: 70%;
            margin-left: 10px;


            // 最新商品標題
            .title {
                display: flex;
                align-items: center;


                .img_box {

                    img {
                        width: 30px;
                    }
                }

                .txt_box {
                    padding-left: 20px;
                    padding-bottom: 10px;

                    p {}
                }
            }

            // 最新商品
            .item_box {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                box-sizing: border-box;

                a {
                    text-decoration: none;

                    .item {


                        padding: 10px;

                        .img_box {
                            width: 200px;

                            img {
                                width: 100%;
                                border-radius: 20px;
                            }
                        }

                        .txt_box {
                            padding: 10px;

                            p {
                                // 使商品名稱跟價格有距離
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 熱門商品
.main_product {
    .hot {
        margin: 0 40px;
        margin-top: 50px;
        margin-bottom: 50px;

        .hot_item_box {
            .title {
                display: flex;
                align-items: center;

                .txt_box {
                    p {
                        // 文字
                        color: #5E5E5E;
                    }
                }

                .img_box {
                    img {
                        width: 100%;
                    }
                }
            }

            .item_box {
                display: flex;
                justify-content: space-around;
                background-color: var(--icon-color);
                margin: 10px;
                padding: 10px;
                border-radius: var(--bgc-radius);

                a {
                    text-decoration: none;
                    // 文字
                    color: #5E5E5E;

                    .item {
                        box-sizing: border-box;

                        .img_box {
                            width: 80px;
                            // 使圖片致中對其下面的字
                            margin: 0 auto;

                            img {
                                width: 100%;
                                border-radius: 20px;
                                background: rgba(255, 255, 255, 0.568);
                            }
                        }

                        .txt_box {
                            padding: 5px;

                            p {
                                // 使商品名稱跟價格有距離
                                padding-bottom: 10px;
                                font-size: var(--body2);
                            }
                        }
                    }
                }
            }
        }
    }
}

// 全部商品
.main_product {
    .all {
        margin: 0 40px;

        .all_item_box {
            .title {
                margin-left: 30px;

                p {
                    // 文字
                    color: #5E5E5E;
                }
            }

            .item_box {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                box-sizing: border-box;
                padding: 10px;



                text-decoration: none;
                // 文字


                .item {
                    // 顏色白色然後設陰影
                    background-color: rgb(255, 255, 255);
                    border-radius: var(--img-radius);
                    box-shadow: 0 2px 8px 2px #ecebebce;
                    box-sizing: border-box;
                    margin: 10px;
                    width: 150px;



                    .img_box {
                        width: 150px;

                        img {
                            width: 100%;
                            border-radius: 12px 12px 0px 0px;
                        }
                    }

                    .txt_box {
                        padding: 10px;

                        p {
                            line-height: 20px;
                            // 使商品名稱跟價格有距離
                            padding-bottom: 10px;
                            // 讓商品標題有位置跟下面價錢對其如果標題多於一行
                            // height: 50px;
                        }
                    }
                }

            }
        }
    }
}



// ------------------商品內頁燈箱-------------------

// --------平板
// @media screen and (min-width:768px)and(max-width:990px) {

// }






// ------------------好物商城-----------------------
@import 'product_page';

// 購物商城的燈箱
.product_lighbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    // 燈箱出現<背景暗掉
    background: #6666;
    // 先消失
    display: none;

    .product_page {
        background: #fff;
        position: absolute;

        // overflow: scroll;
        // <!-- 追蹤分類 -->
        .product_page_sort_follow {
            width: 100%;
        }
    }
}

// 文進大大燈箱購物車
.shop_cart_ligh_box {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background: #6666;
    // FIXME
    display: none;

    // .product_page {
    //     background: #fff;
    //     position: absolute;
    //     // overflow: scroll;
    // }
}


// --------桌機板
@media screen and (min-width:768px) {

    // 好物商城標題
    .main_product {
        // 調整頁面!!!!
        width: 80%;

        .product_title {
            width: 90%;
            margin: auto;
            padding-top: 100px;

            .item_box {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .txt_box {
                    p {

                        // 文字
                        color: #0a0a0a;
                    }
                }

                .img_box {
                    display: none;
                    width: 30px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    // 廣告投放!!!!
    .hero-slider {
        // 調整大小
        width: 92%;
        height: 250px;
        overflow: hidden;
        border-radius: var(--img-radius);
        /* slider圓角 */
        margin: 30px auto;
        /*調整slider位置*/
        box-shadow: 0 2px 8px 2px #ecebebce;
        // 背景陰影

    }

    // 真實評論，好友討論，免運
    .main_product {
        .product_comment {


            a {


                .item_box {


                    .item {



                        .img_box {


                            img {}
                        }

                        .txt_box {
                            p {}
                        }
                    }
                }
            }
        }
    }

    // 商品分類
    .main_product {
        .sort {
            display: flex;
            // 物件致中
            justify-content: center;

            .item_box {
                // 物件對其
                width: 100%;

                a {




                    .item {


                        .img_box {
                            width: 40px;

                            img {}

                            .txt_box {
                                p {}
                            }
                        }
                    }
                }
            }
        }
    }

    // 最新上架商品
    .main_product {

        .new_goods_information {
            // 手機頁沒有
            display: none;
            display: flex;
            width: 100%;
            flex-wrap: nowrap;
            box-sizing: border-box;
            margin: 0px 40px;
            // 限時商品
            .time_limit_item_box {
                border-radius: 20px;
                background-color: var(--icon-color);

                // 限時商品標題
                .title {
                    display: flex;
                    align-items: center;

                    // 小icon
                    .img_box {
                        img {
                            width: 40px;
                            
                        }
                    }

                    .txt_box {
                        display: flex;
                        align-items: center;

                        .txt_new_goods {

                            p {}
                        }

                        .txt_new_goods_time {
                            // margin-left: 10px;

                            p {
                            }
                        }
                    }
                }

                // 商品
                a {
                    text-decoration: none;

                    .item_box {

                        .img_box {
                            img {
                                width: 100%;
                                border-radius: 20px;
                            }
                        }

                        .txt_box {

                            // padding: 10px;
                            p {}
                        }
                    }
                }
            }

            // 最新商品
            .new_item_box {
                // padding-left: 30px;
                width: 70%;
                margin-left: 10px;


                // 最新商品標題
                .title {
                    display: flex;
                    align-items: center;


                    .img_box {

                        img {
                            width: 30px;
                        }
                    }

                    .txt_box {

                        // padding-left: 20px;
                        // padding-bottom: 10px;
                        p {}
                    }
                }

                // 最新商品
                .item_box {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    box-sizing: border-box;

                    a {
                        text-decoration: none;

                        .item {


                            // padding: 10px;

                            .img_box {
                                width: 200px;

                                img {
                                    width: 100%;
                                    border-radius: 20px;
                                }
                            }

                            .txt_box {

                                // padding: 10px;
                                p {}
                            }
                        }
                    }
                }
            }
        }
    }

    // 熱門商品
    .main_product {
        .hot {


            .hot_item_box {
                .title {


                    .txt_box {
                        p {}
                    }

                    .img_box {
                        img {}
                    }
                }

                .item_box {



                    a {


                        .item {


                            .img_box {
                                width: 180px;

                                img {
                                    width: 100%;
                                }
                            }

                            .txt_box {
                                p {
                                    font-size: var(--body1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    // 全部商品
    .main_product {
        .all {



            .all_item_box {
                .title {


                    p {}
                }

                .item_box {





                    .item {
                        margin: 10px;
                        width: 180px;


                        .img_box {
                            width: 180px;

                            img {
                                width: 100%;
                            }
                        }

                        .txt_box {


                            p {}
                        }
                    }

                }
            }
        }
    }


}

// 好物商城
// 廣告投放