// header
@import 'layout/header';
// common
@import 'layout/common';

* {
    /* 字體 : 中文-sans-serif | 英文-Poppins */
    // font-family: 'Poppins', sans-serif;
    // color: $font-primary;
    // color: var(font-primary);
    color: #5E5E5E;
}

// 商品頁// 手機板
// 標題
.product_lighbox {
    .product_page {
        overflow: scroll;
        // 使畫面可以往下滑
        width: 100%;
        height: 100%;

        // <!-- 商品最上面的標題 -->
        .product_page_title {
            display: flex;
            background-color: #164570;
            align-items: center;
            padding: 10px;

            // <!-- 商品名稱 -->
            .txt_box {
                // 對其
                margin: auto;

                p {
                    color: rgb(247, 242, 234);
                }
            }

            // <!-- 叉叉按鈕 -->
            .img_box {
                width: 20px;

                img {
                    width: 100%;
                }
            }
        }
    }
}

// 追蹤分類
.product_page {
    .product_page_sort_follow {
        margin: auto;
        justify-content: space-between;
        display: flex;
        padding: 10px;

        .product_item_box {
            display: flex;
            align-items: center;

            // 圖片
            .product_img_box {
                width: 30px;
                margin-right: 10px;

                img {
                    width: 100%;
                }
            }

            // 文字
            .txt_box {
                min-width: 40px;


                p {
                    // 追蹤顏色被覆蓋了
                    color: whitesmoke;
                }
            }
        }

        // 按鈕
        .product_follow {

            // 向左靠
            margin-left: 85%;

            .txt_box {


                p {}
            }
        }
    }
}

// 商品照(小圖變大圖
.product_lighbox {
    .product_page {
        .product_page_pic {

            // 大圖
            .product_large {
                margin-top: 20px;
                margin: 0px auto;
                width: 80%;
                cursor: pointer;
                padding: 5px;

                img {
                    width: 100%;
                    border-radius: var(--img-radius);
                    box-shadow: 0 2px 8px 2px #ecebebce;
                }
            }

            //小圖
            .product_small {
                width: 80%;
                margin: 0 auto;
                display: flex;
                cursor: pointer;

                img {
                    width: 100%;
                    border-radius: var(--img-radius);
                    box-shadow: 0 2px 8px 2px #ecebebce;
                    padding: 5px;
                }
            }
        }
    }
}

// 商品價格/資訊 
.product_lighbox {
    .product_page {
        .product_page_price_in {
            .txt_box {
                padding: 20px;

                p {
                    line-height: 28px;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

// 我要留言
.product_lighbox {
    .product_page {


        .product_page_msg {
            // 桌機會超出去
            // width: 100%;
            width: inherit;
            padding: 10px;
            display: flex;
            position: fixed;
            bottom: 0;
            background-color: rgb(255, 255, 255);
            justify-content: space-around;

            // <!-- 右邊 -->
            .item_box_msger {
                display: flex;
                align-items: center;
                width: calc(100% - 55%);

                // <!-- 留言頭貼 -->
                .img_box {
                    width: 32px;
                    // 底下空白消失
                    height: 32px;
                    // padding-top: 5px;

                    img {
                        width: 100%;
                    }
                }

                // <!-- 留言 -->
                .txt_box {
                    padding-left: 10px;

                    input {
                        border: none;
                    }
                }

            }

            // <!-- 左邊icon -->
            .item_box_fuction_icon {
                display: flex;

                .img_box {
                    display: flex;
                    align-items: center;
                    padding-right: 10px;

                    // <!-- 收藏 -->
                    .img_box_save {
                        width: 30px;
                        padding: 5px;

                        img {
                            width: 100%;
                            vertical-align: text-bottom;
                        }
                    }

                    // <!-- 愛心 -->
                    .img_box_report {
                        width: 30px;
                        padding: 5px;

                        img {
                            width: 100%;
                            vertical-align: text-bottom;
                        }
                    }
                }

                // botton
                // <!-- 立即購買 -->
                .btn-primary {
                    align-items: center;
                }

                // <!-- 加入購物車-->
                .btn-secondary {
                    // display: none;
                }
            }
        }
    }
}

// 網友留言區
.product_page {
    .product_comment {
        width: 100%;
        position: relative;
        padding: 20px;
        padding-bottom: 100px;

        p {}

        .comment_box {
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid #a3a3a3;

            .comment_head_photo {
                margin-right: 10px;

                img {
                    border-radius: 50%;
                }

                ;
            }

            .comment_txt {
                position: relative;
                width: 100%;

                .comment_mem_name_box {
                    display: flex;
                    justify-content: space-between;
                    font-size: var(--tag);

                    .comment_mem_name_item {}

                    .comment_impeach_icon {
                        width: 15px;
                        margin-right: 5px;

                        img {
                            width: 100%;
                            vertical-align: middle;
                        }
                    }
                }

                .comment_content {
                    padding: 5px 0;
                }

                .comment_info {
                    font-size: var(--tag);
                    display: flex;

                    .comment_like_box {
                        margin-right: 15px;
                        display: flex;
                        align-items: center;

                        .comment_like_icon {
                            width: 15px;
                            margin-right: 5px;

                            img {
                                width: 100%;
                            }
                        }

                        .comment_like_amount {}
                    }

                    .comment_date {
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

// --------平板
@media screen and (min-width:768px)and(max-width:990px) {

    // <!-- 商品留言 -->
    .product_lighbox {
        .product_page_msg {
            // 對其上面大小
            width: 54%;

            //   <!-- 右邊 -->
            .item_box_msger {

                // <!-- 留言頭貼 -->
                .img_box {
                    img {}
                }

                // <!-- 留言 -->
                .txt_box {


                    input {}
                }
            }

            // <!-- 左邊icon -->
            .item_box_fuction_icon {


                .img_box {


                    // <!-- 收藏 -->
                    .img_box_save {


                        img {}
                    }

                    // <!-- 愛心 -->
                    .img_box_report {



                        img {}
                    }
                }

                // <!-- 立即購買 -->
                .btn-primary {



                    .txt_box {


                        p {}
                    }
                }

                // <!-- 加入購物車-->
                .btn-secondary {}



                .txt_box {


                    p {}
                }
            }
        }
    }
}

// 商品頁// 桌機板
@media screen and (min-width:990px) {

    body {
        position: relative;
    }

    // 標題
    .product_lighbox {
        .product_page {
            // width: 60px;
            // 背景
            width: 80%;
            margin: 0 auto;
            position: absolute;
            width: 55vw;
            // height: 100%;
            top: 0;
            // 致中
            left: 25%;

            // <!-- 商品最上面的標題 -->
            .product_page_title {

                // <!-- 商品名稱 -->
                .txt_box {
                    // 對其
                    margin: auto;

                    p {
                        color: rgb(247, 242, 234);
                    }
                }

                // <!-- 叉叉按鈕 -->
                .img_box {
                    width: 20px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    // 追蹤分類
    .product_lighbox {
        .product_page {
            .product_page_sort_follow {
                margin: auto;
                justify-content: space-between;

                .product_item_box {
                    display: flex;
                    align-items: center;

                    // 圖片
                    .product_img_box {
                        // width: 60px;

                        img {
                            width: 100%;
                        }
                    }

                    // 文字
                    .txt_box {
                        min-width: 40px;


                        p {
                            // 追蹤顏色被覆蓋了
                            color: whitesmoke;
                        }
                    }
                }

                // 按鈕
                .product_follow {

                    // 向左靠
                    margin-left: 85%;

                    .txt_box {


                        p {}
                    }
                }
            }
        }
    }

    // 商品照(小圖變大圖 
    .product_lighbox {
        .product_page_pic {

            // 大圖
            .product_large {
                margin: 0px auto;
                width: 80%;
                cursor: pointer;
                padding: 5px;

                img {
                    width: 100%;
                    box-shadow: 0 2px 8px 2px #ecebebce;
                    border-radius: var(--img-radius);
                }
            }

            // 小圖
            .product_small {
                // 調整小圖的大小
                width: 80%;
                display: flex;
                justify-content: space-around;
                margin: 0px auto;
                cursor: pointer;

                .img_box {
                    width: 80%;

                    img {
                        width: 100%;
                        border-radius: var(--img-radius);
                        padding: 5px;
                    }
                }
            }
        }
    }

    // 商品照
    .product_lighbox {
        .product_page {
            .product_page_pic {
                margin: auto;

                .img_box {
                    margin: 0 auto;
                    padding: 10px;
                    width: 70%;

                    img {
                        width: 100%;
                        border-radius: 20px;
                        box-shadow: 0 2px 8px 2px #ecebebce;
                        // 背景陰影
                    }
                }
            }
        }
    }

    // <!-- 商品價格/資訊 -->
    .product_lighbox {
        .product_page_price_in {
            // padding-bottom: 100px;

            .txt_box {
                padding: 20px;

                p {
                    line-height: 28px;
                    padding-bottom: 10px;
                }
            }
        }
    }

    // <!-- 商品留言 -->
    .product_lighbox {
        .product_page_msg {
            // 對其上面大小
            width: 54.3%;
            padding: 10px;
            display: flex;
            position: fixed;
            bottom: 0;
            background-color: rgb(255, 255, 255);
            height: 90px;
            // justify-content: space-between;





            //   <!-- 右邊 -->
            .item_box_msger {
                display: flex;
                align-items: center;
                width: calc(100% - 35%);



                // <!-- 留言頭貼 -->
                .img_box {
                    width: 32px;
                    // 底下空白消失
                    height: 32px;



                    img {
                        width: 100%;
                    }
                }

                // <!-- 留言 -->
                .txt_box {
                    width: calc(100% - 30px);
                    padding-left: 10px;

                    input {
                        border: none;
                        // 留言輸入框的大小
                        height: 40px;
                        // width: calc(100% - 10px);
                        width: calc(100% - -73px);
                    }
                }
            }

            // <!-- 左邊icon -->
            .item_box_fuction_icon {
                align-items: center;
                display: flex;
                // width: calc(100% - 55%);
                margin-left: 80px;
                .img_box {
                    display: flex;

                    // <!-- 收藏 -->
                    .img_box_save {
                        width: 30px;
                        height: 30px;

                        img {
                            width: 100%;
                        }
                    }

                    // <!-- 愛心 -->
                    .img_box_report {
                        width: 30px;


                        img {
                            width: 100%;
                        }
                    }
                }

                // <!-- 立即購買 -->
                .btn-primary {
                    margin: 5px;


                    .txt_box {


                        p {
                            color: aliceblue;



                        }
                    }
                }

                // <!-- 加入購物車-->
                .btn-secondary {
                    // display: none;
                    margin: 5px;
                    font-family: 'Noto Sans TC', sans-serif;
                    font-size: 14px;
                    letter-spacing: .05em;
                    border-radius: .75em;
                    font-weight: 500;
                    color: var(--primary-color);
                    background-color: var(--button-secondary);
                    border: none;
                    outline: none;
                    padding: 5px 13px;
                    cursor: pointer;



                }

                .txt_box {


                    p {}
                }
            }
        }
    }
}

// 網友留言區
.product_page {
    .product_comment {
        width: 100%;
        position: relative;
        padding: 20px 10px;
        padding-bottom: 100px;

        p {}

        .comment_box {
            display: flex;
            padding: 20px 0;
            border-bottom: 1px solid #a3a3a3;

            .comment_head_photo {
                margin-right: 10px;

                img {
                    border-radius: 50%;
                }

                ;
            }

            .comment_txt {
                position: relative;
                width: 100%;

                .comment_mem_name_box {
                    display: flex;
                    justify-content: space-between;
                    font-size: var(--tag);

                    .comment_mem_name_item {}

                    .comment_impeach_icon {
                        width: 15px;
                        margin-right: 5px;

                        img {
                            width: 100%;
                            vertical-align: middle;
                        }
                    }
                }

                .comment_content {
                    padding: 5px 0;
                }

                .comment_info {
                    font-size: var(--tag);
                    display: flex;

                    .comment_like_box {
                        margin-right: 15px;
                        display: flex;
                        align-items: center;

                        .comment_like_icon {
                            width: 15px;
                            margin-right: 5px;

                            img {
                                width: 100%;
                            }
                        }

                        .comment_like_amount {}
                    }

                    .comment_date {
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}