// header
@import 'layout/header';
// common
@import 'layout/common';
@import 'layout/sidebar';

* {
    /* 字體 : 中文-sans-serif | 英文-Poppins */
    font-family: 'Poppins', sans-serif;
    // color: $font-primary;
    // color: var(font-primary);
    color: #5E5E5E;
}

// 手機板

// 好物商城
// 廣告投放
.main {
    .owl-carousel {
        margin-top: 50px;

        .advertise {
            width: 100%;

            .item_box {

                a {
                    .img_box {
                        padding: 20px;


                        img {
                            width: 100%;
                            border-radius: 20px;
                            display: block;
                            margin: 0 auto;

                        }
                    }
                }
            }
        }
    }
}

// 真實評論，好友討論，免運
.main {
    .comment {
        width: 100%;

        a {
            text-decoration: none;

            .item_box {
                margin: auto;
                display: flex;
                justify-content: space-around;
                background-color: #f97373;
                border-radius: 20px;
                margin: 4%;

                .item {
                    display: flex;
                    padding: 20px;
                    align-items: center;
                    box-sizing: border-box;


                    .img_box {
                        width: 20px;

                        img {
                            width: 100%;
                        }

                        .txt_box {
                            p {
                                text-align: center;

                            }
                        }

                    }
                }
            }
        }
    }
}

// 商品分類
.main {
    .sort {
        width: 100%;

        .item_box {
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;

            a {
                text-decoration: none;



                .item {
                    box-sizing: border-box;
                    padding: 12px;

                    .img_box {
                        padding-bottom: 10px;
                        width: 44px;
                        // 使圖片致中對其下面的字
                        display: block;
                        margin: 0 auto;

                        img {
                            width: 100%;
                        }

                        .txt_box {
                            p {}
                        }
                    }
                }
            }
        }
    }
}

// 熱門商品
.main {
    .hot {
        width: 100%;
        padding: 20px;

        .hot_item_box {
            .title {
                display: flex;
                align-items: center;

                .txt_box {
                    p {}
                }

                .img_box {
                    img {
                        width: 30px;
                    }
                }
            }

            .item_box {
                display: flex;
                justify-content: space-around;
                background-color: #E1E1E1;
                margin: 10px;
                padding: 10px;
                border-radius: 20px;

                a {
                    text-decoration: none;

                    .item {
                        box-sizing: border-box;

                        .img_box {

                            margin: 0 auto;

                            img {
                                width: 100%;
                                border-radius: 20px;
                            }
                        }

                        .txt_box {
                            p {
                                text-align: center;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}



// 全部商品
.main {
    .all {
        width: 100%;
        margin-bottom: 50px;


        .all_item_box {
            .title {
                margin-left: 30px;

                p {}
            }

            .item_box {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                box-sizing: border-box;
                padding: 10px;

                a {
                    text-decoration: none;

                    .item {
                        width: 180px;
                        background-color: rgb(247, 240, 240);
                        margin: 10px;
                        border-radius: 20px;
                        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);


                        .img_box {
                            width: 180px;

                            img {
                                width: 100%;
                                border-radius: 20px 20px 0px 0px;
                            }
                        }

                        .txt_box {
                            padding: 10px;

                            p {
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 桌機板
@media screen and (min-width:768px) {

    // 廣告投放
    .main {

        .owl-carousel {

            .advertise {

                .item_box {

                    a {
                        .img_box {


                            img {}
                        }
                    }
                }
            }
        }
    }

    // 真實評論，好友討論，免運
    .main {
        .comment {

            a {

                .item_box {


                    .item {



                        .img_box {
                            img {}

                            .txt_box {
                                p {}
                            }

                        }
                    }
                }
            }
        }
    }

    // 商品分類
    .main {
        .sort {


            .item_box {


                a {




                    .item {


                        .img_box {


                            img {}

                            .txt_box {
                                p {}
                            }
                        }
                    }
                }
            }
        }
    }

    // 熱門商品
    .main {
        .hot {


            .hot_item_box {
                .title {


                    .txt_box {
                        p {}
                    }

                    .img_box {
                        img {}
                    }
                }

                .item_box {



                    a {


                        .item {


                            .img_box {


                                img {
                                    width: 100%;
                                }
                            }

                            .txt_box {
                                p {}
                            }
                        }
                    }
                }
            }
        }
    }



    // 全部商品
    .main {
        .all {



            .all_item_box {
                .title {


                    p {}
                }

                .item_box {


                    a {


                        .item {



                            .img_box {
                                width: 260px;

                                img {
                                    width: 100%;
                                }
                            }

                            .txt_box {


                                p {}
                            }
                        }
                    }
                }
            }
        }
    }


}

// 好物商城
// 廣告投放