// header
@import 'layout/header';
// common
@import 'layout/common';
@import 'layout/sidebar';

* {
    /* 字體 : 中文-sans-serif | 英文-Poppins */
    font-family: 'Poppins', sans-serif;
    // color: $font-primary;
    // color: var(font-primary);
    color: #5E5E5E;
}

// ------------------好物商城-----------------------

// -----------手機板


// 廣告投放
.main_product {
    .owl-carousel {
        margin-top: 50px;

        .advertise {
            width: 100%;

            .item_box {

                a {
                    .img_box {
                        padding: 10px;
                        width: 90%;
                        margin: 0 auto;

                        img {
                            width: 100%;
                            border-radius: 20px;
                            display: block;
                            margin: 0 auto;
                            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);


                        }
                    }
                }
            }
        }
    }
}

// 真實評論，好友討論，免運
.main_product {
    .comment {
        width: 100%;

        a {
            text-decoration: none;

            .item_box {
                margin: auto;
                display: flex;
                justify-content: space-around;
                background-color: #f97373;
                border-radius: 20px;
                margin: 4%;

                .item {
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    box-sizing: border-box;


                    .img_box {
                        width: 20px;
                        margin: 5px;

                        img {
                            width: 100%;
                        }

                        .txt_box {
                            p {
                                text-align: center;

                            }
                        }

                    }
                }
            }
        }
    }
}

// 商品分類
.main_product {
    .sort {
        width: 100%;

        .item_box {
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;

            a {
                text-decoration: none;



                .item {
                    box-sizing: border-box;
                    padding: 12px;

                    .img_box {
                        padding-bottom: 10px;
                        width: 44px;
                        // 使圖片致中對其下面的字
                        display: block;
                        margin: 0 auto;

                        img {
                            width: 100%;
                        }

                        .txt_box {
                            p {}
                        }
                    }
                }
            }
        }
    }
}

// 最新上架商品
.main_product {
    .new_goods_information{  
        margin-top: 50px;
        width: 100%;
        padding: 20px;
        margin: auto;
        display: none;
        // 手機頁沒有
        // 限時商品
        .time_limit_item_box{
            border-radius: 20px;
            background-color: #E1E1E1;
            padding: 10px;
            box-sizing: border-box;

            // 限時商品標題
            .title{
                display: flex;
                align-items: center;
                padding: 10px;

                // 小icon
                .img_box{
                    img{
                        width: 40px;
                        border-radius: 20px;
                    }
                }

                .txt_box {
                    display: flex;
                    align-items: center;

                    .txt_new_goods {

                        p {}
                    }

                    .txt_new_goods_time {
                        margin-left: 10px;
                        // background-color: #e24e4e;
                        padding: 5px;
                        border-radius: 20px;

                        p {
                            // color: #E1E1E1;
                        }
                    }
                }
            }

            // 商品
            a {
                text-decoration: none;
                .item_box {
                    .img_box {
                        img {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }

                    .txt_box {
                        padding: 10px;
                        p {}
                    }
                }
            }
        }

        // 最新商品
        .new_item_box {
            margin: auto;
            padding-left: 30px;
            width: 70%;
            margin-left: 10px;


            // 最新商品標題
            .title {
                display: flex;
                align-items: center;
                

                .img_box {

                    img {
                        width: 30px;
                    }
                }

                .txt_box {
                    padding-left: 20px;
                    padding-bottom: 10px;
                    p {}
                }
            }

            // 最新商品
            .item_box {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                box-sizing: border-box;

                a {
                    text-decoration: none;
                    .item {


                        padding: 10px;

                        .img_box {
                            width: 200px;

                            img {
                                width: 100%;
                                border-radius: 20px;
                            }
                        }

                        .txt_box {
                            padding: 10px;
                            p {}
                        }
                    }
                }
            }
        }
    }
}

// 熱門商品
.main_product {
    .hot {
        width: 100%;
        padding: 20px;

        .hot_item_box {
            .title {
                display: flex;
                align-items: center;

                .txt_box {
                    p {}
                }

                .img_box {
                    img {
                        width: 30px;
                    }
                }
            }

            .item_box {
                display: flex;
                justify-content: space-around;
                background-color: #E1E1E1;
                margin: 10px;
                padding: 10px;
                border-radius: 20px;

                a {
                    text-decoration: none;

                    .item {
                        box-sizing: border-box;

                        .img_box {

                            margin: 0 auto;

                            img {
                                width: 100%;
                                border-radius: 20px;
                            }
                        }

                        .txt_box {
                            padding: 10px;

                            p {}
                        }
                    }
                }
            }
        }
    }
}

// 全部商品
.main_product {
    .all {
        width: 100%;
        margin-bottom: 50px;


        .all_item_box {
            .title {
                margin-left: 30px;

                p {}
            }

            .item_box {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                box-sizing: border-box;
                padding: 10px;


                a {
                    text-decoration: none;

                    .item {
                        width: 180px;
                        background-color: rgb(247, 240, 240);
                        margin: 10px;
                        border-radius: 20px;
                        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
                        box-sizing: border-box;



                        .img_box {


                            img {
                                width: 100%;
                                border-radius: 20px 20px 0px 0px;
                            }
                        }

                        .txt_box {
                            padding: 10px;

                            p {
                                line-height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// ------------------商品內頁燈箱-------------------
// --------平板
// @media screen and (min-width:768px)and(max-width:990px){

// }

// ------------------好物商城-----------------------

// --------桌機板
@media screen and (min-width:768px) {

    // 廣告投放
    .main_product {
        // 調整避免左邊bar擋到的問題!!!
        padding-left: 20%;

        // 調整網頁大小
        margin: 4%;

        .owl-carousel {

            .advertise {

                .item_box {

                    a {
                        .img_box {
                            // 桌機板的圖片大小
                            width: 80%;

                            img {}
                        }
                    }
                }
            }
        }
    }

    // 真實評論，好友討論，免運
    .main_product {
        .comment {

            a {

                .item_box {


                    .item {



                        .img_box {
                            img {}

                            .txt_box {
                                p {}
                            }

                        }
                    }
                }
            }
        }
    }

    // 商品分類
    .main_product {
        .sort {


            .item_box {


                a {




                    .item {


                        .img_box {


                            img {}

                            .txt_box {
                                p {}
                            }
                        }
                    }
                }
            }
        }
    }

    // 最新上架商品
.main_product {
    
    .new_goods_information{
        // 手機頁沒有
        display: none;
        display: flex;
        width: 100%;
        // padding: 20px;
        margin: auto;
        flex-wrap: nowrap;
        box-sizing: border-box;

        // display: none;
        // 限時商品
        .time_limit_item_box{
            border-radius: 20px;
            background-color: #E1E1E1;
            // padding: 10px;

            // 限時商品標題
            .title{
                display: flex;
                align-items: center;
                // padding: 10px;

                // 小icon
                .img_box{
                    img{
                        width: 40px;
                        border-radius: 20px;
                    }
                }

                .txt_box {
                    display: flex;
                    align-items: center;

                    .txt_new_goods {

                        p {}
                    }

                    .txt_new_goods_time {
                        margin-left: 10px;
                        // background-color: #e24e4e;
                        // padding: 5px;
                        border-radius: 20px;

                        p {
                            // color: #E1E1E1;
                        }
                    }
                }
            }

            // 商品
            a {
                text-decoration: none;
                .item_box {
                    
                    .img_box {
                        img {
                            width: 100%;
                            border-radius: 20px;
                        }
                    }

                    .txt_box {
                        // padding: 10px;
                        p {}
                    }
                }
            }
        }

        // 最新商品
        .new_item_box {
            // padding-left: 30px;
            width: 70%;
            margin-left: 10px;


            // 最新商品標題
            .title {
                display: flex;
                align-items: center;
                

                .img_box {

                    img {
                        width: 30px;
                    }
                }

                .txt_box {
                    // padding-left: 20px;
                    // padding-bottom: 10px;
                    p {}
                }
            }

            // 最新商品
            .item_box {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                box-sizing: border-box;

                a {
                    text-decoration: none;
                    .item {


                        // padding: 10px;

                        .img_box {
                            width: 200px;

                            img {
                                width: 100%;
                                border-radius: 20px;
                            }
                        }

                        .txt_box {
                            // padding: 10px;
                            p {}
                        }
                    }
                }
            }
        }
    }
}

    // 熱門商品
    .main_product {
        .hot {


            .hot_item_box {
                .title {


                    .txt_box {
                        p {}
                    }

                    .img_box {
                        img {}
                    }
                }

                .item_box {



                    a {


                        .item {


                            .img_box {


                                img {
                                    width: 100%;
                                }
                            }

                            .txt_box {
                                p {}
                            }
                        }
                    }
                }
            }
        }
    }



    // 全部商品
    .main_product {
        .all {



            .all_item_box {
                .title {


                    p {}
                }

                .item_box {


                    a {


                        .item {
                            margin: 10px;
                            // width: 260px;


                            .img_box {
                                // width: 260px;

                                img {
                                    width: 100%;
                                }
                            }

                            .txt_box {


                                p {}
                            }
                        }
                    }
                }
            }
        }
    }


}

// 好物商城
// 廣告投放