// header
@import 'layout/header';
// common
@import 'layout/common';

* {
    /* 字體 : 中文-sans-serif | 英文-Poppins */
    // font-family: 'Poppins', sans-serif;
    // color: $font-primary;
    // color: var(font-primary);
    color: #5E5E5E;
}

// 商品頁// 手機板

// 標題
.product_page {
    overflow: scroll;

    // <!-- 商品最上面的標題 -->
    .product_page_title {
        display: flex;
        background-color: #164570;
        align-items: center;
        padding: 10px;

        // <!-- 商品名稱 -->
        .txt_box {
            // 對其
            margin: auto;

            p {
                color: var(--primary-color);
            }
        }

        // <!-- 三個點點 -->
        .img_box {
            // display: none;
            width: 20px;
            // 三個點點轉向
            transform: rotate(90deg);

            img {
                width: 100%;
            }
        }
    }
}

// 追蹤分類
.product_page {
    .product_page_sort_follow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        // 圖片
        .product_img_box {
            width: 60px;
            padding: 10px;

            img {
                width: 100%;
            }
        }

        // 文字
        .txt_box {

            p {
                margin: 0px;
            }
        }

        // 按鈕
        .product_follow {
            background-color: #164570;
            border-radius: 10px;
            // 向左靠
            margin-left: 60%;

            .txt_box {
                padding: 5px;

                p {
                    color: azure;
                }
            }
        }
    }
}

// 燈箱(商品
.product_page_pic {
    .product_large {
        img {}
    }

    .product_small {


        img {}
    }
}

// <!-- 商品價格/資訊 -->
.product_page_price_in {
    margin-bottom: 100px;

    .txt_box {
        padding: 20px;

        p {
            line-height: 28px;
            padding-bottom: 10px;
        }
    }
}

// <!-- 商品留言 -->
.product_page_msg {
    padding: 10px;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: rgb(255, 255, 255);




    //   <!-- 右邊 -->
    .item_box_msger {
        display: flex;
        align-items: center;




        // <!-- 留言頭貼 -->
        .img_box {
            width: 32px;
            // 底下空白消失
            height: 32px;



            img {
                width: 100%;
            }
        }

        // <!-- 留言 -->
        .txt_box {
            min-width: 100px;
            padding-left: 10px;

            input {
                border: none;

            }
        }
    }

    // <!-- 左邊icon -->
    .item_box_fuction_icon {
        display: flex;
        align-items: center;


        .img_box {
            display: flex;

            // <!-- 收藏 -->
            .img_box_save {
                width: 40px;
                height: 40px;
                img {
                    width: 100%;
                }
            }

            // <!-- 檢舉 -->
            .img_box_report {
                width: 32px;

                img {
                    width: 100%;
                }
            }
        }

        // <!-- 立即購買 -->
        .product_button_shopping {
            background-color: #FA4C4C;
            border-radius: 8px;
            margin: 5px;
            width: 60px;
            margin-left: 10px;



            .txt_box {
                padding-bottom: 10px;
                padding-top: 10px;

                p {
                    color: aliceblue;
                    // padding: 5px;
                    text-align: center;
                    font-size: small;


                }
            }
        }

        // <!-- 加入購物車-->
        .product_button_shop_cat {
            background-color: #164570;
            border-radius: 8px;
            margin: 5px;
            width: 70px;




        }



        .txt_box {
            padding-bottom: 10px;
            padding-top: 10px;

            p {
                color: aliceblue;
                text-align: center;
                font-size: small;


            }
        }
    }
}


// hover
// <!-- 商品留言 -->
.product_page_msg {
    height: 90px;



    //   <!-- 右邊 -->
    .item_box_msger {

        // <!-- 留言頭貼 -->
        .img_box {


            img {}
        }

        // <!-- 留言 -->
        .txt_box {


            input {}
        }
    }

    // <!-- 左邊icon -->
    .item_box_fuction_icon {


        .img_box {


            // <!-- 收藏 -->
            .img_box_save {


                img {}
            }

            // <!-- 檢舉 -->
            .img_box_report {


                img {}
            }
        }

        // <!-- 立即購買 -->
        .product_button_shopping:hover {
            // background-color: rgb(255, 255, 255);
            // transition: 00.5s;
            // cursor: pointer;


            .txt_box:hover {
                // border: solid 1px #FA4C4C;
                // border-radius: 8px;


                p:hover {
                    // cursor: move;
                    // color: #FA4C4C;
                    // text-align: default;                    
                }
            }
        }

        // <!-- 加入購物車-->
        .product_button_shop_cat:hover {
            // background-color: aliceblue;
            // transition: 00.5s;
            // cursor: pointer;

        }



        .txt_box:hover {
            // border: solid 1px #164570;
            // border-radius: 8px;

            p {
                // color: #164570;
                // padding: 5px; 
            }
        }
    }
}








// 商品頁// 桌機板
@media screen and (min-width:768px) {
    body {
        position: relative;
    }

    // 標題
    .product_page {
        // padding-top: 135px;
        // 背景
        width: 80%;
        margin: 0 auto;
        position: absolute;
        width: 40vw;
        height: 100%;
        top: 0;
        // 致中
        left: 29.7%;



        // <!-- 商品最上面的標題 -->
        .product_page_title {
            display: flex;
            background-color: #164570;
            align-items: center;
            padding: 10px;

            // <!-- 商品名稱 -->
            .txt_box {
                // 對其
                margin: auto;

                p {
                    color: rgb(247, 242, 234);
                }
            }

            // <!-- 三個點點 -->
            .img_box {
                width: 20px;

                img {
                    width: 100%;
                }
            }
        }
    }

    // 追蹤分類
    .product_page {
        .product_page_sort_follow {
            margin: auto;
            // width: 90%;
            justify-content: space-between;


            // 圖片
            .product_img_box {

                img {
                    width: 100%;
                }
            }

            // 文字
            .txt_box {
                min-width: 40px;

                p {
                    // 追蹤顏色被覆蓋了
                    color: whitesmoke;
                }
            }

            // 按鈕
            .product_follow {

                // 向左靠
                margin-left: 85%;

                .txt_box {


                    p {}
                }
            }
        }
    }

    // 商品照(小圖變大圖 
    .product_page_pic {

        // 大圖
        .product_large {
            margin: 0px auto;
            width: 80%;
            cursor: pointer;
            padding: 5px;

            img {
                width: 100%;
                box-shadow: 0 2px 8px 2px #ecebebce;
                border-radius: var(--img-radius);
            }
        }

        // 小圖
        .product_small {
            // 調整小圖的大小
            width: 90%;
            display: flex;
            justify-content: space-around;
            margin: 0px auto;
            cursor: pointer;

            .img_box {
                width: 80%;
                img {
                    width: 100%;
                    border-radius: var(--img-radius);
                    padding: 5px;
                }
            }
        }
    }

    // 商品照
    .product_page {
        .product_page_pic {
            margin: auto;

            .img_box {
                margin: 0 auto;
                padding: 10px;
                width: 70%;

                img {
                    width: 100%;
                    border-radius: 20px;
                    box-shadow: 0 2px 8px 2px #ecebebce;
                    // 背景陰影
                }
            }
        }
    }

    // <!-- 商品價格/資訊 -->
    .product_page_price_in {
        padding-bottom: 100px;

        .txt_box {
            padding: 20px;

            p {
                line-height: 28px;
                padding-bottom: 10px;
            }
        }
    }

    // <!-- 商品留言 -->
    .product_page_msg {
        // 對其上面大小
        width: 40%;
        padding: 10px;
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: rgb(255, 255, 255);
        justify-content: space-between;





        //   <!-- 右邊 -->
        .item_box_msger {
            display: flex;
            align-items: center;




            // <!-- 留言頭貼 -->
            .img_box {
                width: 32px;
                // 底下空白消失
                height: 32px;



                img {
                    width: 100%;
                }
            }

            // <!-- 留言 -->
            .txt_box {
                min-width: 100px;
                padding-left: 10px;

                input {
                    border: none;

                }
            }
        }

        // <!-- 左邊icon -->
        .item_box_fuction_icon {
            display: flex;
            align-items: center;


            .img_box {
                display: flex;

                // <!-- 收藏 -->
                .img_box_save {
                    width: 30px;
                    height: 30px;

                    img {
                        width: 100%;
                    }
                }

                // <!-- 檢舉 -->
                .img_box_report {
                    width: 30px;
                    // transform: rotate(90deg);

                    img {
                        width: 100%;
                    }
                }
            }

            // <!-- 立即購買 -->
            .btn-primary {
                margin: 5px;


                .txt_box {


                    p {
                        color: aliceblue;



                    }
                }
            }

            // <!-- 加入購物車-->
            .btn-secondary {
                margin: 5px;




            }



            .txt_box {


                p {


                }
            }
        }
    }


    // hover
    // <!-- 商品留言 -->
    .product_page_msg {
        height: 90px;



        //   <!-- 右邊 -->
        .item_box_msger {

            // <!-- 留言頭貼 -->
            .img_box {


                img {}
            }

            // <!-- 留言 -->
            .txt_box {


                input {}
            }
        }

        // <!-- 左邊icon -->
        .item_box_fuction_icon {


            .img_box {


                // <!-- 收藏 -->
                .img_box_save {


                    img {}
                }

                // <!-- 檢舉 -->
                .img_box_report {


                    img {}
                }
            }

            // <!-- 立即購買 -->
            .product_button_shopping:hover {
                background-color: rgb(255, 255, 255);
                transition: 00.5s;
                cursor: pointer;


                .txt_box:hover {
                    border: solid 1px #FA4C4C;
                    border-radius: 8px;


                    p:hover {
                        // cursor: move;
                        color: #FA4C4C;
                        // text-align: default;                    
                    }
                }
            }

            // <!-- 加入購物車-->
            .product_button_shop_cat:hover {
                background-color: aliceblue;
                transition: 00.5s;
                cursor: pointer;

            }



            .txt_box:hover {
                border: solid 1px #164570;
                border-radius: 8px;

                p {
                    color: #164570;
                    // padding: 5px; 
                }
            }
        }
    }

}