@import "./layout/reset";
@import "./layout/common";
@import "./layout/header";

.top_bar_box {
    position: relative;
}


/* 登入頁面 */

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.signup {
    background-color: var(--secondary-color);
    // width: 450px;
    margin: 30px auto 0;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
        position: relative;

}

#pink_ball {
    position: absolute;
    top: 400px;
    right: -40%;
    transform: translate(380px, 24%);
    transform: rotate(10deg) scale(0.38);
}

#blue_ball {
    position: absolute;
    top: -100px;
    left: -30%;
    transform: rotate(10deg) scale(0.4);
}

/* Signup Form CSS Code */
.form {
    margin: 40px;
    padding: 20px 30px;
    color: #fff;
    font-weight: 800;
    position: relative;

}

.form header {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;

}

.form form {
    margin: 20px 0;
}

.form form .error-txt {
    color: #721c24;
    background-color: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}
.form label{
    font-size: 12px;
}

.form form .name-details {
    display: flex;
}

form .name-details .field:first-child {
    margin-right: 10px;
}

form .name-details .field:last-child {
    margin-left: 10px;
}

.form form .field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.form form .field input {
    outline: none;
}

.form form .input input {
    height: 28px;
    width: 80%;
    font-size: 12px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .radio,
.form form .select {
    // width: 80%;
    display: flex;
    justify-content: flex-start;
}

.form form .radio input,
.form form .select select {
    display: inline-block;
    margin: 5px 10px;

}

.form form .select select {
    display: inline-block;
    margin: 5px 1.5%;
    width: 20%;
}

.form form .select:first-child select {
    width: 100px;
}


.form form .button {
    display: flex;
    // border: 1px solid red;
    justify-content: space-between;
    margin: 0 -20px;

}


.form form .button input {
    margin: 13px 20px;
    height: 30px;
    border: none;
    width: 50%;
    font-size: 16px;
    font-weight: 800;
    background-color: #FFFFFF;
    color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.form form .button input:first-child {
    background-color: #B9B9B9;

}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a {
    color: #fff;
    text-decoration: underline;
}

.form .link a:hover {
    text-decoration: underline;
}

/* login Form CSS Code */
.form form .field {
    position: relative;
}

.form form .field i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    cursor: pointer;
}

.form form .field i.active::before {
    content: "\f070";
    color: #333;


}

@media screen and (min-width:768px){
    .wrapper{
        width: 500px;
        margin: 0 auto;
        position: relative;
    }
    #pink_ball {
        position: absolute;
        top: 400px;
        right: -35%;
        transform: translate(380px, 24%);
        transform: rotate(10deg) scale(0.38);
    }
}