// 箭頭icon
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
// reset
@import 'layout/reset';
// header
// @import 'layout/header';
// common
@import 'layout/common';


// @import 'layout/sidebar';
@mixin txt_color {
    color: var(--font-primary);
}

// 桌機版
@mixin PC {
    @media screen and (min-width:768px) {
        @content;
    }
}

// 垂直置中
@mixin onmid {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    @content;
}

// 紅底的白字
$white:aliceblue;
// title header紅底的顏色
$red_bgc:#FA4C4C;


// ------------------購物車頁面-----------------------
// 手機板
// 標題

.shopping_cart {
    @include txt_color;
    width: 100%;

    @include PC() {
        width: 50%;
        margin: 0 auto;
    }

    // 購物車最上面的title header(購物車/收藏清單)
    .shopping_cart_title {
        padding: 10px;
        justify-content: space-between;
        // 使箭頭跟文字變一排
        display: flex;
        align-items: center;
        background-color: $red_bgc;
        color: $white;

        // 返回建icon
        i:first-child {
            font-size: 1.75em;
            cursor: pointer;
        }

        // 購物車收藏清單
        .txt_box {
            // 使文字變一排
            display: flex;

            p {
                padding: 5px;
                cursor: pointer;


                &:first-of-type {
                    border-bottom: 2px solid rgba($color: $white, $alpha: 0.7);
                }

                &:last-of-type {
                    padding-right: 0px;
                }
            }

        }
    }
}

// <!-- 商品欄 -->
.shopping_cart_goods_box {
    padding: 10px 10px;
    $information_box_width: 50%;

    // 商品與商品
    .shopping_cart_goods_item_box {
        // 底線
        // box-shadow: 1px 1px 1px #9e9e9e;
        border-radius: 10px;
        background: #f0f0f0;
        padding: 15px 10px;
        position: relative;

        @include PC() {
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 1px;
                width: calc(100% - 20px);
                top: 40px;
                left: 10px;
                background: #000;
            }
        }

        .information_box {
            display: inline-block;
            width: 60%;

            @include PC {
                width: $information_box_width;
                // FIXME
                // outline: 1px solid #000;
            }

            >p:first-child {
                margin-bottom: 30px;

                @media screen and (max-width:768px) {
                    display: none;
                }
            }

            // <!-- 商品照 -->
            .img_box {
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                width: 48%;
                // width: calc((100vw - 20px) * 0.25);

                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }

            // <!-- 商品資訊 -->
            .product_txt_box {
                font-weight: 700;
                display: inline-block;
                vertical-align: middle;
                // max-width: 180px;
                width: 48%;

                @include PC {
                    width: auto;
                    margin-left: 10px;
                }
            }
        }


        // 價格數量計算
        .information_item_box {
            display: inline-block;
            vertical-align: middle;

            @include PC() {
                vertical-align: top;
                width: 99%-$information_box_width;
                // height: 90px;
                // FIXME
                // outline: 1px solid #000;
            }

            >div {
                margin: 10px 0;

                @include PC() {
                    display: inline-block;
                    margin: 0;
                    vertical-align: top;
                    text-align: center;
                }
            }

            // <!-- 單價與小計 -->
            >.txt_box {
                @include PC() {
                    width: 20%;
                }

                >* {
                    display: inline-block;

                    @include PC() {
                        display: block;
                    }
                }

                .num_box {
                    width: calc(100% - 40px);
                    text-align: center;

                    &.love_list_txt_box {
                        width: auto;
                    }

                    @include PC() {
                        width: auto;
                        @include onmid;
                    }
                }

            }

            // <!-- 數量 -->
            .item_box {
                >* {
                    display: inline-block;

                    @include PC() {
                        display: block;
                    }
                }

                .count {
                    @include PC() {
                        @include onmid;
                    }

                    img {
                        cursor: pointer;
                        display: inline-block;
                        height: 16px;
                        vertical-align: middle;
                    }

                    input {
                        max-width: 25px;
                        -moz-appearance: textfield;

                        &::-webkit-outer-spin-button,
                        ::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }

            }

            // <!-- 操作 -->
            .dosometing_box {
                @media screen and (max-width:768px) {
                    display: none;
                }

                width: 30%;

                .move_box {
                    @include onmid {
                        transform: translateY(-60%)
                    }

                    .rm_product {
                        cursor: pointer;
                        // margin-bottom: 1em;
                    }

                    .love_it {
                        cursor: pointer;
                        margin-top: 3em;
                    }
                }
            }
        }
    }
}

.total_box {
    padding: 30px 10px;
    // 靠右
    text-align: end;

    .total_num_box {
        display: inline-block;
        padding: 0 20px;
        // 文字垂直置中
        vertical-align: middle;

        .total_num {
            font-size: 1.5em;
        }
    }

    .btn-primary {
        cursor: pointer;
        $plr: 40px;
        padding-left: $plr;
        padding-right: $plr;
    }
}