<header class="top_bar_box">
    <div class="top_bar">
        <div class="logo">
            <h1>
                <a href="http://">
                    <img src="./assets/img/logo.png" alt="CiMi交友論壇">
                </a>
            </h1>
        </div>
        <div class="search_bar">
            <input type="search">
            <button>
                <img src="" alt="">
            </button>
        </div>
        <div class="member_bar">
            <ul>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
            </ul>
        </div>
    </div>
</header>