<section class="sidebar_box">
    <aside class="sidebar">
        <nav>
            <ul class="sidebar_list">
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li><a href="http://"><img src="" alt="首頁"></a></li>
                <li class="nav_pc"><a href="http://"><img src="" alt="首頁"></a></li>
                <li class="nav_pc"><a href="http://"><img src="" alt="首頁"></a>
                </li>
                <li class="nav_phone"><a href="http://"><img src="" alt="首頁"></a>
                </li>
                <li class="nav_phone"><a href="http://"><img src="" alt="首頁"></a>
                </li>
            </ul>
        </nav>
    </aside>
</section>