<div class="sidebar_box">
    <aside class="sidebar">
        <nav>
            <ul class="sidebar_list">
                <li><a href="http://"><img src="../assets/images/icon/nav_home.png" alt="首頁">首頁</a></li>
                <li><a href="http://"><img src="../assets/images/icon/nav_billboard.png" alt="首頁">所有看板</a>
                </li>
                <li><a href="http://"><img src="../assets/images/icon/nav_shop.png" alt="首頁">好物商城</a></li>
                <li><a href="http://"><img src="../assets/images/icon/nav_charts.png" alt="首頁">創作者排行榜</a>
                </li>
                <li class="nav_pc"><a href="http://"><img src="../assets/images/icon/game_card.png" alt="首頁">CiMi
                        Destiny</a></li>
                <li class="nav_pc"><a href="http://"><img src="../assets/images/icon/game_bottle.png"
                            alt="首頁">真心話大冒險</a>
                </li>
                <li class="nav_phone"><a href="http://"><img src="../assets/images/icon/games.png" alt="首頁">遊戲區</a>
                </li>
                <li class="nav_phone"><a href="http://"><img src="../assets/images/icon/nav_member.png"
                            alt="首頁">會員專區</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>