@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@500&family=Volkhov:ital,wght@0,700;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  /* 字體 : 中文-sans-serif | 英文-Poppins */
  font-family: 'Poppins', sans-serif;
}

:root {
  /* 顏色 : 可用在背景色或是文字色彩 */
  --button-primary: #F97373;
  --button-secondary: #164570;
  --primary-color: #FFFFFF;
  --secondary-color: #00324E;
  --icon-color: #E1E1E1;
  --font-primary: #5E5E5E;
  --font-secondary: #A3A3A3;
  /* 字體大小 */
  --title: 28px;
  --subtitle1: 24px;
  --subtitle2: 18px;
  --body1: 16px;
  --body2: 14px;
  --tag: 12px;
  --btn-font: 14px;
}

/* 按鈕可共用的class */
.btn-primary {
  font-size: 14px;
  background-color: var(--button-primary);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}

.btn-secondary {
  font-size: 14px;
  background-color: var(--button-secondary);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
}

/* 以下為上方搜尋區域 */
.top_bar_box {
  height: 48px;
  width: 100%;
  position: fixed;
  margin: auto;
}

.top_bar_box .top_bar {
  height: 48px;
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_bar_box .top_bar .logo_box img {
  height: 28px;
}

.top_bar_box .top_bar .search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 60%;
}

.top_bar_box .top_bar .search_bar input {
  width: 100%;
  height: 25px;
  border-radius: 50px;
}

.top_bar_box .top_bar button {
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 3px;
}

.top_bar_box .top_bar button img {
  width: 15px;
}

.top_bar_box .top_bar .member_bar {
  display: none;
}

@media screen and (min-width: 768px) {
  /* 以下為上方搜尋區域 */
  .top_bar_box .top_bar .member_bar {
    display: block;
  }
  .top_bar_box .top_bar .member_bar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .top_bar_box .top_bar .member_bar ul img {
    width: 30px;
  }
}

/* 以下側邊欄 */
.sidebar {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 12px;
}

.sidebar .sidebar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar .sidebar_list .nav_pc {
  display: none;
}

.sidebar .sidebar_list a {
  font-size: 0;
}

.sidebar .sidebar_list a img {
  width: 30px;
}

@media screen and (min-width: 768px) {
  /* 以下側邊欄 */
  .sidebar_box {
    width: 20%;
  }
  .sidebar_box .sidebar_box::before {
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
  }
  .sidebar_box .sidebar {
    width: 20%;
    max-width: 288px;
    margin-top: 48px;
    top: 0;
  }
  .sidebar_box .sidebar .sidebar_list {
    display: block;
  }
  .sidebar_box .sidebar .sidebar_list .nav_phone {
    display: none;
  }
  .sidebar_box .sidebar .sidebar_list .nav_pc {
    display: block;
  }
  .sidebar_box .sidebar .sidebar_list a {
    font-size: 16px;
  }
}

.article_sort_banner {
  width: 100%;
}

.article_sort_banner img {
  width: 100%;
}

.article_sort {
  width: 100%;
  position: relative;
  padding: 40px;
}

.article_sort .article_sort_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

.article_sort .article_sort_box .article_sort_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article_sort .article_sort_box .article_sort_item .article_sort_icon {
  width: 30px;
}

.article_sort .article_sort_box .article_sort_item .article_sort_icon img {
  width: 100%;
  vertical-align: middle;
}

.article_sort .article_sort_box .article_sort_item .article_sort_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--title);
  padding: 0 10px;
}

.article_sort .change_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cccccc;
}

.article_sort .change_page .tag {
  padding: 5px;
  font-size: var(--subtitle2);
  margin-right: 20px;
}

.article_sort .change_page .hot_article {
  border-bottom: 3px solid #00324E;
}

.article_sort .article_box {
  position: relative;
}

.article_sort .article_box .article_mem_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.article_sort .article_box .article_mem_info .article_mem_icon {
  width: 18px;
}

.article_sort .article_box .article_mem_info .article_mem_icon img {
  width: 100%;
  border-radius: 50%;
  vertical-align: middle;
}

.article_sort .article_box .article_mem_info .article_mem_name {
  padding: 0 5px;
  font-size: var(--body2);
}

.article_sort .article_box .article_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 140px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.article_sort .article_box .article_container .article_txt_box {
  position: relative;
}

.article_sort .article_box .article_container .article_txt_box .article_title {
  padding-bottom: 10px;
  font-size: var(--subtitle2);
  font-weight: 700;
}

.article_sort .article_box .article_container .article_txt_box .article_react {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.article_sort .article_box .article_container .article_txt_box .article_react .article_like_box,
.article_sort .article_box .article_container .article_txt_box .article_react .article_comment_box,
.article_sort .article_box .article_container .article_txt_box .article_react .article_collect_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px 10px 0;
}

.article_sort .article_box .article_container .article_txt_box .article_react .article_like_box .article_icon_item,
.article_sort .article_box .article_container .article_txt_box .article_react .article_comment_box .article_icon_item,
.article_sort .article_box .article_container .article_txt_box .article_react .article_collect_box .article_icon_item {
  width: 15px;
}

.article_sort .article_box .article_container .article_txt_box .article_react .article_like_box .article_icon_item img,
.article_sort .article_box .article_container .article_txt_box .article_react .article_comment_box .article_icon_item img,
.article_sort .article_box .article_container .article_txt_box .article_react .article_collect_box .article_icon_item img {
  width: 100%;
}

.article_sort .article_box .article_container .article_txt_box .article_react .article_like_amount,
.article_sort .article_box .article_container .article_txt_box .article_react .article_collect_amount,
.article_sort .article_box .article_container .article_txt_box .article_react .article_comment_amount {
  font-size: var(--tag);
  padding-left: 5px;
}

.article_sort .article_box .article_container .article_pic_box {
  height: 100%;
}

.article_sort .article_box .article_container .article_pic_box img {
  height: 100%;
  border-radius: 10px;
  padding: 5px;
  vertical-align: middle;
}
/*# sourceMappingURL=article_all.css.map */