@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@500&family=Volkhov:ital,wght@0,700;1,700&display=swap');


* {
    /* 字體 : 中文-sans-serif | 英文-Poppins */
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

:root {
    /* 顏色 : 可用在背景色或是文字色彩 */
    --button-primary: #F97373;
    --button-secondary: #164570;
    --primary-color: #FFFFFF;
    --secondary-color: #00324E;
    --icon-color: #E1E1E1;
    --font-primary: #5E5E5E;
    --font-secondary: #A3A3A3;

    /* 字體大小 */
    --title: 28px;
    --subtitle1: 24px;
    --subtitle2: 18px;
    --body1: 16px;
    --body2: 14px;
    --tag: 12px;
    --btn-font: 14px;
}

/* 按鈕可共用的class */
.btn-primary {
    font-size: 14px;
    background-color: var(--button-primary);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--primary-color);
}
.btn-secondary {
    font-size: 14px;
    background-color: var(--button-secondary);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    color: var(--primary-color);
}

