<header class="top_bar_box">
    <div class="top_bar">
        <div class="logo_box">
            <h1>
                <a href="index.html">
                    <img src="assets/images/index_logo.svg" alt="CiMi交友論壇">
                </a>
            </h1>
        </div>
        <form class="search_bar" action="">
            <input type="search">
            <button type="submit">
                <img src="assets/images/icon/nav_search.png" alt="搜尋">
            </button>
        </form>
        <div class="member_bar">
            <ul>
                <li class="member_bar_phone"><a href="post.html"><img src="assets/images/icon/nav_post.png"
                            alt="發文"></a></li>
                <li class="member_bar_phone"><img src="assets/images/icon/cart.png" alt="購物車"></li>
                <li><a href="chat.html"><img src="assets/images/icon/nav_message.png" alt="聊天室"></a></li>
                <li><a href="member_my_setup.html"><img src="assets/images/icon/nav_member.png" alt="會員"></a></li>
            </ul>
        </div>
    </div>
</header>

<!-- 購物車燈箱 -->
<script src="js/vue.js"></script>
<div id="shoppingApp">
    <div class="shopping_cart_light_box">
        <shopping-cart></shopping-cart>
    </div>
</div>
<script src="js/shop_cart.js"></script>
<link rel="stylesheet" href="assets/css/shop_cart.css">