<div class="shopping_cart_goods_box">
  <div class="shopping_cart_goods_item_box">
    <!-- 商品照 -->
    <div class="img_box">
      <img src="https://picsum.photos/300/300/?random=10">
    </div>
    <!-- 商品資訊 -->
    <div class="product_txt_box">
      <p>推薦|玫瑰花束</p>
    </div>
    <div class="information_item_box">
      <!-- 單價 -->
      <div class="txt_box">
        <p>單價 $<span>200</span></p>
      </div>
      <!-- 數量 -->
      <div class="item_box">
        <p>數量<img src="assets/images/icon/article_left.png"><input min="0" type="number" v-model="count"><img
            src="assets/images/icon/article_right.png">
        </p>
      </div>
      <!-- 商品小計 -->
      <div class="txt_box">
        <p>小計 $<span>200</span></p>
      </div>
    </div>
  </div>
</div>