<div class="shopping_cart_goods_box">
  <div class="shopping_cart_goods_item_box">

    <div class="information_box">
      <p>商品</p>
      <!-- 商品照 -->
      <div class="img_box">
        <img src="https://picsum.photos/300/300/?random=10">
      </div>
      <!-- 商品資訊 -->
      <div class="product_txt_box">
        <p>推薦|玫瑰花</p>
      </div>
    </div>

    <!-- 價格數量計算 -->
    <div class="information_item_box">
      <!-- 單價 -->
      <div class="txt_box">
        <p>單價 </p>
        <p class="num_box"><span>$200</span></p>
      </div>

      <!-- 數量 -->
      <div class="item_box">
        <p>數量</p>
        <div class="count">
          <img src="assets/images/icon/article_left.png">
          <input min="0" type="number" value="999">
          <img src="assets/images/icon/article_right.png">
        </div>
      </div>

      <!-- 商品小計 -->
      <div class="txt_box">
        <p>小計 </p>
        <p class="num_box"><span>$200</span></p>
      </div>

      <!-- 操作 -->
      <div class="txt_box dosometing_box">
        <p>操作</p>
        <div class="move_box">
          <p class="rm_product">移除商品</p>
          <p class="love_it">加入收藏</p>
        </div>
      </div>
    </div>
  </div>
</div>