<div class="sidebar_box">
    <aside class="sidebar">
        <nav>
            <ul class="sidebar_list">
                <li><a href="homepage.html"><img src="assets/images/icon/nav_home.svg" alt="首頁">首頁</a>
                </li>
                <li><a href="billboard.html"><img src="assets/images/icon/nav_billboard.svg" alt="所有看版">所有看版</a>
                </li>
                <li><a href="product.html"><img src="assets/images/icon/nav_shop.svg" alt="好物商城">好物商城</a>
                </li>
                <li><a href="charts.html"><img src="assets/images/icon/nav_charts.svg" alt="創作者排行榜">創作者排行榜</a>
                </li>
                <li id="cimi_destiny"><a><img src="assets/images/icon/game_card.svg" alt="CiMi
                            Destiny">CiMi
                        Destiny</a></li>
                <li class="nav_phone"><a href="member.html"><img src="assets/images/icon/nav_member.svg"
                            alt="會員專區">會員專區</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
<script src="js/sidebar.js"></script>