<div class="sidebar_box">
    <aside class="sidebar">
        <nav>
            <ul class="sidebar_list">
                <li class="nav_phone"><a href="http://"><img src="assets/images/icon/nav_home_w.png" alt="首頁">首頁</a>
                </li>
                <li><a href="http://"><img src="assets/images/icon/nav_billboard_w.png" alt="所有看版">所有看版</a>
                </li>
                <li><a href="http://"><img src="assets/images/icon/nav_shop_w.png" alt="好物商城">好物商城</a></li>
                <li><a href="http://"><img src="assets/images/icon/nav_charts_w.png" alt="創作者排行榜">創作者排行榜</a>
                </li>
                <li class="nav_pc"><a href="http://"><img src="assets/images/icon/game_card_w.png" alt="CiMi
                            Destiny">CiMi
                        Destiny</a></li>
                <li class="nav_pc"><a href="http://"><img src="assets/images/icon/game_bottle_w.png"
                            alt="真心話大冒險">真心話大冒險</a>
                </li>
                <li class="nav_phone"><a href="http://"><img src="assets/images/icon/games_w.png" alt="遊戲區">遊戲區</a>
                </li>
                <li class="nav_phone"><a href="http://"><img src="assets/images/icon/nav_member_w.png"
                            alt="會員專區">會員專區</a>
                </li>
            </ul>
        </nav>
    </aside>
</div>