@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500&family=Poppins:wght@100;300;500&display=swap');

body {
    /* 字體 : 中文-Noto Sans TC | 英文-Poppins */
    font-family: 'Poppins', sans-serif,'Noto Sans TC', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    box-sizing: border-box;
}

:root {
    /* 顏色 : 可用在背景色或是文字色彩 */
    --button-primary: #F97373;      //var(--button-primary)
    --button-secondary: #164570;    //var(--button-secondary)
    --primary-color: #FFFFFF;       //var(--primary-color)
    --secondary-color: #00324E;     //var(--secondary-color)
    --icon-color: #E1E1E1;          //var(--icon-color)
    --font-primary: #5E5E5E;        //var(--font-primary)
    --font-secondary: #A3A3A3;      //var(--font-secondary)

    /* 字體大小 */
    --title: 28px;      //var(--title)
    --subtitle1: 24px;  //var(--subtitle1)
    --sidebar: 20px;    //var(--sidebar)
    --subtitle2: 18px;  //var(--subtitle2)
    --body1: 16px;      //var(--body1)
    --body2: 14px;      //var(--body2)
    --tag: 12px;        //var(--tag)
    --btn-font: 14px;   //var(--btn-font)

    /* 字體粗細 */
    --thin: 100;    //var(--thin)
    //300為預設值,不用特別寫
    --bold: 500;    //var(--bold)

    /* 圖片/背景的圓角 */
    --img-radius: 12px;     //var(--img-radius)
    --bgc-radius: 15px;     //var(--bgc-radius)
}

/* 按鈕可共用的class */
.btn-primary { //紅底白字
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    letter-spacing: .05em;
    border-radius: .75em;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--button-primary);
    border: none;
    outline: none;
    padding: 5px 13px;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--button-primary);
    background-color: var(--primary-color);
    border: 1px solid var(--button-primary);
}

.btn-secondary { //藍底白字
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    letter-spacing: .05em;
    border-radius: .75em;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--button-secondary);
    border: none;
    outline: none;
    padding: 5px 13px;
    cursor: pointer;
}

.btn-secondary:hover {
    color: var(--button-secondary);
    background-color: var(--primary-color);
    border: 1px solid var(--button-secondary);
}

.btn-third { //白底灰字
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    letter-spacing: .05em;
    border-radius: .75em;
    font-weight: 500;
    color: var(--font-primary);
    background-color: var(--primary-color);
    border: 1px solid var(--font-primary);
    outline: none;
    padding: 5px 13px;
    cursor: pointer;
}

.btn-third:hover {
    color: var(--button-secondary);
    background-color: var(--primary-color);
    border: 1px solid var(--button-secondary);
}