@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500&family=Poppins:wght@100;300;500&display=swap');

body {
    /* 字體 : 中文-Noto Sans TC | 英文-Poppins */
    font-family: 'Poppins', sans-serif,'Noto Sans TC', sans-serif;
    line-height: 1.5;
    font-weight: 300;
}

:root {
    /* 顏色 : 可用在背景色或是文字色彩 */
    --button-primary: #F97373;
    --button-secondary: #164570;
    --primary-color: #FFFFFF;
    --secondary-color: #00324E;
    --icon-color: #E1E1E1;
    --font-primary: #5E5E5E;
    --font-secondary: #A3A3A3;

    /* 字體大小 */
    --title: 28px;
    --subtitle1: 24px;
    --subtitle2: 18px;
    --body1: 16px;
    --body2: 14px;
    --tag: 12px;
    --btn-font: 14px;

    /* 字體粗細 */
    --thin: 100;
    //300為預設值,不用特別寫
    --bold: 500;

    /* 圖片/背景的圓角 */
    --img-radius: 12px;
    --bgc-radius: 15px;
}

/* 按鈕可共用的class */
.btn-primary {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    letter-spacing: .05em;
    border-radius: .75em;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--button-primary);
    border: none;
    outline: none;
    padding: 5px 13px
}

.btn-primary:hover {
    color: var(--button-primary);
    background-color: var(--primary-color);
    border: 1px solid var(--button-primary);
}

.btn-secondary {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    letter-spacing: .05em;
    border-radius: .75em;
    font-weight: 500;
    color: var(--primary-color);
    background-color: var(--button-secondary);
    border: none;
    outline: none;
    padding: 5px 13px
}

.btn-secondary:hover {
    color: var(--button-secondary);
    background-color: var(--primary-color);
    border: 1px solid var(--button-secondary);
}