/* 以下為主頁橫排 */
.content_area{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
}

/* 以下側邊欄 */
.sidebar{
    position: fixed;
    width: 100%;
    margin-top:100px;
    // min-width:170px;
    bottom: 0;
    padding: 15px;
    font-size: var(--sidebar);
    background-color: var(--secondary-color);
    z-index: 11;
    .sidebar_list{
        display: flex;
        justify-content: space-between;
        li:hover img{
            filter: invert(100%);
        }
        .nav_pc{
            display: none;
        }
        a{
            font-size: 0;
            img{
                width: 30px;
                margin-right: 0px;
                vertical-align: top;
                filter: invert(60%);
            }
        }
    }
}
@media screen and (min-width: 768px) {    
    /* 以下側邊欄 */
    .sidebar_box{
        width: 20%;
        .sidebar{
            width: 20%;
            max-width: 288px;
            margin-top: 100px;
            padding: 33px 15px 0px 30px;
            top: 0;
            border-top-right-radius: 100px;
            .sidebar_list{
                display: inline-block;
                li+li{
                    padding-top: 15px;
                }
                li{
                    cursor: pointer;
                    transition: 0.7s;
                }
                li:hover{
                    transform: translateX(31px);
                }
                .nav_phone{
                    display: none;
                }
                .nav_pc{
                    display: block;
                }
                a{
                    font-size: var(--body1);
                    vertical-align: text-top;
                    text-decoration: none;
                    color: #ccc;
                    img{
                        width: 20px;
                        margin-right: 10px;
                        vertical-align: inherit;
                        position: relative;
                    }
                }
                a:hover{
                    color: #fff;
                    text-shadow:0 0 5px rgb(77, 68, 202);
                }
            }
        }
    }
}